<script>
import NavBar from "~/components/Header/NavBar.vue";

export default {
  name: "HeaderComponent",
  components: {NavBar}
}
</script>

<template>
  <header class="header">
    <div class="container-fluid">
      <NavBar/>
    </div>
  </header>
</template>

<style scoped>
</style>
