<script>
import MenuList from "~/components/Header/Menu/MenuList.vue";
import Profile from "~/components/Header/Profile/Profile.vue";
import Search from "~/components/Header/Search.vue";
import 'animate.css';

export default {
  name: "NavBar",
  components: {Search, Profile, MenuList},
  data() {
    return {
      showMenu: false,
    }
  }
}
</script>

<template>
  <nav class="navbar navbar-expand-lg navbar-light">
    <router-link to="/" class="navbar-brand flex-center">Logo</router-link>
    <button class="navbar-toggler" type="button" @click="showMenu = !showMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--    <transition name="fade"-->
<!--                enter-active-class="animate__animated animate__lightSpeedInLeft"-->
<!--                leave-active-class="animate__animated animate__lightSpeedOutRight">-->
      <div class="navbar-collapse" id="navbarSupportedContent" v-if="showMenu">
        <div class="header__content d-flex align-items-center justify-content-between flex-grow-1">
          <MenuList/>
<!--          <Search/>-->
          <Profile/>
        </div>
      </div>
<!--    </transition>-->
    <div class="navbar-collapse collapse" id="navbarSupportedContent" v-if="!showMenu">
      <div class="header__content d-flex align-items-center justify-content-between flex-grow-1">
        <MenuList/>
<!--        <Search/>-->
        <Profile/>
      </div>
    </div>
  </nav>
</template>

<style scoped>
</style>
