<script>
export default {
  name: "Search",
}
</script>

<template>
  <div class="search-bar__wrapper">
    <div class="search-bar">
      <input class="search-bar__input" type="text" placeholder="Поиск..." />
      <span class="search-bar__icon flex-center"><img src="../../assets/images/svg/search-icon.svg"></span>
    </div>
  </div>
</template>

<style scoped>
</style>
