<script>
import Autocomplete from "~/components/UI/Autocomplete/Autocomplete.vue";

export default {
  name: "EventList",
  components: {Autocomplete},
}
</script>

<template>
  <div class="container-fluid">
    <div class="page__top d-flex align-items-center">
      <div class="page__top__date d-flex align-items-center">
        <div class="btn btn-light datepicker position-relative">
          <span class="icon position-absolute"><img src="@/assets/images/svg/calendar.svg"/></span>
          <input class="datepicker__input js-datepicker" readonly="" placeholder="Дата">
        </div>
      </div>
      <Autocomplete
        property="id"
        name="name"
        uri="/test"
        title="Автор"/>
      <div class="select__id select__wrapper select__with-search js-select">
        <input type="hidden" class="js-select-value">
        <div class="select__box d-flex align-items-center cursor-pointer js-select-box">
          <div class="select__text js-select-text flex-grow-1 text-center">ID</div>
          <div class="select__box__icon flex-center"><img src="@/assets/images/svg/caret.svg"/></div>
        </div>
        <div class="select__list js-select-list">
          <div class="select__list__search js-select-search ">
            <input class="select__list__search__input w-100" type="text" placeholder="Поиск">
          </div>
          <div class="select__list__in">
            <div class="select__list__option js-select-option" data-value="id-1">123455677</div>
            <div class="select__list__option js-select-option" data-value="id-2">123455677</div>
            <div class="select__list__option js-select-option" data-value="id-3">123455677</div>
            <div class="select__list__option js-select-option" data-value="id-4">123455677</div>
          </div>
        </div>
      </div>
      <div class=" select__card select__wrapper select__with-search js-select">
        <input type="hidden" class="js-select-value">
        <div class="select__box d-flex align-items-center cursor-pointer js-select-box">
          <div class="select__text js-select-text flex-grow-1 text-center">Карта плавки</div>
          <div class="select__box__icon flex-center"><img src="@/assets/images/svg/caret.svg"/></div>
        </div>
        <div class="select__list js-select-list">
          <div class="select__list__search js-select-search ">
            <input class="select__list__search__input w-100" type="text" placeholder="Поиск">
          </div>
          <div class="select__list__in">
            <div class="select__list__option js-select-option" data-value="k-1">209</div>
            <div class="select__list__option js-select-option" data-value="k-2">209</div>
            <div class="select__list__option js-select-option" data-value="k-3">209</div>
            <div class="select__list__option js-select-option" data-value="k-4">209</div>
          </div>
        </div>
      </div>
      <div class="select__wrapper select__with-search js-select">
        <input type="hidden" class="js-select-value">
        <div class="select__box d-flex align-items-center cursor-pointer js-select-box">
          <div class="select__text js-select-text flex-grow-1 text-center">Событие</div>
          <div class="select__box__icon flex-center"><img src="@/assets/images/svg/caret.svg"/></div>
        </div>
        <div class="select__list js-select-list">
          <div class="select__list__search js-select-search ">
            <input class="select__list__search__input w-100" type="text" placeholder="Поиск">
          </div>
          <div class="select__list__in">
            <div class="select__list__option js-select-option" data-value="s-1">Событие, событие, событие, событие
            </div>
            <div class="select__list__option js-select-option" data-value="s-2">Событие, событие, событие, событие
            </div>
            <div class="select__list__option js-select-option" data-value="s-3">Событие, событие, событие, событие
            </div>
            <div class="select__list__option js-select-option" data-value="s-4">Событие, событие, событие, событие
            </div>
          </div>
        </div>
      </div>


      <div class="select__wrapper js-select ml-auto">
        <input type="hidden" class="js-select-value">
        <div class="select__box d-flex align-items-center cursor-pointer js-select-box">
          <div class="select__text js-select-text flex-grow-1 text-center">Сортировать по</div>
          <div class="select__box__icon flex-center ml-2"><img src="@/assets/images/svg/sort.svg"/></div>
        </div>
        <div class="select__list js-select-list">
          <div class="select__list__option js-select-option" data-value="sort-1">Дата</div>
          <div class="select__list__option js-select-option" data-value="sort-2">Автор</div>
          <div class="select__list__option js-select-option" data-value="sort-3">ID</div>
          <div class="select__list__option js-select-option" data-value="sort-4">Карта плавки</div>
          <div class="select__list__option js-select-option" data-value="sort-5">Событие</div>
        </div>
      </div>
    </div>
    <div class="table-responsive event-log__table">
      <table class="table table-borderless ">
        <thead>
        <tr>
          <th>Дата / Время</th>
          <th>Автор</th>
          <th>ID</th>
          <th>Карта плавки</th>
          <th>Событие</th>
          <th>Значение до</th>
          <th>Значение после</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Сегодня, 12.12.2022</td>
          <td>Старовойтов Евгений Сергеевич</td>
          <td>123455677</td>
          <td>209</td>
          <td>Событие, событие, событие, событие</td>
          <td>12 10 10101 11763 16377</td>
          <td>12 10 10101 11763 16377</td>
        </tr>
        <tr>
          <td>Сегодня, 12.12.2022</td>
          <td>Старовойтов Евгений Сергеевич</td>
          <td>123455677</td>
          <td>209</td>
          <td>Событие, событие, событие, событие</td>
          <td>12 10 10101 11763 16377</td>
          <td>12 10 10101 11763 16377</td>
        </tr>
        <tr>
          <td>Сегодня, 12.12.2022</td>
          <td>Старовойтов Евгений Сергеевич</td>
          <td>123455677</td>
          <td>209</td>
          <td>Событие, событие, событие, событие</td>
          <td>12 10 10101 11763 16377</td>
          <td>12 10 10101 11763 16377</td>
        </tr>
        <tr>
          <td>Сегодня, 12.12.2022</td>
          <td>Старовойтов Евгений Сергеевич</td>
          <td>123455677</td>
          <td>209</td>
          <td>Событие, событие, событие, событие</td>
          <td>12 10 10101 11763 16377</td>
          <td>12 10 10101 11763 16377</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<style scoped>

</style>
