

.page {
  width: 100%;
  min-height: 100vh;
  background: $bg-color;
  padding: 20px 0 70px;
  &__top {
    margin-bottom: 14px;
    &__date {
      &__caption {
        margin-right: 15px;
      }
      .btn {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__buttons {
      .btn {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.p10 {
  padding-top: 10px;
}
.p34 {
  padding-bottom: 34px;
}
.datepicker {
    width: 150px;
    padding: 0 !important;
    border: none !important;

  &__input {
    padding: 0 34px 0 10px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: none !important;
    cursor: pointer;
    &::placeholder {
      color: $text-color;
    }
    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {

        background: $primary-hover-color;
        color: $white;
        &::placeholder {
          color: $white;
        }
    }
  }
  .easepick-wrapper {
    .container {
      border-radius: 12px;
      box-shadow: 2px 2px 9px rgba(79, 80, 104, 0.1);
    }
  }
}
.pagination {
  .page-item {

    &.disabled {
      .page-link {
        background: transparent;
        border-color: $table-dark;
        color: $table-border;
        svg path {
          fill: $table-border;
        }
      }
    }
    &.active {
      .page-link {
        border-color: $primary-color;
        background: $primary-color;
        color: $white;
      }
    }

  }
  .page-link {
    padding: 5px 10px ;
    font-size: 12px;
    color: $text-color;
    border-color: $table-dark;
    background: transparent;
    border-radius: 0 !important;
    text-decoration: none;
    box-shadow: none !important;
    outline: none !important;
    &:hover {
      background: $table-light;
    }
    &.prev,
    &.next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 27px;
      height: 27px;
      padding: 0;
    }
    &.prev {
      transform: rotate(90deg);
    }
    &.next {
      transform: rotate(270deg);
    }
  }
}

.table {
  font-size: 12px;
  margin-bottom: 6px;
  border-spacing: 0;
  border-collapse: inherit;

  thead,
  .t-head {
    th {
      padding: 6px;
      vertical-align: middle;
      text-align: center;
      font-weight: 400;
      color: $white;
      background: $table-dark;
      border-right: 1px solid $table-border;
     /*
      &:last-child {
        border-right: none;
      } */
      &.table__title {
        background: $table-light;
        border-bottom: 1px solid $table-border;
        font-size: 14px;
        font-weight: 700;
        color: $black;
        text-align: left;
      }
      &.zero-cell {
        background: transparent;
        position: relative;
        &:before {
          display: block;
          content: '';
          width: 100%;
          height: 3px;
          background: $bg-color;
          position: absolute;
          top: -1px;
          left: 0;
        }
        &:after {
          display: block;
          content: '';
          width: 3px;
          height: 100%;
          background: $bg-color;
          position: absolute;
          top: 0;
          left: -1px;
        }

      }
    }
    tr {
      th {
        &:first-child {
          border-left: 1px solid $table-border;
        }
        &:last-child {
          border-right: 1px solid $table-border;
        }
      }
      &:first-child {
        th {
          border-top: 1px solid $table-border;
        }
      }
    }
  }
  tbody,
  .t-body {

    th, td {
      padding: 4px;
      vertical-align: middle;
      text-align: center;
      background: transparent;
      border-right: 1px solid $table-border;
      border-bottom: 1px solid $table-border;
      color: #0F0F0F;
      min-height: 70px;
      /* &:last-child {
        border-right: none;
      } */
    }
    tr {
      &:nth-of-type(even) {
        td {
          background:$table-light;
        }
      }
      td {
        &:first-child {
          border-left: 1px solid $table-border;
        }
        &:last-child {
          border-right: 1px solid $table-border;
        }
      }
      &:last-child {
        td {
          border-bottom: 1px solid $table-border;
        }
      }
    }
  }
  .tr-first {
    td, th {
      border-top: 1px solid $table-border;
    }
  }
  .tr-last {
    td {
      border-bottom: 1px solid $table-border;
    }
  }

  &__transparent {
    border-bottom: none;
    tbody,
    .t-body {
      td {
        border-bottom: 1px solid $table-border;
      }
      tr {
        &:nth-of-type(even) {
          td {
            background: transparent !important;
          }
        }

      }
    }
  }
  .t-border-top {
    border-top: 1px solid $table-border !important;
  }
  .t-border-right {
    border-right: 1px solid $table-border !important;
  }
  .t-border-bottom {
    border-bottom: 1px solid $table-border !important;
  }
  .t-border-left {
    border-left: 1px solid $table-border !important;
  }
  .t-border-left-0 {
    border-left: none !important;
  }
  .t-border-bottom-0 {
    border-bottom: none !important;
  }
  .t-border-right-0 {
    border-right: none !important;
  }
  &.font-md {
    font-size: 14px;
  }
  .t-separator td {
    padding: 15px 0 15px;
    border: none !important;
    background: transparent !important;
  }
}

.edit__link {
  display: block;
  text-align: center;
  position: relative;
  &__tooltip {
      height: 18px;
      line-height: 18px;
      padding: 0 5px;
      font-size: 12px;
      white-space: nowrap;
      color: $white;
      background: $primary-color;
      border-radius: 18px;
      position: absolute;
      top: 0;
      right: 38px;
      display: none;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 9999s, opacity 0.1s linear;
      z-index: 1000;
  }
  &:hover {
      svg path {
          fill: $primary-color;
      }
      .edit__link__tooltip {
          display: block;
          visibility: visible;
          opacity: 1;
          transition-delay: 0s;
      }
  }
}

/* MOBILE */
@media (max-width: 1199.98px) {
  .table {
    &__sticky-left {

      th:first-child,
      td:first-child {
        position: sticky;
        left: 0px;
        z-index: 2;
        &:after {
          display: block;
          content: '';
          width: 4px;
          height: 100%;
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.12);
          position: absolute;
          top: 0;
          right: 2px;
        }
      }
    }
  }
}
@media (max-width: 991.98px)  {
  .content-box {
    padding: 25px 15px;
  }
  .page {
    &__title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    &__subtitle {
      margin-bottom: 20px;
    }
    &__nav {
      margin-bottom: 40px;
    }
    &__filter {
      flex-wrap: wrap;
      justify-content: flex-end;
      .page__title {
        margin-right: 30px !important;
      }
      .separator {
        width: 100%;
      }
      .search-bar {
        width: 100% !important;
        &__wrapper {
          margin-right: 0;
          margin-bottom: 10px;
          flex-grow: 1;
        }
        &__input {
          opacity: 1 !important;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
  }
}
@media (max-width: 575.98px) {
  .page {
    &__nav {
      &__item {
        height: auto;
        margin-bottom: 20px;
        padding: 10px 15px 20px;
      }
    }
    &__filter {
      .page__title {
        width: 100%;
        margin-bottom: 20px !important;
      }
      .select__wrapper {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
      }
      .btn {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
}
