.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-fit {
    width: fit-content;
}
.cursor-pointer {
    cursor: pointer;
}
.bg {
    &-red {
        background: $red !important;
    }
    &-orange {
        background: $orange !important;
    }
    &-blue {
        background: $blue !important;
    }
    &-green {
        background: $green !important;
    }
    &-yellow {
        background: $yellow !important;
    }
    &-gray {
        background: $table-dark !important;
    }
    &-light {
        background: $table-light !important;
    }
    &-primary {
        background: $primary-color !important;
    }
    &-white {
        background: $white !important;
    }
    &-transparent {
        background: transparent !important;
    }
}