* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  opacity: 1;
  scroll-behavior: smooth;
  transition: opacity 0.8s ease-in-out;

  &.loaded {
    opacity: 1;
  }

  &.lock {
    overflow: hidden;
    touch-action: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: $minWidth + px;
}

body {
  overscroll-behavior: none;
  font-size: var(--bs-font-size);
  font-family: var(--bs-font-family);
  font-weight: var(--bs-font-weight);
  line-height: var(--bs-line-height);
  color: var(--bs-font-color);
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

button {
  cursor: pointer;
  user-select: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

a {
  text-decoration: none;
  user-select: none;
  color: $primary-color;
  &:focus,
  &:active {
    outline: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    color: $primary-hover-color;
  }
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: $bg-color;
}
::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 6px;
  background-clip: padding-box;
}
