
$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона


:root {
  --bs-font-family: 'Montserrat', sans-serif; // Семейство шрифта по умолчанию
  --bs-font-size: 14px; // Размер шрифта по умолчанию
  --bs-font-weight: 400; // Жирность шрифта по умолчанию
  --bs-line-height: 1.2; // Базовая высота шрифта
  --bs-font-color: #111112; // Цвет шрифта по умолчанию
  --bs-transition: .3s ease-in-out;
  --bs-radius: 12px;
}

/* Colors */
$primary-color: #444BF6;
$primary-hover-color: #2C33DD;
$secondary-color: #8095A2;
$bg-color: #EAF0F4;
$error-color: #FF0000;
$error-bg: rgba(255, 0, 0, 0.1);
$black: #000;
$white: #fff;
$text-color: #111112;
$placeholder-color: #A5A7AA;
$table-dark: #667C8A;
$table-light: #D9DFE2;
$table-border: #8095A2;
$red: #EA7272; 
$orange: #EF8D1B;
$blue: #1CBDEF;
$green : #80AF7F;
$yellow: #FFF065;
  