<script>
export default {
  name: "ProfileMenuItem",
  props: {
    name: {
      type: String,
      required: true,
    },
    link: {
      type: String,
      required: true,
    },
    src: {
      type: String,
      required: true,
    }
  }
}
</script>

<template>
  <router-link class="header__profile__modal__link" :to="link"><img :src="src">{{ name }}</router-link>
</template>

<style scoped>
</style>
