<script>
import ProfileMenuList from "~/components/Header/Profile/ProfileMenuList.vue";

export default {
  name: "ProfileBlock",
  components: {ProfileMenuList},
  data() {
    return {
      visible: false,
    }
  },
  props: {
    propsVisible: {
      type: Boolean,
      required: true,
    },
  },
  watch: {
    visible: function (val) {
      if (!val) this.$emit('inVisible')
    },
  },
  methods: {
    invise() {
      this.visible = false;
    }
  }
}
</script>

<template>
  <ProfileMenuList
    v-if="propsVisible"
    @close="invise"
  />
</template>

<style scoped>

</style>
