<script>
import ProfileMenuItem from "~/components/Header/Profile/ProfileMenuItem.vue";

export default {
  name: "ProfileMenuList",
  components: {ProfileMenuItem},
  methods: {
    logout() {
      this.$auth.logout();
      this.$router.push('/')
    }
  },
}
</script>

<template>
  <div class="header__profile__modal position-absolute js-profile-modal">
    <a class="header__profile__modal__close position-absolute js-profile-modal-close" href="#"
       @click="$emit('close')">
      <img src="@/assets/images/svg/close.svg">
    </a>

<!--    <ProfileMenuItem link="#" name="Изменить профиль" :src="require('~/assets/images/svg/change.svg')"/>-->
    <button class="header__profile__modal__link" @click.prevent="logout"><img :src="require('~/assets/images/svg/logout.svg')">Выход</button>

  </div>
</template>

<style scoped>
</style>
