<script>
import ProfileMenuList from "~/components/Header/Profile/ProfileMenuList.vue";

export default {
  name: "Profile",
  components: {ProfileMenuList},
  data() {
    return {
      showProfile: false,
    }
  }
}
</script>

<template>
  <div class="header__profile d-flex align-items-center justify-content-end position-relative">
    <div class="mr-3 mb-3" style="cursor: pointer">
<!--      <img src="../../../assets/images/svg/bell.svg">-->
    </div>
    <div class="header__profile__info">
      <div class="name">{{ $auth.user.user.fio }}</div>
      <div class="d-flex align-items-center" style="cursor: pointer" @click="showProfile = !showProfile">
        <div class="post w-fit ">{{$auth.user.user.role}}</div>
        <div class="open-link js-profile-modal-open">
          <img src="../../../assets/images/svg/caret.svg">
        </div>
      </div>

      <div v-if="showProfile">
        <ProfileMenuList
          v-if="showProfile"
          @close="showProfile = false"
        />
      </div>

    </div>
    <div class="header__profile__avatar flex-center" :style="`backgroundImage: url(${$auth.user.avatar}})`">
      <!-- Если аватар не загружен - то здесь инициалы от имени -->
      <div v-if="!$auth.user.avatar">{{ $auth.user.user.initials }}</div>
    </div>


  </div>
</template>

<style scoped>
</style>
