<script>
export default {
  name: "ChargeHeader",
  props: {
    task: {
      required:true
    },
  },
  data() {
    return {
      canEdit: false,
    }
  },
  methods: {
    add() {
      this.$axios.post('v1/melting-task/' + this.task.id + '/add-batch').then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
  },
  created() {
    this.checkCanEdit();
  },
}
</script>

<template>
  <div class="d-flex align-items-center melt-card__spend">
    <button class="btn btn-primary flex-shrink-0" @click="add" v-if="canEdit">Добавить шихту</button>
    <button class="btn btn-primary flex-shrink-0" disabled v-else>Добавить шихту</button>
    <table class="table table-borderless table__transparent font-md">
      <tbody>
      <tr class="tr-first">
        <th class="bg-gray">I. РАСХОД ШИХТЫ, кг</th>
        <th class="bg-gray info-cell">
          <div class="d-flex justify-content-between">
            <div>Норма потерь</div>
            <div>{{(100 - task.planned_mvg).toFixed(2)}}%</div>
          </div>
        </th>
        <th class="bg-gray info-cell">
          <div class="d-flex justify-content-between">
            <div>Шихта, итого (кг)</div>
            <div>{{task.charge_sum}}</div>
          </div>
        </th>
      </tr>

      </tbody>
    </table>
  </div>

</template>

<style scoped>

</style>
