<script>
import ChargeItem from "~/components/MeltingCard/Charges/ChargeItem.vue";

export default {
  name: "Charges",
  components: {ChargeItem},
  data() {
    return {
      canEdit: false,
    }
  },
  props: {
    task: {
      required:true
    },
  },
  methods: {
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
  },
  created() {
    this.checkCanEdit();
  },
}
</script>

<template>
  <div class="melt-card__spend__tables">
    <div class="row">
      <ChargeItem v-for="batch in task.batches" :key="batch.id" :batch="batch" @update="$emit('update')"/>
    </div>
  </div>
</template>

<style scoped>

</style>
