<script>
import SelectFromApi from "~/components/UI/SelectFromApi.vue";

export default {
  name: "ChargeItem",
  components: {SelectFromApi},
  data() {
    return {
      canEdit: false,
      batchData: {
        charge_id: null,
        charge: {
          name: null,
          id: null,
        },
        passport: null,
        clog: null,
        loads: [
          {}
        ],
      },
    }
  },
  props: {
    batch: {
      required: true
    },
  },
  watch: {
    'batch.charge_id': function (val) {
      this.batchData.charge_id = val;
    },
    'batch.charge': function (val) {
      this.batchData.charge = val;
    },
    'batch.passport': function (val) {
      this.batchData.passport = val;
    },
    'batch.clog': function (val) {
      this.batchData.clog = val;
    },
    'batch.loads': function (val) {
      this.batchData.loads = val;
    },
  },
  methods: {
    deleteLoad(key) {
      this.batchData.loads[key] = {};
      this.update('loads', this.batchData.loads);
      this.$emit('update');

    },
    deleteCharge() {
      this.$axios.delete('v1/melting-task/batch/' + this.batch.id).then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
    updateCharge(id) {
      this.update('charge_id', id)
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/batch/' + this.batch.id, data).then(response => {
        this.$router.push('/prodplan/' + this.$route.params.id)
        this.$emit('update');

      }).catch(function (error) {
        console.error(error);
      });
    },
    duplicate() {
      this.$axios.post('v1/melting-task/batch/' + this.batch.id + '/duplicate').then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
    addLoad() {
      this.batchData.loads.push({
        weight: 0
      });
      this.$axios.patch('v1/melting-task/batch/' + this.batch.id, {
        loads: this.batchData.loads
      }).then(response => {
        this.$router.push('/prodplan/' + this.$route.params.id)
        this.$emit('update')
      }).catch(function (error) {
        console.error(error);
      });
    }
  },
  created() {
    this.checkCanEdit();

    this.batchData = this.batch;
    if (this.batchData.loads.length === 0) {
      this.batchData.loads = [];
    }
  }
}
</script>

<template>
  <div class="col-3">
    <table class="table table-borderless table__transparent">
      <tbody>
      <tr class="tr-first">
        <th class="t-border-left">Сорт</th>
        <th colspan="2" v-if="canEdit">
          <select-from-api uri="/v1/charge/list" :selected="batchData.charge" @valueChanged="updateCharge"/>
        </th>
        <th colspan="2" v-else>{{batchData.charge ? batchData.charge.name : ''}}</th>
        <th>
          <div class="d-flex justify-content-end">
            <a style="cursor: pointer" class="edit__link" @click="duplicate" v-if="canEdit">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.9443 0.0134277V4.16676H18.9943L14.9443 0.0134277Z" fill="#667C8A"></path>
                <path
                  d="M13.277 5.83333V0H9.11035C8.44731 0 7.81143 0.263392 7.34258 0.732233C6.87374 1.20107 6.61035 1.83696 6.61035 2.5V15.8333H19.1104V5.83333H13.277Z"
                  fill="#667C8A"></path>
                <path
                  d="M4.94434 17.4999V3.33325C4.28129 3.33325 3.64541 3.59664 3.17657 4.06549C2.70773 4.53433 2.44434 5.17021 2.44434 5.83325V19.9999H15.7777V17.4999H4.94434Z"
                  fill="#667C8A"></path>
              </svg>

              <span class="edit__link__tooltip">Дублировать</span>
            </a>

            <a style="cursor: pointer" type="button" @click="deleteCharge" class="edit__link" v-if="canEdit">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.81687 6.06687L8.38375 7.5L9.81687 8.93313C10.0612 9.1775 10.0612 9.5725 9.81687 9.81687C9.695 9.93875 9.535 10 9.375 10C9.215 10 9.055 9.93875 8.93313 9.81687L7.5 8.38375L6.06687 9.81687C5.945 9.93875 5.785 10 5.625 10C5.465 10 5.305 9.93875 5.18313 9.81687C4.93875 9.5725 4.93875 9.1775 5.18313 8.93313L6.61625 7.5L5.18313 6.06687C4.93875 5.8225 4.93875 5.4275 5.18313 5.18313C5.4275 4.93875 5.8225 4.93875 6.06687 5.18313L7.5 6.61625L8.93313 5.18313C9.1775 4.93875 9.5725 4.93875 9.81687 5.18313C10.0612 5.4275 10.0612 5.8225 9.81687 6.06687ZM15 7.5C15 11.6356 11.6356 15 7.5 15C3.36437 15 0 11.6356 0 7.5C0 3.36437 3.36437 0 7.5 0C11.6356 0 15 3.36437 15 7.5ZM13.75 7.5C13.75 4.05375 10.9462 1.25 7.5 1.25C4.05375 1.25 1.25 4.05375 1.25 7.5C1.25 10.9462 4.05375 13.75 7.5 13.75C10.9462 13.75 13.75 10.9462 13.75 7.5Z"
                  fill="#000"></path>
              </svg>
            </a>
          </div>
        </th>

      </tr>
      <tr>
        <td><strong>№ загрузки</strong></td>
        <td><strong>Вес в кг.</strong></td>
        <td><strong>№ паспорта</strong></td>
        <td><strong>% засора</strong></td>
      </tr>
      <tr v-for="(load, key) in batchData.loads" :key="load.id">
        <td>{{ load.number }}</td>
        <td v-if="canEdit">
          <input class="form-control" v-model="load.weight"
                   type="number"
                   step="0.01"
                   @focusout="update('loads', batchData.loads);"
          />
        </td>
        <td v-else>{{load.weight}}</td>
        <!--        <td>
                  <button type="button" @click="deleteLoad(key)" class="edit__link">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M9.81687 6.06687L8.38375 7.5L9.81687 8.93313C10.0612 9.1775 10.0612 9.5725 9.81687 9.81687C9.695 9.93875 9.535 10 9.375 10C9.215 10 9.055 9.93875 8.93313 9.81687L7.5 8.38375L6.06687 9.81687C5.945 9.93875 5.785 10 5.625 10C5.465 10 5.305 9.93875 5.18313 9.81687C4.93875 9.5725 4.93875 9.1775 5.18313 8.93313L6.61625 7.5L5.18313 6.06687C4.93875 5.8225 4.93875 5.4275 5.18313 5.18313C5.4275 4.93875 5.8225 4.93875 6.06687 5.18313L7.5 6.61625L8.93313 5.18313C9.1775 4.93875 9.5725 4.93875 9.81687 5.18313C10.0612 5.4275 10.0612 5.8225 9.81687 6.06687ZM15 7.5C15 11.6356 11.6356 15 7.5 15C3.36437 15 0 11.6356 0 7.5C0 3.36437 3.36437 0 7.5 0C11.6356 0 15 3.36437 15 7.5ZM13.75 7.5C13.75 4.05375 10.9462 1.25 7.5 1.25C4.05375 1.25 1.25 4.05375 1.25 7.5C1.25 10.9462 4.05375 13.75 7.5 13.75C10.9462 13.75 13.75 10.9462 13.75 7.5Z"
                        fill="#000"></path>
                    </svg>
                  </button>
                </td>-->
        <td class="bg-transparent t-border-bottom" v-if="canEdit">
          <input class="form-control"
                 v-model="load.passport"
                 type="text"
                 @focusout="update('loads', batchData.loads);"
          />
        </td>
        <td v-else>
          {{load.passport}}
        </td>
        <td v-if="key===0 && canEdit" :rowspan="batch.loads.length" class="bg-transparent t-border-bottom">
          <input class="form-control"
                 v-model="batchData.clog"
                 type="number"
                 min="0"
                 max="100"
                 step="0.01"
                 @focusout="update('clog', batchData.clog);"
          />
        </td>

        <td v-else-if="key===0 && !canEdit" :rowspan="batch.loads.length" class="bg-transparent t-border-bottom">
         {{batchData.clog}}
        </td>

      </tr>
      <tr v-if="canEdit">
        <td class="bg-transparent t-border-bottom-0 t-border-left-0"></td>
        <td class="bg-transparent">
          <button class="add-link" @click="addLoad">Добавить вес (+)</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
