<script>
export default {
  name: "PlaneCharge",
  props: {
    task: {
      required:true
    },
  },
}
</script>

<template>
  <div class="row">
    <div class="col-6">
      <div class="melt-card__spend__plan">
        <table class="table table-borderless table__transparent font-md">
          <tbody>
          <tr class="tr-first">
            <th class="bg-gray">Плановая шихта</th>
            <td><span v-for="(charge, key) in task.charges">{{key !== 0 ? ' ,' : ''}}{{charge.name}} - {{charge.weight}}</span></td>

          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</template>

<style scoped>

</style>
