<script>
import EventTableLine from "~/components/EventLog/EventTableLine.vue";

export default {
  name: "EventTable",
  components: {EventTableLine},
  props: {
    events: {
      required: true,
    }
  }
}
</script>

<template>
  <div class="event-log__table table-responsive">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th>Дата / Время</th>
        <th>Автор</th>
        <th>Где</th>
        <th>Событие</th>
        <th>Значение до</th>
        <th>Значение после</th>
      </tr>
      </thead>
      <tbody>
      <EventTableLine v-for="(event, key) in events.data" :event="event" :key="key"/>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
