<script>
export default {
  name: "EventTableLine",
  props: {
    event: {
      required: true,
    }
  }
}
</script>

<template>
  <tr>
    <td>{{event.created_at}}</td>
    <td>{{event.user.fio}}</td>
    <td>{{event.object_name}}</td>
    <td>{{event.event_name}}</td>
    <td>{{event.value_before}}</td>
    <td style="width: 400px">{{event.value_after}}</td>
  </tr>
</template>

<style scoped>

</style>
