<script>
export default {
  name: "SelectFromApi",
  data() {
    return {
      items: [],
      selectedItem: {
        id: null,
        name: null,
      },
    }
  },
  props: {
    uri: {
      required: true,
      type: String,
    },
    selected: {
      required: false,
      default: null,
    }
  },
  methods: {
    getItems(uri) {
      this.$axios.get(uri).then(response => {
        this.items = response.data.data;
      }).catch(function (error) {
        console.error(error);
      });
    },
    setSelected(item) {
      if (item) {
        this.selectedItem = item;
      }
    }
  },
  watch: {
    selected: function (val) {
      this.setSelected(val);
    },
  },
  created() {
    this.setSelected(this.selected);
    this.getItems(this.uri);
  }
}
</script>

<template>
  <select class="form-control" v-model="selectedItem" @change="$emit('valueChanged', selectedItem.id)">
    <option v-for="item in items" :value="item">{{ item.name }}</option>
  </select>
</template>

<style scoped>

</style>
