.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    padding: 0 10px;
    border-radius: 26px;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    background: $primary-color;
    border-color: $primary-color;
    color: $white;
    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {
        border-color: $primary-color;
        background: $primary-hover-color;
        color: $white;
    }
    .icon {
        svg path {
            stroke: $white;
        }
    }
}

.btn-light {
    background: $white;
    border-color: transparent;
    color: $text-color;
    .icon {
        svg path {
            fill: $primary-color;
        }
    }
    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {
        border-color: $primary-color;
        background: $primary-hover-color;
        color: $white;
        .icon {
            svg path {
                fill: $white;
            }
        }
    }

}