.footer {
  padding: 20px 0;
  font-size: 14px;
  .content-box {
    padding: 10px 25px;
    width: 280px;
  }
  &__copyright {
    color: #858585
  }
  &__help {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
