.search-bar {
  width: 180px;
  height: 32px;

  position: relative;
  &__input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 100px;
    border-radius: 43px;
    line-height: 32px;
    background: $bg-color;
    padding: 0 12px 0 42px;
    color: $black;
    &::placeholder {
      color: $placeholder-color;
      font-size: 14px;
    }
  }
  &__icon {
    position: absolute;
    top: 6px;
    left: 12px;

  }
}



.select {

  &__box {
    height: 26px;
    padding: 0 10px;
    background: #fff;
    border-radius: 26px;
    &__icon {
      width: 20px;
      margin-left: 2px;
    }
  }
  &__text {
    white-space: nowrap;
  }
  &__list {
    visibility: hidden;
    height: 0;
    border-radius: 0px 0px 12px 12px;

    background: #FFF;
    &__option {
      padding: 4px 32px 4px 10px;
      cursor: pointer;
      &:hover {
        background: $primary-color;
        color: $white;
      }
    }
    &__search {
      padding: 10px;

      &__input {
        background:$bg-color ;
        padding: 5px;
        border-radius: 26px;
        max-width: 100%;
      }
    }
  }
  &__wrapper {
    position: relative;
    width: fit-content;
    &.-is-open {
      box-shadow: 2px 2px 9px 0px rgba(79, 80, 104, 0.10);
      .select__box {
        border-radius: 12px 12px 0 0;
      }
      .select__list {
        visibility: inherit;
        width: 100%;
        height: auto;
        padding-bottom: 8px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
      }
    }
  }
  &__with-search {
    .select__list__in {
      max-height: 200px;
      overflow-y: auto;
    }
  }


}

.checkboxes {
  display: flex;
  gap: 10px;
  align-items: center;
}


.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0;
  input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
          &~.checkbox__text {
              &:after {
                  display: block;
              }
          }
      }
  }
  &__text {
      display: block;
      padding-left: 30px;
      line-height: 20px;
      position: relative;
      &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background: transparent;
          border: 1px solid $primary-color;
          border-radius: 4px;
      }
      &:after {
          content: '';
          position: absolute;
          display: none;
          width: 20px;
          height: 20px;
          background: url(~assets/images/svg/check.svg) top center no-repeat;
          top: 5px;
          left: 0;
      }
  }
}
.form-control {
  font-size: 12px;
  padding: 3px 10px;
  height: auto;
  text-align: center;
  border: 1px solid $table-border !important;
  color: $text-color;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  &::placeholder {
    color: $table-light;
  }
}
