.header {
  padding: 20px 0;
  background: $white;
  
  &__profile {
   
    padding-left: 20px;
    &__info {
      margin-right: 20px;
      .name {
        margin-bottom: 3px;
      }
      .post {
        color: $white;
        padding: 2px 10px;
        border-radius: 61px;
        background: $primary-color;
      }
    }
    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #9B6CFF;
      font-weight: 600;
      color: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
    }
    &__modal {
      width: 232px;
      border-radius: 12px;
      background: $white;
      box-shadow: 2px 2px 9px rgba(79, 80, 104, 0.10);
      top: 100%;
      right: 0;
      margin-top: 10px;
      padding: 16px;
      z-index: 1000;
      &__close {
        top: 5px;
        right: 5px;
      }
      &__link {
        color: $text-color;
        display: block;
        margin-bottom: 12px;
        svg {
          margin-left: 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          text-decoration: underline;
          
        }
        &.change:hover {
          svg path {
            fill: $primary-color;
          }
        }
        &.logout:hover {
          svg path {
            stroke: $primary-color;
          }
        }
      }
    }
  }
  
}
.navbar {
  padding: 0;
  &-brand {
    width: 270px;
    height: 50px;
    border: 1px solid #111112;
    font-size: 18px;
    margin-right: 170px;
  }
}
.nav-item {
  margin-right: 33px;
  
}
.nav-link {
  font-size: 14px;
  color: $text-color !important;
  position: relative;
  padding: 10px 0 0 !important;
  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover,
  .active & {
    
    &:before {
      background: $primary-color;
    }
  }
  .active & {
    font-weight: 500;
  }
}