@media (min-width: 768px) {
  .modal-dialog {
    max-width: 650px;
  }
}

.modal-content {
  border-radius: 24px;
}
.modal-header {
  border-radius: 24px 24px 0 0;
  border-bottom: 0;
  padding: 25px 30px;
  &__title {
    font-weight: 700;
  }
  .close {
    opacity: 1;
    padding: 0;
    margin: 0;
    font-size: unset;
    svg {
      width: 20px;
      height: auto;
    }
  }
}
.modal-body {
  padding: 0 30px;
}
.modal-footer {
  padding: 15px 30px;
  border-top: none;
}

.set-fieid-modal {
  &__list {
    column-count: 2;
  }
  &__checkbox {
    border-radius: 24px;
    border: 1px solid #111112;
    padding: 10px;
    margin-bottom: 15px;
  }
  .btn {
    height: 36px;
  }
}
.chem-modal {
  .modal-dialog {
    max-width: 100%;
  }
  .modal-header {
    padding: 10px 15px 10px 15px;
  }
  .modal-body {
    padding: 0 15px;
  }
  .modal-footer {
    padding: 0 15px 10px;
  }
  .melt-card__chem .table{
    .date,
    .time {
      width: 120px;
    }
    .melt-number {
      width: 300px;
    }
    .element {
      width: 72px;
      cursor: pointer;
    }
    .select__melt-num {
      max-width: 70px;
    }
    .select__list__search {
      padding: 6px 4px;
    }
    .select__list__option {
      text-align: left;
    }
    .select__box {
      height: 20px;
    }
    .form-control {
      padding: 0 10px;
      max-width: 100%;
    }
    .paste-current {
      color: $table-border;
      font-family: Montserrat;
      font-size: 12px;
      font-style: italic;
    }
  }

}

.melt-task {
  .modal-dialog {
    max-width: 1400px;
  }
  .modal-header {
    padding-bottom: 20px;
  }
  &__form {
    margin-bottom: 30px;
    .input-group {
      margin-bottom: 10px;
      flex-wrap: nowrap;
      &-text {
        padding: 3px 5px;
        font-size: 12px;
        line-height: 1.2;
        color: $text-color;
        background-color: $table-light;
        border: 1px solid $table-border;
        border-radius: 0;
        min-width: 122px;
        justify-content: center;
      }
      .select {
        &__wrapper {
          height: 18px;
          width: 100%;
        }
        &__box {
          background: $bg-color;
          height: 18px;
          &__icon {
            svg path {
              fill: $table-dark;
            }
          }
        }
        &__list {
          background: $bg-color;
          padding-top: 4px;
          &__option {
            padding-top: 2px;padding-bottom: 2px;
            text-align: left;
            &:hover {
              background: $table-dark;
            }
          }
          &__search {
            padding: 5px;
            &__input {
              background: $white;
              padding: 1px 5px;
            }
          }
        }
      }
    }
    .charge {
      margin-bottom: 0;
      .kg__wrapper {
        width: 83px;
        flex-shrink: 0;
        .form-control {
          padding-right: 30px;
        }
      }
      .kg__mark {
        font-size: 12px;
        top: 5px;
        right: 10px;
      }
      .form-control {
        border-bottom: 1px solid $table-border !important;
        &:not(:last-child) {
          border-right: none !important;
        }

      }
      .last {
        .form-control {
          border-bottom: 1px solid $table-border !important;
        }
      }
      &__add {
        padding-left: 121px;
        padding-right: 82px;
        &__link {
          display: block;
          width: 100%;
          border: solid $table-border;
          border-width: 1px 1px 1px 1px;
          font-size: 12px;
          padding: 5px;
          color: $table-border;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .form-control {
      &.-is-error {
        background: #FFF5F5;
        border-color: $red !important;
        &[readonly] {
          background: #FFF5F5 !important;
        }
      }
      &[readonly] {
        background: $white;
      }
    }
    .error {
      top: 2px;
      right: -10px;
      color: $red;
      font-size: 18px;
    }
  }
  .melt-card__chem {
    .modal-header__title {
      margin-bottom: 20px;
    }
    .table{
      margin-bottom: 30px;
      .element {
        width: 72px;
        cursor: pointer;
      }
      .form-control {
        padding: 0 10px;
        max-width: 100%;
      }
    }
  }
}

.melt-task2 {
  .modal-dialog {
    max-width: 1400px;
  }
  .modal-header {
    padding-bottom: 20px;
  }
  &__form {
    margin-bottom: 30px;
    .input-group {
      margin-bottom: 10px;
      flex-wrap: nowrap;
      &-text {
        padding: 3px 5px;
        font-size: 12px;
        line-height: 1.2;
        color: $text-color;
        background-color: $table-light;
        border: 1px solid $table-border;
        border-radius: 0;
        min-width: 122px;
        justify-content: center;
      }
      .select {
        &__wrapper {
          height: 18px;
          width: 100%;
        }
        &__box {
          background: $bg-color;
          height: 18px;
          &__icon {
            svg path {
              fill: $table-dark;
            }
          }
        }
        &__list {
          background: $bg-color;
          padding-top: 4px;
          &__option {
            padding-top: 2px;padding-bottom: 2px;
            text-align: left;
            &:hover {
              background: $table-dark;
            }
          }
          &__search {
            padding: 5px;
            &__input {
              background: $white;
              padding: 1px 5px;
            }
          }
        }
      }
    }
    .charge {
      margin-bottom: 0;
      .kg__wrapper {
        width: 83px;
        flex-shrink: 0;
        .form-control {
          padding-right: 30px;
        }
      }
      .kg__mark {
        font-size: 12px;
        top: 5px;
        right: 10px;
      }
      .form-control {
        border-bottom: 1px solid $table-border !important;
        &:not(:last-child) {
          border-right: none !important;
        }

      }
      .last {
        .form-control {
          border-bottom: 1px solid $table-border !important;
        }
      }
      &__add {
        padding-left: 121px;
        padding-right: 82px;
        &__link {
          display: block;
          width: 100%;
          border: solid $table-border;
          border-width: 1px 1px 1px 1px;
          font-size: 12px;
          padding: 5px;
          color: $table-border;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .form-control {
      &.-is-error {
        background: #FFF5F5;
        border-color: $red !important;
        &[readonly] {
          background: #FFF5F5 !important;
        }
      }
      &[readonly] {
        background: $white;
      }
    }
    .error {
      top: 2px;
      right: -10px;
      color: $red;
      font-size: 18px;
    }
  }
  .melt-card__chem {
    .modal-header__title {
      margin-bottom: 20px;
    }
    .table{
      margin-bottom: 30px;
      .element {
        width: 72px;
        cursor: pointer;
      }
      .form-control {
        padding: 0 10px;
        max-width: 100%;
      }
    }
  }
}

.mass-date {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-header {
    padding-bottom: 20px;
  }
  &__form {
    margin-bottom: 30px;
    .input-group {
      margin-bottom: 10px;
      flex-wrap: nowrap;
      &-text {
        padding: 3px 5px;
        font-size: 12px;
        line-height: 1.2;
        color: $text-color;
        background-color: $table-light;
        border: 1px solid $table-border;
        border-radius: 0;
        min-width: 122px;
        justify-content: center;
      }
      .select {
        &__wrapper {
          height: 18px;
          width: 100%;
        }
        &__box {
          background: $bg-color;
          height: 18px;
          &__icon {
            svg path {
              fill: $table-dark;
            }
          }
        }
        &__list {
          background: $bg-color;
          padding-top: 4px;
          &__option {
            padding-top: 2px;padding-bottom: 2px;
            text-align: left;
            &:hover {
              background: $table-dark;
            }
          }
          &__search {
            padding: 5px;
            &__input {
              background: $white;
              padding: 1px 5px;
            }
          }
        }
      }
    }
    .charge {
      margin-bottom: 0;
      .kg__wrapper {
        width: 83px;
        flex-shrink: 0;
        .form-control {
          padding-right: 30px;
        }
      }
      .kg__mark {
        font-size: 12px;
        top: 5px;
        right: 10px;
      }
      .form-control {
        border-bottom: 1px solid $table-border !important;
        &:not(:last-child) {
          border-right: none !important;
        }

      }
      .last {
        .form-control {
          border-bottom: 1px solid $table-border !important;
        }
      }
      &__add {
        padding-left: 121px;
        padding-right: 82px;
        &__link {
          display: block;
          width: 100%;
          border: solid $table-border;
          border-width: 1px 1px 1px 1px;
          font-size: 12px;
          padding: 5px;
          color: $table-border;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .form-control {
      &.-is-error {
        background: #FFF5F5;
        border-color: $red !important;
        &[readonly] {
          background: #FFF5F5 !important;
        }
      }
      &[readonly] {
        background: $white;
      }
    }
    .error {
      top: 2px;
      right: -10px;
      color: $red;
      font-size: 18px;
    }
  }
  .melt-card__chem {
    .modal-header__title {
      margin-bottom: 20px;
    }
    .table{
      margin-bottom: 30px;
      .element {
        width: 72px;
        cursor: pointer;
      }
      .form-control {
        padding: 0 10px;
        max-width: 100%;
      }
    }
  }
}
