.vue__time-picker {
    display: inline-block;
    position: relative;
    font-size: 1em;
    width: 100%;
    font-family: sans-serif;
    vertical-align: middle
}

.vue__time-picker * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.vue__time-picker input.display-time {
    width: 100%;
}

.vue__time-picker input.has-custom-icon {
}

.vue__time-picker input.display-time.invalid:not(.skip-error-style) {
    border-color: #c03;
    outline-color: #c03
}

.vue__time-picker input.display-time.disabled, .vue__time-picker input.display-time:disabled {
    color: transparent;
}

.vue__time-picker .controls {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    pointer-events: none
}

.vue__time-picker .controls, .vue__time-picker .controls > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

.vue__time-picker .controls > * {
    cursor: pointer;
    width: auto;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    color: transparent;
    line-height: 100%;
    font-style: normal;
    pointer-events: auto;
    -webkit-transition: color .2s, opacity .2s;
    transition: color .2s, opacity .2s
}

.vue__time-picker .controls > :hover {
    color: #797979
}

.vue__time-picker .controls > :active, .vue__time-picker .controls > :focus {
    outline: 0
}

.vue__time-picker .controls .char {
    font-size: 1.1em;
    line-height: 100%;
    -webkit-margin-before: -.15em
}

.vue__time-picker .custom-icon {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none
}

.vue__time-picker .controls img, .vue__time-picker .controls svg, .vue__time-picker .custom-icon img, .vue__time-picker .custom-icon svg {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border: 0;
    outline: 0;
    max-width: 1em;
    height: auto
}

.vue__time-picker .time-picker-overlay {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.vue__time-picker-dropdown, .vue__time-picker .dropdown {
    position: absolute;
    z-index: 5;
    top: calc(2.2em + 2px);
    left: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
    width: 10em;
    height: 10em;
    font-weight: 400
}

.vue__time-picker-dropdown {
    position: fixed;
    z-index: 100
}

.vue__time-picker-dropdown.drop-up, .vue__time-picker .dropdown.drop-up {
    top: auto;
    bottom: calc(2.2em + 1px)
}

.vue__time-picker-dropdown .select-list, .vue__time-picker .dropdown .select-list {
    width: 100%;
    height: 10em;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.vue__time-picker-dropdown .select-list:active, .vue__time-picker-dropdown .select-list:focus, .vue__time-picker .dropdown .select-list:active, .vue__time-picker .dropdown .select-list:focus {
    outline: 0
}

.vue__time-picker-dropdown ul, .vue__time-picker .dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0.00001px;
    flex: 1 1 0.00001px;
    overflow-x: hidden;
    overflow-y: auto
}

.vue__time-picker-dropdown ul.apms, .vue__time-picker-dropdown ul.minutes, .vue__time-picker-dropdown ul.seconds, .vue__time-picker .dropdown ul.apms, .vue__time-picker .dropdown ul.minutes, .vue__time-picker .dropdown ul.seconds {
    border-left: 1px solid #fff
}

.vue__time-picker-dropdown ul li, .vue__time-picker .dropdown ul li {
    list-style: none;
    text-align: center;
    padding: .3em 0;
    color: #161616
}

.vue__time-picker-dropdown ul li:not(.hint):not([disabled]):focus, .vue__time-picker-dropdown ul li:not(.hint):not([disabled]):hover, .vue__time-picker .dropdown ul li:not(.hint):not([disabled]):focus, .vue__time-picker .dropdown ul li:not(.hint):not([disabled]):hover {
    background: rgba(0, 0, 0, .08);
    color: #161616;
    cursor: pointer
}

.vue__time-picker-dropdown ul li:not([disabled]).active, .vue__time-picker-dropdown ul li:not([disabled]).active:focus, .vue__time-picker-dropdown ul li:not([disabled]).active:hover, .vue__time-picker .dropdown ul li:not([disabled]).active, .vue__time-picker .dropdown ul li:not([disabled]).active:focus, .vue__time-picker .dropdown ul li:not([disabled]).active:hover {
    background: #0098ff;
    color: #fff
}

.vue__time-picker-dropdown ul li[disabled], .vue__time-picker-dropdown ul li[disabled]:hover, .vue__time-picker .dropdown ul li[disabled], .vue__time-picker .dropdown ul li[disabled]:hover {
    background: transparent;
    opacity: .3;
    cursor: not-allowed
}

.vue__time-picker-dropdown .hint, .vue__time-picker .dropdown .hint {
    color: #a5a5a5;
    cursor: default;
    font-size: .8em
}
