<script>
import MenuItem from "~/components/Header/Menu/MenuItem.vue";

export default {
  name: "MenuList",
  components: {MenuItem}
}
</script>

<template>
  <ul class="navbar-nav">
    <MenuItem
      v-if="this.$auth.user.user.roles.includes('admin') ||
      this.$auth.user.user.roles.includes('master') ||
      this.$auth.user.user.roles.includes('technologist') ||
      this.$auth.user.user.roles.includes('director')"
      link="/daily-report" name="Суточный отчет"/>
    <MenuItem
      v-if="this.$auth.user.user.roles.includes('admin') ||
      this.$auth.user.user.roles.includes('master') ||
      this.$auth.user.user.roles.includes('technologist') ||
      this.$auth.user.user.roles.includes('laboratory') ||
      this.$auth.user.user.roles.includes('director')"
      link="/prodplan" name="План производства"/>
    <MenuItem
      v-if="this.$auth.user.user.roles.includes('admin') ||
      this.$auth.user.user.roles.includes('laboratory') ||
      this.$auth.user.user.roles.includes('technologist') ||
      this.$auth.user.user.roles.includes('director')"
      link="/chemical" name="Химический состав"/>
    <MenuItem link="/events" name="Журнал событий"/>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://core.formateh.igudvin.ru/admin">Справочники</a>
    </li>
  </ul>
</template>

<style scoped>
</style>
