<script>
export default {
  name: "MenuItem",
  props: {
    name: {
      type: String,
      required: true,
    },
    link: {
      type: String,
      required: true,
    }
  }
}
</script>

<template>
  <li class="nav-item" v-bind:class="this.$route.path === link ? 'active' : ''">
    <router-link class="nav-link" :to="link">{{ name }}</router-link>
  </li>
</template>

<style scoped>
</style>
