<script>
import TaskLine from "~/components/DailyReport/TaskLine.vue";

export default {
  name: "Table",
  components: {TaskLine},
  props:{
    furnace: {
      required: true,
    }
  }
}
</script>

<template>
  <div class="daily-report__table table-responsive">
    <table class="table table-borderless table__sticky-left">

      <tbody><tr class="t-head tr-first">
        <th class="zero-cell"></th>
        <th class="table__title" colspan="16">{{furnace.furnace_name}}</th>
      </tr>
      <tr class="t-head">
        <th rowspan="2">№</th>
        <th rowspan="2">Статус</th>
        <th rowspan="2">id Задания</th>
        <th rowspan="2">№ Карты плавки</th>
        <th rowspan="2">План</th>
        <th rowspan="2">Факт</th>
        <th rowspan="2">Вылет по <br>хим.</th>
        <th rowspan="2">Вес,кг</th>
        <th class="t-border-bottom" colspan="3">МВГ, %</th>
        <th rowspan="2">Причина <br>отклонения <br>МВГ от плана</th>
        <th rowspan="2">Мероприятия</th>
        <th rowspan="2">Балл пор.</th>
        <th rowspan="2">Шлак <br>(Ж/Н/С)</th>
        <th rowspan="2">Поставщик шихты</th>
        <th rowspan="2">Ф.И.О плавильщика</th>
      </tr>
      <tr class="t-head">
        <th>План</th>
        <th>Факт</th>
        <th class="t-border-right">Разница</th>
      </tr>

      <TaskLine v-for="(task, index) in furnace.tasks" :key="index" :task="task" :index="index"/>
      <tr class="t-separator">
        <td colspan="17"></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
