<script>
export default {
  name: "TaskLine",
  props: {
    task: {
      required: true,
    },
    index: {
      required: true,
    }
  },
  data() {
    return {
      slag: 'Ж',
      events: null,
      reason_rejection: null,
    }
  },
  methods: {
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.task.id, data).then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
  },
  created() {
    this.slag = this.task.slag;
    this.events = this.task.events;
    this.reason_rejection = this.task.reason_rejection;
  },
}
</script>

<template>
  <tr class="t-body">
    <td>{{ index + 1 }}</td>
    <td>{{ task.status_for_interface }}</td>
    <td>{{ task.id }}</td>
    <td>{{ task.number }}</td>
    <td>{{ task.alloy_grade_plane }}</td>
    <td>{{ task.alloy_grade_output }}</td>
    <td><span v-for="(value, el) in task.chem_mismatch">{{ el }}: {{ value }}<br></span></td>
    <td>{{ task.output_weight }}</td>
    <td>{{ task.planned_mvg ? task.planned_mvg.toFixed(2) : task.planned_mvg }}</td>
    <td>{{ task.fact_mvg ? task.fact_mvg.toFixed(2) : task.fact_mvg }}</td>
    <td>{{ task.difference_mvg ? task.difference_mvg.toFixed(2) : task.difference_mvg }}</td>
    <td class="p-0 m-0" v-if="task.status === 'completed'">
      <textarea rows="3"
                v-model="reason_rejection"
                v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')"
                @focusout="update('reason_rejection', reason_rejection)"/>
      <textarea rows="3"
                v-model="reason_rejection"
                v-else
                disabled
                @focusout="update('reason_rejection', reason_rejection)"/>
    </td>
    <td class="p-0 m-0" v-else>

    </td>
    <td class="p-0 m-0" v-if="task.status === 'completed'">
      <textarea rows="3"
                v-model="events"
                v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')"
                @focusout="update('events', events)"/>
      <textarea rows="3"
                v-model="events"
                v-else
                disabled
                @focusout="update('events', events)"/>
    </td>
    <td class="p-0 m-0" v-else>

    </td>
    <td>{{ task.porosity ?? '-' }}</td>
    <td class="p-0 m-0" v-if="task.status === 'completed'">
      <select v-model="slag" @change="update('slag', slag)"
              v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')">
        <option value="Ж">Ж</option>
        <option value="Н">Н</option>
        <option value="С">С</option>
      </select>
      <select v-model="slag" @change="update('slag', slag)"
              v-else
              disabled>
        <option value="Ж">Ж</option>
        <option value="Н">Н</option>
        <option value="С">С</option>
      </select>
    </td>
    <td v-else>

    </td>
    <td><span v-for="batch in task.batches">{{ batch.charge.name }}<br></span></td>
    <td><span v-for="user in task.users" v-if="user.role === 'smelter'">{{ user.fio ?? null }}<br></span></td>
  </tr>
</template>

<style scoped>

</style>
