<script>
import ListUser from "~/components/Prodplan/Autocomplete/ListUser.vue";

export default {
  name: "AutocompleteUser",
  components: {ListUser},
  props: {
    uri: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    userIndex: {
      type: Number,
      required: true,
    },
    property: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    returnItemsCount: {
      type: Number,
      default: 5,
    },
    weight: {
      type: Number,
      default: 2,
    },
    isError: {
      type: Boolean,
      required: false,
    },
    selectedItem: null,
  },
  data() {
    return {
      query: '',
      items: [],
      visible: false,
    }
  },
  methods: {
    invise() {
      this.visible = false;
    },
    selectId(id) {
      this.$emit('selectId', id, this.userIndex);
    }
  }
}
</script>

<template>
  <ListUser :property="property"
            :name="name" :uri="uri"
            :props-visible="visible"
            :title="title"
            :return-items-count="returnItemsCount"
            :weight="weight"
            :userIndex="userIndex"
            v-click-outside="invise"
            :is-error="isError"
            @onVisible="visible=true"
            @selectId="selectId"
            :current="selectedItem"/>
</template>

<style scoped>

</style>
