<script>
import ListPPCC from "~/components/Prodplan/Autocomplete/ListPPCC.vue";
import ListPP from "~/components/Prodplan/Autocomplete/ListPP.vue";

export default {
  name: "AutocompletePPCC",
  components: {ListPP, ListPPCC},
  props: {
    selectedItem: null,
    uri: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    property: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    returnItemsCount: {
      type: Number,
      default: 5,
    },
    weight: {
      type: Number,
      default: 2,
    },
    isError: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      query: '',
      items: [],
      visible: false,
    }
  },
  methods: {
    invise() {
      this.visible = false;
    },
    selectItem(item) {
      this.$emit('selectItem', item);
    }
  }
}
</script>

<template>
  <ListPPCC :property="property"
            :name="name"
            :uri="uri"
            :props-visible="visible"
            :title="title"
            :return-items-count="returnItemsCount"
            :weight="weight"
            v-click-outside="invise"
            :is-error="isError"
            @onVisible="visible=true"
            @selectItem="selectItem"
            :current="selectedItem"/>
</template>

<style scoped>

</style>
