<script>
import ListPP from "~/components/Prodplan/Autocomplete/ListPP.vue";

export default {
  name: "AutocompletePP",
  components: {ListPP},
  props: {
    uri: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    property: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    returnItemsCount: {
      type: Number,
      default: 50,
    },
    weight: {
      type: Number,
      default: 2,
    },
    isError: {
      type: Boolean,
      required: false,
    },
    selectedItem: null,
  },
  data() {
    return {
      query: '',
      items: [],
      visible: false,
    }
  },
  methods: {
    invise() {
      this.visible = false;
    },
    selectId(id) {
      this.$emit('selectId', id);
    }
  }
}
</script>

<template>
  <ListPP :property="property"
          :name="name" :uri="uri"
          :props-visible="visible"
          :title="title"
          :return-items-count="returnItemsCount"
          :weight="weight"
          v-click-outside="invise"
          :is-error="isError"
          @onVisible="visible=true"
          @selectId="selectId"
          :current="selectedItem"/>
</template>

<style scoped>

</style>
