<script>
import * as string_decoder from "string_decoder";

export default {
  name: "ListTestType",
  computed: {
    string_decoder() {
      return string_decoder
    }
  },
  props: {
    current: null,
    uri: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    property: {
      type: String,
      required: true,
    },
    propsVisible: {
      type: Boolean,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    returnItemsCount: {
      type: Number,
      required: true,
    },
    weight: {
      type: Number,
      required: true,
    },
    isError: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      query: '',
      items: [],
      visible: false,
      selectedItem: false,
    }
  },
  methods: {
    selectItem(item) {
      this.selectedItem = item;
      this.$emit('selectId', item.id);
      this.toggleVisible();
    },
    deleteSelect() {
      this.selectedItem = false;
      this.$emit('selectId', null);
    },
    toggleVisible() {
      this.visible = !this.visible;
    },
    getItems(query) {
      this.$axios.get(this.uri, {
        params: {
          value: query,
          per_page: 50,
        },
      }).then(response => {
        this.items = response.data.data;
      }).catch(function (error) {
        console.error(error);
      });
    }
  },
  watch: {
    current: function (val) {
      this.selectedItem = this.current
    },
    propsVisible: function (val) {
      if (!val) this.visible = false
    },
    visible: function (val) {
      if (val) this.$emit('onVisible')
      else this.query = ''
    },
    query: function (val) {
      this.getItems(val)
    },
  },
  created() {
    this.getItems('');
    this.selectedItem = false;

  },
  mounted() {
    this.selectedItem = false;
  }
}
</script>

<template>
  <div class="js-select select__wrapper select__with-search select__data" v-bind:class="{'-is-open': visible}"
       style="width: 100px;">
    <input type="hidden" class="js-select-value" >
    <div class="d-flex align-items-center cursor-pointer js-select-box select__box">
      <div class="flex-grow-1 js-select-text select__text text-center" @click="toggleVisible">
        <div v-if="!selectedItem">
          {{ title }}
        </div>
        <div v-else>
          {{ selectedItem[name] }}
        </div>
      </div>
      <div class="flex-center select__box__icon">
        <img src="@/assets/images/svg/caret.svg" @click="toggleVisible"/>
      </div>
    </div>
    <div class="js-select-list select__list">
      <div class="js-select-search select__list__search">
        <input class="select__list__search__input" v-model="query" type="text" placeholder="Поиск">
      </div>
      <div class="select__list__in">
        <div v-for="item in items"
             class="js-select-option select__list__option"
             @click="selectItem(item)">
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
