<script>
import * as string_decoder from "string_decoder";

export default {
  name: "ListPP",
  computed: {
    string_decoder() {
      return string_decoder
    }
  },
  props: {
    current: null,
    uri: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    property: {
      type: String,
      required: true,
    },
    propsVisible: {
      type: Boolean,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    returnItemsCount: {
      type: Number,
      required: true,
    },
    weight: {
      type: Number,
      required: true,
    },
    isError: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      options: {},
      query: '',
      items: [],
      visible: false,
      selectedItem: false,
    }
  },
  methods: {
    selectItem(item) {
      this.selectedItem = item;
      this.$emit('selectId', item.id);
      this.toggleVisible();
    },
    deleteSelect() {
      this.selectedItem = false;
      this.$emit('selectId', null);
    },
    toggleVisible() {
      this.visible = !this.visible;
    },
    getItems(query) {
      this.$axios.get(this.uri, {
        params: {
          value: query,
          per_page: this.returnItemsCount,
        },
      }).then(response => {
        this.items = response.data.data;
      }).catch(function (error) {
        console.error(error);
      });
    },
    getOptions() {
      this.$axios.get('/v1/melting-task/options').then(response => {
        this.options = response.data;
      }).catch(function (error) {
        console.error(error);
      });
    },
  },
  watch: {
    current: function (val) {
      if (val) this.selectedItem = this.current
    },
    propsVisible: function (val) {
      if (!val) this.visible = false
    },
    visible: function (val) {
      if (val) this.$emit('onVisible')
      else this.query = ''
    },
    query: function (val) {
      this.getItems(val)
    },
  },
  created() {
    this.getItems('');
    if (this.title === 'Маркировка') {
      this.getOptions();
      if (!this.selectedItem) {
        this.selectItem({
          id: this.options.not_marking_id,
          name: 'Нет',
        })
      }
    }
  }
}
</script>

<template>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">{{ title }}</span>
    </div>
    <div class="form-control" v-bind:class="{'-is-error': isError}">
      <div class="js-select select__wrapper select__with-search select__data" v-bind:class="{'-is-open': visible}">
        <input type="hidden" class="js-select-value" required>
        <div class="d-flex align-items-center cursor-pointer js-select-box select__box" style="width: 169px;">
          <div class="flex-grow-1 js-select-text select__text text-center" @click="toggleVisible">
            <div v-if="!selectedItem">
              {{ title }}
            </div>
            <div v-else>
              {{ selectedItem[name] }}
            </div>
          </div>
          <div class="flex-center select__box__icon">
            <img v-if="selectedItem" src="@/assets/images/svg/close.svg" @click="deleteSelect"/>
            <img v-else src="@/assets/images/svg/caret.svg" @click="toggleVisible"/>
          </div>
        </div>
        <div class="js-select-list select__list">
          <div class="js-select-search select__list__search">
            <input class="select__list__search__input" v-model="query" type="text" placeholder="Поиск">
          </div>
          <div class="select__list__in">
            <div v-for="item in items"
                 class="js-select-option select__list__option"
                 @click="selectItem(item)">
              {{ item.name }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
