<script>
import * as string_decoder from "string_decoder";

export default {
  name: "ListUser",
  computed: {
    string_decoder() {
      return string_decoder
    }
  },
  props: {
    current: null,
    uri: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    property: {
      type: String,
      required: true,
    },
    propsVisible: {
      type: Boolean,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    returnItemsCount: {
      type: Number,
      required: true,
    },
    weight: {
      type: Number,
      required: true,
    },
    isError: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      query: '',
      items: [],
      visible: false,
      selectedItem: false,
    }
  },
  methods: {
    selectItem(item) {
      this.selectedItem = item;
      this.$emit('selectId', item.id);
      this.toggleVisible();
    },
    deleteSelect() {
      this.selectedItem = false;
      this.$emit('selectId', null);
    },
    toggleVisible() {
      this.visible = !this.visible;
    },
    getItems(query) {
      this.$axios.get(this.uri, {
        params: {
          value: query,
          per_page: 50,
        },
      }).then(response => {
        this.items = response.data.data;
      }).catch(function (error) {
        console.error(error);
      });
    }
  },
  watch: {
    current: function (val) {
      if (val) this.selectedItem = this.current
    },
    propsVisible: function (val) {
      if (!val) this.visible = false
    },
    uri: function (val) {
      this.getItems(this.query)
    },
    visible: function (val) {
      if (val) this.$emit('onVisible')
      else this.query = ''
    },
    query: function (val) {
      this.getItems(val)
    },
  },
  created() {
    this.getItems('');
    this.selectedItem = this.current
  }
}
</script>

<template>
  <div class="form-control p-0" style="justify-content: flex-end">
    <div class="js-select select__wrapper select__data" v-bind:class="{'-is-open': visible}" style="width: 120px;">
      <input type="hidden" class="js-select-value">
      <div class="d-flex cursor-pointer">
        <div class="flex-grow-1 js-select-text select__text text-center pl-2" @click="toggleVisible">
          <div v-if="!selectedItem['fio']">
            {{ title }}
          </div>
          <div v-else>
            {{ selectedItem.fio }}
          </div>
        </div>
        <div class="align-content-end select__box__icon">
          <img src="@/assets/images/svg/caret.svg" @click="toggleVisible"/>
        </div>
      </div>
      <div class="js-select-list select__list">
        <div class="js-select-search select__list__search">
          <input class="select__list__search__input" v-model="query" type="text" placeholder="Поиск" style="border-radius: 5px; padding: 2px">
        </div>
        <div class="select__list__in" style="align-content: flex-start">
          <div v-for="item in items"
               class="js-select-option select__list__option"
               @click="selectItem(item)">
            {{ item[name] }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
