.chem-page {
   
    .melt-card__chem {
        margin-bottom: 20px;
        .table {
            .date,
            .time {
                width: 124px;
            }
            .tr-last {
                td.caption {
                    font-size: 12px;
                    padding-right: 14px;
                }
                .btn {
                    height: 20px;
                    font-size: 12px;
                    margin-left: 10px;
                    font-style: normal;
                }
            }
        }
        
    }
}