.event-log {
    .page__top {
        &__date {
            max-width: 110px;
            .datepicker__input {
                text-align: center;
            }
        }
        .select{
            &__wrapper {
                margin-left: 15px;
            }
            &__id {
                max-width: 120px;
            }
            &__card {
                max-width: 134px;
            }
        }
    }
    &__table {
        tbody {
            td {
                text-align: left;
            }
        }
    }
}