.login-page {
    padding-top: 80px;
    &__title {
        font-weight: 700;
        margin-bottom: 25px;
    }
    &__form {
        .form-group {
            margin-bottom: 25px;
        }
        .form-label {
            margin-bottom: 10px;
        }
        .form-control {
            background: white;
            text-align: left;
            font-size: 14px;
            padding: 13px 10px;
            &:active,
            &:focus {
                background: $white;
            }
        }
        .form-control.is-invalid, .was-validated .form-control:invalid {
            border-color: $red !important;
            background: #FFF5F5;
        }
        .btn {
            width: 150px;
            height: 50px;
        }
    }

}
