.melt-card {
    .page__top {
        margin-bottom: 20px;
        .form {
            &-control {
                border: none !important;
                border-radius: 35px;
                background: $white;
                font-size: 14px;
                padding-left: 30px;
                &::placeholder {
                    color: $placeholder-color;
                }
            }
            &__wrapper {
                max-width: 126px;
                .icon {
                    top: 4px;
                    left: 10px;
                    svg {
                        width: 16px;
                        height: auto;
                    }
                }
            }
        }
    }
    &__options {
        .btn {
            margin-right: 10px;
            &:hover {
                background: $primary-color !important;
            }
        }
        &__info {
            margin-right: 15px;
           
            background: $white;
            border: 1px solid $table-border;
            &:last-child {
                margin-right: 0;
            }
            .caption {
                height: 26px;
                line-height: 26px;
                padding: 0 5px;
                border-right: 1px solid $table-border;
            }
            .time {
                height: 26px;
                line-height: 26px;
                padding: 0 5px;
            }
        }
    }
    .table {
        .edit__link {
           display: block;
           text-align: center;
           position: relative;
           &__tooltip {
               height: 18px;
               line-height: 18px;
               padding: 0 5px;
               font-size: 12px;
               white-space: nowrap;
               color: $white;
               background: $primary-color;
               border-radius: 18px;
               position: absolute;
               top: 0;
               right: 38px;
               display: none;
               visibility: hidden;
               opacity: 0;
               transition: visibility 0s 9999s, opacity 0.1s linear;
               z-index: 1000;
           }
           &:hover {
               svg path {
                   fill: $primary-color;
               }
               .edit__link__tooltip {
                   display: block;
                   visibility: visible;
                   opacity: 1;
                   transition-delay: 0s;
               }
           }
        }
    }
    &__task,
    &__output {
        margin-bottom: 42px;
        .table {
             th {
                color: $white;
                width: 100px;
            }
        }
    }
    &__output {
        max-width: 80%;
    }
    &__info {
        tr td:first-child {
            text-align: left;
        }
    }
    &__spend {
        margin-bottom: 10px;
        &__plan {
            padding-left: 150px;
            margin-bottom: 15px;
            .table {
                 th {
                    color: $white;
                }
            }
        }
        .btn {
            margin-right: 10px;
        }
        .table {
             th {
                color: $white;
                &:first-child {
                    text-align: left;
                }
            }
            .info-cell {
                width: 370px;
                padding: 4px 15px;
            }
        }
        &__tables {
            margin-bottom: 20px;
            .table {
                margin-bottom: 10px;
                tr {
                    &:nth-of-type(even) {
                        td{
                            background: transparent;
                        }
                    }
                    &:nth-of-type(odd) {
                        td, th {
                            background: $table-light;
                        }
                    }
                    &.tr-first {
                        th {
                            font-size: 14px;
                            &:first-child {
                                width: 100px;
                            }
                        }
                    }
                }
                td strong {
                    font-weight: 600;
                }
                .edit__link {
                    margin-left: 5px;
                }
                .add-link {
                    color: $table-border;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
            
        }
    }
    &__chem {
        margin-bottom: 20px;
        .table {
            .t-head th {
                background: $green;
                font-size: 14px;
                font-weight: 700;
                color: $text-color;
                border: none !important;
            }
            .melt-number {
                width: 130px;
            }
            
            .tr-last {
                td {
                    color: $primary-color;
                    &.caption {
                        color: $table-border;
                        font-size: 14px;
                        font-style: italic;
                        text-align: right;
                        padding-right: 72px;
                    }
                }
            }
        }
    }
    &__table-gray {
        margin-bottom: 20px;
        thead {
            th {
                font-size: 14px;
                font-weight: 700;
                padding: 3px 5px 3px 8px;
            }
            .edit__link {
                svg path {
                    fill: $white;
                }
                &:hover {
                    svg path {
                        fill: $primary-color;
                    }
                    svg rect {
                        fill: $white;
                    }
                }
            }
        }
        tbody {
            tr {
                th {
                    font-size: 14px;
                    border-bottom: 1px solid $table-border;
                    &:first-child {
                        border-left: 1px solid $table-border;
                    }
                }
                td strong {
                    font-weight: 600;
                }
            }
        }
        &__title {
            background: $green;
            font-weight: 700;
            padding: 5px 7px;
            margin-bottom: 10px;
        }
    }
}