.prod-plan {
    &__top {
        margin-bottom: 10px;
    }
    .page__top {
        &__date {
            .btn-primary {
                margin-left: 50px;
            }
        }
        &__buttons {
            .btn-primary {
                margin-right: 50px;
            }
        }
    }
    &__filter {
        .select__data {
            max-width: 134px;
        }
        .select__wrapper {
            margin-left: 15px;
            &:last-child {
                margin-left: 60px;
            }
        }
    }
    &__table {
        &__caption {
            height: 26px;
            line-height: 26px;
            font-size: 14px;
            width: fit-content;
            padding: 0 10px;
            border-radius: 33px;
            color: $white;
        }
        .date-cell {
            vertical-align: text-top !important
        }
        .status {
            width: 180px;
        }
        .select {
            &__wrapper {
                width: 100%;
                &.-is-open {
                    .select__list {
                        display: block;
                        width: calc(100% + 8px);
                        left: -4px;
                    }
                }
            }
            &__box {
                width: calc(100% + 8px);
                height: 28px;
                margin: -4px;
                background: transparent;
                border-radius: 0 !important;
            }
            &__list {
                display: none;
                &__option {
                    text-align: left;
                   
                }
            }
            
        }
        .checkbox {
            &__text {
                width: 20px;
                height: 20px;
                margin: 0 auto;
                padding-left: 20px;
            }
           
        }
        .edit {
            &__list {
                width: 100%;
                height: auto;
                background: $white;
                box-shadow: 2px 2px 9px 0px rgba(79, 80, 104, 0.10);
                padding: 5px 0;
                top: 100%;
                left: 0;
            }
            &__link {
                display: block;
                text-align: center;
                margin-bottom: 8px;
                position: relative;
                &:last-child {
                    margin-bottom: 0;
                }
                &__tooltip {
                    height: 18px;
                    line-height: 18px;
                    padding: 0 5px;
                    font-size: 12px;
                    white-space: nowrap;
                    color: $white;
                    background: $primary-color;
                    border-radius: 18px;
                    position: absolute;
                    top: 0;
                    right: 38px;
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s 9999s, opacity 0.1s linear;
                    z-index: 1000;
                }
                &:hover {
                    svg path {
                        fill: $primary-color;
                    }
                    .edit__link__tooltip {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        transition-delay: 0s;
                    }
                }
            }
        }
        .pagination {
            margin-top: 16px;
        }
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .chem__modal {
            width: 1040px;
            padding: 20px 60px 20px 20px;
            border-radius: 12px;
            background: $white;
            box-shadow: 2px 2px 9px 0px rgba(79, 80, 104, 0.10);
            top: 100%;
            right: 0;
            z-index: 1000;
            &__close {
                top: 10px;
                right: 10px;
            }
            &__table {
                th, td {
                    border-color: $table-dark;
                }
                th {
                    color: $text-color;
                    font-weight: 600;
                    border-bottom: 1px solid $table-dark;
                }
            }
        }
    }
    &__table-block {
        margin-bottom: 24px;
        &__date {
            width: 80px;
            flex-shrink: 0;
            padding-top: 30px;
            &__in {
                height: 100%;
                border-left: 1px solid $table-border;
                border-bottom: 1px solid $table-border;
            }
            &__title {
                font-size: 12px;
                padding: 10px 6px;
                height: 34px;
                text-align: center;
                font-weight: 400;
                color: $white;
                background: $table-dark;
                margin-bottom: 8px;
            }
            &__value {
                text-align: center;
                font-size: 12px;
            }
        }
        &__content {
            flex-grow: 1 ;
            border-left: 1px solid $table-border;
            border-top: 1px solid $table-border;
            .table {
                margin-bottom: 0;
               &__title {
                    height: 30px;
               }
                .tc-checkbox {
                    width: 76px;
                }
                .tc-num-pl {
                    width: 50px;
                }
                .tc-stove {
                    width: 49px;
                }
                .tc-id {
                    width: 84px;
                }
                .tc-status {
                    width: 180px;
                }
                .tc-card {
                    width: 90px;
                }
                .tc-date {
                    width: 92px;
                }
                .tc-type {
                    width: 94px;
                }
                .tc-mark {
                    width: 136px;
                }
                .tc-diameter {
                    width: 69px;
                }
                .tc-gost {
                    width: 98px;
                }
                .tc-marking {
                    width: 93px;
                }
                .tc-filter {
                    width: 60px;
                }
                .tc-weight {
                    width: 77px;
                }
                .tc-chem {
                    width: 86px;
                }
                .tc-edit {
                    width: 49px;
                }
            }
        }
    }
    .pagination {
        margin-bottom: 0;
    }
}
