<script>
import AutocompleteAG from "~/components/Prodplan/Autocomplete/AutocompleteAG.vue";
import AutocompleteCard from "~/components/Prodplan/Autocomplete/AutocompleteCard.vue";
import AutocompleteTestType from "~/components/Prodplan/Autocomplete/AutocompleteTestType.vue";

export default {
  name: "ChemModal",
  components: {AutocompleteTestType, AutocompleteCard, AutocompleteAG},
  data() {
    return {
      test: {},
      task: {},
      testId: null,
      testType: {},
      cc: null,
      alloyGrade: {},
      canSave: false,
    }
  },
  watch: {
    // 'test.test_type_id': function (val) {
    //   if (this.test.melting_task_id && this.test.test_type_id && this.test.alloy_grade_id) {
    //     this.canSave = true;
    //   }
    // },
    'test.melting_task_id': function (val) {
      if (this.test.melting_task_id) {
        this.canSave = true;
      }
    },
    // 'test.alloy_grade_id': function (val) {
    //   if (this.test.melting_task_id && this.test.test_type_id && this.test.alloy_grade_id) {
    //     this.canSave = true;
    //   }
    // },
  },
  methods: {
    clear() {
      this.test = {};
      this.task = {};
      this.testType = {};
      this.alloyGrade = {};
      this.testId = null;
      this.cc = null;
      this.testType = {};
      this.alloyGrade = {};
    },
    addTest() {
      this.$axios.post('v1/test', {
        test: this.test,
        porosity: this.task.porosity
      }).then(response => {
      }).catch(function (error) {
        console.error(error);
      });

      this.clear();
      this.$emit('update');
    },
    async clickPasteButton() {
      let data = await navigator.clipboard.readText()

      let pasteString = data.toString();
      let result = pasteString.split('\n').map(line => line.trim()).filter(line => line);
      let line = result[result.length - 1];
      let values = line.split('\t').map(item => item.trim()).filter(item => item !== 'Rep');
      if (values.length > 1) {
        document.querySelectorAll('.js-split-clipbord input').forEach((element, index) => {
          element.value = values[index] || '';
        });

        let array = [
          'al',
          'si',
          'fe',
          'cu',
          'mn',
          'mg',
          'zn',
          'ti',
          'ni',
          'pb',
          'sn',
          'cr',
          'cd',
        ]
        array.forEach((element, index) => {
          this.test[element] = values[index] || '';
        });      }
      return false;
    },
    selectAlloyGradeId(id) {
      this.test['alloy_grade_id'] = id;
      this.$axios.get('v1/alloy_grade' + id).then(response => {
        this.alloyGrade = response.data.alloy_grade;
      }).catch(function (error) {
        console.error(error);
      });

      if (this.test.melting_task_id) {
        this.canSave = true;
      }
    },
    selectTest(id) {
      this.test['test_type_id'] = id;
      this.$axios.get('v1/test-type' + id).then(response => {
        this.testType = response.data.test_type;
      }).catch(function (error) {
        console.error(error);
      });

      if (this.test.melting_task_id) {
        this.canSave = true;
      }
    },
    getTask(id) {
      this.$axios.get('v1/melting-task/' + id).then(response => {
        this.task = response.data.melting_task;
        this.cc = this.task.chemical_composition
        this.clickPasteButton();
        this.test['melting_task_id'] = id;
        if (this.test.melting_task_id) {
          this.canSave = true;
        }
      }).catch(function (error) {
        console.error(error);
      });
    },
    paste(data) {
      document.addEventListener("paste", function (event) {
        let target = event.target.closest('.js-split-clipbord input');
        if (target) {
          let paste = (event.clipboardData || window.clipboardData).getData('text/plain');
          let pasteString = paste.toString();
          let result = pasteString.split('\n').map(line => line.trim()).filter(line => line);
          let line = result[result.length - 1];
          let values = line.split('\t').map(item => item.trim()).filter(item => item !== 'Rep');
          if (values.length > 1) {
            document.querySelectorAll('.js-split-clipbord input').forEach((element, index) => {
              element.value = values[index] || '';
            });
          }
          let array = [
            'al',
            'si',
            'fe',
            'cu',
            'mn',
            'mg',
            'zn',
            'ti',
            'ni',
            'pb',
            'sn',
            'cr',
            'cd',
          ]
          array.forEach((element, index) => {
            this.test[element] = values[index] || '';
          });
          return false;
        }
      })
    }
  }
}
</script>

<template>
  <div class="fade modal chem-modal show" id="chemAddNew" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered show">
      <div class="modal-content" v-click-outside="clear">
        <div class="modal-header">
          <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.81687 6.06687L8.38375 7.5L9.81687 8.93313C10.0612 9.1775 10.0612 9.5725 9.81687 9.81687C9.695 9.93875 9.535 10 9.375 10C9.215 10 9.055 9.93875 8.93313 9.81687L7.5 8.38375L6.06687 9.81687C5.945 9.93875 5.785 10 5.625 10C5.465 10 5.305 9.93875 5.18313 9.81687C4.93875 9.5725 4.93875 9.1775 5.18313 8.93313L6.61625 7.5L5.18313 6.06687C4.93875 5.8225 4.93875 5.4275 5.18313 5.18313C5.4275 4.93875 5.8225 4.93875 6.06687 5.18313L7.5 6.61625L8.93313 5.18313C9.1775 4.93875 9.5725 4.93875 9.81687 5.18313C10.0612 5.4275 10.0612 5.8225 9.81687 6.06687ZM15 7.5C15 11.6356 11.6356 15 7.5 15C3.36437 15 0 11.6356 0 7.5C0 3.36437 3.36437 0 7.5 0C11.6356 0 15 3.36437 15 7.5ZM13.75 7.5C13.75 4.05375 10.9462 1.25 7.5 1.25C4.05375 1.25 1.25 4.05375 1.25 7.5C1.25 10.9462 4.05375 13.75 7.5 13.75C10.9462 13.75 13.75 10.9462 13.75 7.5Z"
                fill="#000"></path>
            </svg>

          </button>
        </div>
        <div class="modal-body">
          <div class="melt-card__chem">
            <table class="table table-borderless">
              <tbody>
              <tr class="t-head">
                <!--                <th class="date">Дата</th>-->
                <!--                <th class="time">Время пробы</th>-->
                <th class="melt-number">№ плавки</th>
                <th class="element" v-bind:class="{'bg-yellow': task.al_l}">Al</th>
                <th class="element" v-bind:class="{'bg-yellow': task.si_l}">Si</th>
                <th class="element" v-bind:class="{'bg-yellow': task.fe_l}">Fe</th>
                <th class="element" v-bind:class="{'bg-yellow': task.cu_l}">Cu</th>
                <th class="element" v-bind:class="{'bg-yellow': task.mn_l}">Mn</th>
                <th class="element" v-bind:class="{'bg-yellow': task.mg_l}">Mg</th>
                <th class="element" v-bind:class="{'bg-yellow': task.zn_l}">Zn</th>
                <th class="element" v-bind:class="{'bg-yellow': task.ti_l}">Ti</th>
                <th class="element" v-bind:class="{'bg-yellow': task.ni_l}">Ni</th>
                <th class="element" v-bind:class="{'bg-yellow': task.pb_l}">Pb</th>
                <th class="element" v-bind:class="{'bg-yellow': task.sn_l}">Sn</th>
                <th class="element" v-bind:class="{'bg-yellow': task.cr_l}">Cr</th>
                <th class="element" v-bind:class="{'bg-yellow': task.cd_l}">Cd</th>
                <th>МАРКА</th>
                <th v-bind:class="{'bg-yellow': task.proportions}">Mg/Si</th>
                <!--                <th>брак</th>-->
                <!--                <th>1С</th>-->
                <th>Балл пористости</th>
                <th>Примечание</th>
              </tr>
              <tr class="t-body">
                <!--                <td>22.08.23</td>-->
                <!--                <td>10:45</td>-->
                <td>
                  <div class="d-flex justify-content-between px-1">
                    <AutocompleteCard
                      property="id"
                      name="number"
                      uri="/v1/melting-task/number-search"
                      title="Карта плавки"
                      :selected-item="task"
                      @selectId="getTask"/>
                    <AutocompleteTestType
                      property="id"
                      name="name"
                      uri="/v1/test-type"
                      title="Тип теста"
                      :selected-item="testType"
                      @selectId="selectTest"/>
                  </div>
                </td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['al']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['si']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['fe']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['cu']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['mn']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['mg']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['zn']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['ti']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['ni']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['pb']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['sn']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['cr']"></td>
                <td class="js-split-clipbord"><input class="form-control" type="text"
                                                     v-model="test['cd']"></td>
                <td>
                  <AutocompleteAG
                    property="id"
                    name="name"
                    uri="/v1/alloy_grade/"
                    title="Марка сплава"
                    :selected-item="alloyGrade"
                    @selectId="selectAlloyGradeId"/>
                </td>
                <td><input class="form-control" type="text" v-model="test['proportions']"></td>
                <td><input class="form-control" type="text" v-model="task['porosity']"></td>
                <td><input class="form-control" type="text" v-model="test['description']"></td>

              </tr>

              <tr class="t-body tr-last" v-if="cc">
                <td class="px-3">
                  <div class="d-flex align-items-center justify-content-between paste-current">
                    Плановые значения:
                    <a @click="clickPasteButton" style="cursor: pointer" class="edit__link" >
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_154_3771)">
                          <path
                            d="M7.5 3H6C5.175 3 4.5 2.325 4.5 1.5C4.5 0.675 5.175 0 6 0H7.5C8.325 0 9 0.675 9 1.5C9 2.325 8.325 3 7.5 3ZM15 6.75H12C10.3425 6.75 9 8.0925 9 9.75V15C9 16.6575 10.3425 18 12 18H15C16.6575 18 18 16.6575 18 15V9.75C18 8.0925 16.6575 6.75 15 6.75ZM15 14.25H12C11.5875 14.25 11.25 13.9125 11.25 13.5C11.25 13.0875 11.5875 12.75 12 12.75H15C15.4125 12.75 15.75 13.0875 15.75 13.5C15.75 13.9125 15.4125 14.25 15 14.25ZM15 11.25H12C11.5875 11.25 11.25 10.9125 11.25 10.5C11.25 10.0875 11.5875 9.75 12 9.75H15C15.4125 9.75 15.75 10.0875 15.75 10.5C15.75 10.9125 15.4125 11.25 15 11.25ZM12 5.25H13.5C13.5 3.435 12.2025 1.935 10.4925 1.59C10.44 3.2025 9.1275 4.5 7.5 4.5H6C4.3725 4.5 3.045 3.195 3.0075 1.575C1.2975 1.92 0 3.435 0 5.25V14.25C0 16.32 1.68 18 3.75 18H8.6475C7.935 17.205 7.5 16.155 7.5 15V9.75C7.5 7.2675 9.5175 5.25 12 5.25Z"
                            fill="#667C8A"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_154_3771">
                            <rect width="18" height="18" fill="white"></rect>
                          </clipPath>
                        </defs>
                      </svg>

                      <span class="edit__link__tooltip">Вставить</span>
                    </a>
                  </div>
                </td>
                <td>{{ cc.al }}</td>
                <td>{{ cc.si }}</td>
                <td>{{ cc.fe }}</td>
                <td>{{ cc.cu }}</td>
                <td>{{ cc.mn }}</td>
                <td>{{ cc.mg }}</td>
                <td>{{ cc.zn }}</td>
                <td>{{ cc.ti }}</td>
                <td>{{ cc.ni }}</td>
                <td>{{ cc.pb }}</td>
                <td>{{ cc.sn }}</td>
                <td>{{ cc.cr }}</td>
                <td>{{ cc.cd }}</td>
                <td>{{ cc.alloy_grade.name }}</td>
                <td>{{ cc.proportions }}</td>
                <td>{{ cc.description }}</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button v-show="canSave" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"
                  @click="addTest">
            Сохранить
          </button>

          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" @click="clear">
            Выйти без сохранения
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
