<script>
import ChemModalEdit from "~/components/Chemical/ChemModalEdit.vue";

export default {
  name: "ChemTable",
  components: {ChemModalEdit},
  props: {
    tests: {
      required:true,
    }
  },
  methods: {
    checkValue(originalValue, value) {
      let values = String(originalValue).split('-');
      if (values.length === 1) {
        return Number(value) > parseFloat(values[0]) || Number(value) < parseFloat(values[0]);
      } else if (values.length === 2) {
        return Number(value) < parseFloat(values[0]) || Number(value) > parseFloat(values[1]);
      } else {
        return false;
      }
    }
  }
}
</script>

<template>
  <tbody>
  <tr class="t-head">
    <th colspan="2" class="date">Дата</th>
<!--    <th class="time">Время пробы</th>-->
    <th class="melt-number">№ плавки</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.al_l}">Al</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.si_l}">Si</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.fe_l}">Fe</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.cu_l}">Cu</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.mn_l}">Mn</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.mg_l}">Mg</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.zn_l}">Zn</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.ti_l}">Ti</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.ni_l}">Ni</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.pb_l}">Pb</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.sn_l}">Sn</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.cr_l}">Cr</th>
    <th class="element" v-bind:class="{'bg-yellow': tests.melting_task.cd_l}">Cd</th>
    <th v-bind:class="{'bg-yellow': tests.melting_task.proportions}">Mg/Si</th>
    <th>МАРКА</th>
    <th>Балл пористости</th>
    <!--              <th>брак</th>-->
    <!--              <th>1С</th>-->
    <th colspan="3">Примечание</th>
  </tr>
  <tr class="t-body" v-for="(test, index) in tests.tests">
    <td colspan="2">{{test.created_at}}</td>
<!--    <td>{{test.time}}</td>-->
    <td>
      <div class="d-flex justify-content-between px-3">
        <div>{{test.melting_task.number}}</div>
        <div>{{test.test_type ? test.test_type.name : '-'}}</div>
      </div>
    </td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.al && checkValue( tests.chemical_composition.al, test.al)}">{{test.al}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.si && checkValue( tests.chemical_composition.si, test.si)}">{{test.si}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.fe && checkValue( tests.chemical_composition.fe, test.fe)}">{{test.fe}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.cu && checkValue( tests.chemical_composition.cu, test.cu)}">{{test.cu}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.mn && checkValue( tests.chemical_composition.mn, test.mn)}">{{test.mn}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.mg && checkValue( tests.chemical_composition.mg, test.mg)}">{{test.mg}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.zn && checkValue( tests.chemical_composition.zn, test.zn)}">{{test.zn}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.ti && checkValue( tests.chemical_composition.ti, test.ti)}">{{test.ti}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.ni && checkValue( tests.chemical_composition.ni, test.ni)}">{{test.ni}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.pb && checkValue( tests.chemical_composition.pb, test.pb)}">{{test.pb}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.sn && checkValue( tests.chemical_composition.sn, test.sn)}">{{test.sn}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.cr && checkValue( tests.chemical_composition.cr, test.cr)}">{{test.cr}}</td>
    <td v-bind:class="{'bg-red': tests.chemical_composition.cd && checkValue( tests.chemical_composition.cd, test.cd)}">{{test.cd}}</td>
    <td>{{test.proportions}}</td>
    <td>{{test.alloy_grade ? test.alloy_grade.name : '-'}}</td>
    <td :rowspan="tests.tests.length" v-if="index == 0">{{ test.melting_task.porosity }}</td>
    <td colspan="3">{{test.description}}</td>
  </tr>
  <tr class="t-body tr-last">
    <td colspan="3" class="t-border-bottom-0 t-border-left-0 caption">
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-primary w-fit"
                v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('laboratory') || $auth.user.user.roles.includes('technologist')"
                data-toggle="modal"
                @click="$emit('set-tests', tests)"
                :data-target="'#chemEdit'">
          Добавить новую пробу
        </button>
        <button class="btn btn-primary w-fit"
                v-else
                disabled
                data-toggle="modal"
                :data-target="'#chemEdit'">
          Добавить новую пробу
        </button>
        Хим. состав по умолчанию
      </div>
    </td>
    <td>{{tests.chemical_composition.al}}</td>
    <td>{{tests.chemical_composition.si}}</td>
    <td>{{tests.chemical_composition.fe}}</td>
    <td>{{tests.chemical_composition.cu}}</td>
    <td>{{tests.chemical_composition.mn}}</td>
    <td>{{tests.chemical_composition.mg}}</td>
    <td>{{tests.chemical_composition.zn}}</td>
    <td>{{tests.chemical_composition.ti}}</td>
    <td>{{tests.chemical_composition.ni}}</td>
    <td>{{tests.chemical_composition.pb}}</td>
    <td>{{tests.chemical_composition.sn}}</td>
    <td>{{tests.chemical_composition.cr}}</td>
    <td>{{tests.chemical_composition.cd}}</td>
    <td>{{tests.chemical_composition.proportions}}</td>
    <td>{{tests.chemical_composition.alloy_grade ? tests.chemical_composition.alloy_grade.name : '-'}}</td>
    <td colspan="3">{{tests.chemical_composition.description}}</td>
  </tr>
  <tr class="t-separator">
    <td colspan="21"></td>
  </tr>
  </tbody>

</template>

<style scoped>

</style>
