<template>
  <div>
    <HeaderComponent/>
    <main class="chem-page page">
      <div class="container-fluid">
        <div class="d-flex align-items-center page__top">

          <div class="d-flex align-items-center ml-auto page__top__buttons">
            <!--            <a class="btn btn-light" href="#">Печать</a>-->
            <!--            <a class="btn btn-light" href="#">Скачать</a>-->
          </div>
        </div>

        <div class="melt-card__chem">
          <table class="table table-borderless">
            <tbody>
            <tr class="t-head">
              <th colspan="2">Дата</th>
<!--              <th>Время пробы</th>-->
              <th class="melt-number">№ плавки</th>
              <th>Al</th>
              <th>Si</th>
              <th>Fe</th>
              <th>Cu</th>
              <th>Mn</th>
              <th>Mg</th>
              <th>Zn</th>
              <th>Ti</th>
              <th>Ni</th>
              <th>Pb</th>
              <th>Sn</th>
              <th>Cr</th>
              <th>Cd</th>
              <th>МАРКА</th>
              <th>Mg/Si</th>
              <th>Балл пористости</th>
              <!--              <th>брак</th>-->
              <!--              <th>1С</th>-->
              <th colspan="3">Примечание</th>
            </tr>
            <tr class="tr-last">
              <td colspan="22" class="text-left">
                <button class="btn btn-primary w-fit"
                        v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('laboratory') || $auth.user.user.roles.includes('technologist')"
                        data-toggle="modal"
                        data-target="#chemAddNew">
                  Добавить новую пробу
                </button>
                <button class="btn btn-primary w-fit"
                        v-else
                        disabled
                        data-toggle="modal"
                        data-target="#chemAddNew">
                  Добавить новую пробу
                </button>

              </td>
            </tr>
            <tr class="t-separator">
              <td colspan="21"></td>
            </tr>
            </tbody>

            <ChemTable v-for="(tests, key) in $store.state.tests.tests" :tests="tests" :key="key" @update="update" @set-tests="setModalTests"/>

          </table>
        </div>

      </div>
    </main>

    <ChemModal @update="update"/>

    <ChemModalEdit v-if="modalTests" :id="modalTests.melting_task_id" :meltingTask="modalTests.melting_task" @update="update"/>

  </div>
</template>

<script>
import HeaderComponent from "~/components/Header/HeaderComponent.vue";
import EventList from "~/components/Events/EventList.vue";
import {state} from "~/store/melting_tasks";
import {mapActions, mapMutations} from "vuex";
import ChemModal from "~/components/Chemical/ChemModal.vue";
import ChemTable from "~/components/Chemical/ChemTable.vue";
import ChemModalEdit from "~/components/Chemical/ChemModalEdit.vue";
export default {
  name: 'Chemical',
  components: {ChemModalEdit, ChemTable, ChemModal, EventList, HeaderComponent},
  middleware: 'auth',
  data() {
    return {
      modalTests: null,
    }
  },
  methods: {
    state,
    ...mapActions({
      getTests: 'tests/GET_TESTS',
    }),
    ...mapMutations({
      setTests: 'tests/SET_TESTS'
    }),
    update() {
      this.getTests();
    },
    setModalTests(tests) {
      this.modalTests = null;
      this.modalTests = tests;
    }
  },
  mounted() {
    if (!this.$auth.user.user.roles.includes('admin') &&
      !this.$auth.user.user.roles.includes('laboratory') &&
      !this.$auth.user.user.roles.includes('director') &&
      !this.$auth.user.user.roles.includes('technologist')) {
      this.$router.push('/')
    }

    this.update();
  }
}
</script>
