<template>
  <div>
    <HeaderComponent/>
    <main class="daily-report page">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between page__top">
          <div class="d-flex align-items-center page__top__date">
            <div class="page__top__date__caption">Дата</div>

            <client-only>
              <date-picker v-model="date"
                           format="DD.MM.YYYY"
                           placeholder="Выбрать дату"
                           valueType="format"
                           input-class="datepicker__input position-relative btn btn-light"/>
            </client-only>

          </div>
          <div class="d-flex align-items-center page__top__buttons">
            <!--            <a class="btn btn-light" href="#">Распечатать отчет</a>-->
            <button class="btn btn-light" @click="download">Скачать</button>

          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <div class="daily-report__masters">
              <table class="table table-borderless table__transparent font-md">
                <tbody>
                <tr class="tr-first">
                  <td>Мастер</td>
                  <td>{{ $auth.user.user.fio }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-4">
            <div class="daily-report__table">
              <div class="d-flex daily-report__table t-border-right">
                <div class="table-responsive" v-for="(furnace, key) in report.furnaces_data" :key="key">
                  <table class="table table-borderless mb-0">
                    <thead>
                    <tr>
                      <th class="t-border-right-0 t-border-bottom" colspan="2">{{ key }} всего:</th>
                    </tr>
                    <tr>
                      <th>План</th>
                      <th class="t-border-right-0">Факт</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{ furnace.planned }}</td>
                      <td class="t-border-right-0">{{ furnace.fact }}</td>
                    </tr>
                    </tbody>

                  </table>
                </div>
              </div>
              <!--              <div class="table-responsive">-->
              <!--                <table class="table table-borderless table__sticky-left">-->
              <!--                  <thead>-->
              <!--                  <tr>-->
              <!--                    <th class="t-border-bottom" colspan="2">РНП всего:</th>-->
              <!--                    <th class="t-border-bottom" colspan="2">М15 всего:</th>-->
              <!--                    <th class="t-border-bottom" colspan="2">КИТ всего:</th>-->
              <!--                  </tr>-->
              <!--                  <tr>-->
              <!--                    <th>План</th>-->
              <!--                    <th>Факт</th>-->
              <!--                    <th>План</th>-->
              <!--                    <th>Факт</th>-->
              <!--                    <th>План</th>-->
              <!--                    <th>Факт</th>-->
              <!--                  </tr>-->
              <!--                  </thead>-->
              <!--                  <tbody>-->
              <!--                  <tr v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')">-->
              <!--                    <td><input v-model="report.rnp_plan" @focusout="update('rnp_plan',report.rnp_plan)" type="number" class="w-100" min="0"></td>-->
              <!--                    <td><input v-model="report.rnp_fact" @focusout="update('rnp_fact',report.rnp_fact)" type="number" class="w-100" min="0"></td>-->
              <!--                    <td><input v-model="report.m15_plan" @focusout="update('m15_plan',report.m15_plan)" type="number" class="w-100" min="0"></td>-->
              <!--                    <td><input v-model="report.m15_fact" @focusout="update('m15_fact',report.m15_fact)" type="number" class="w-100" min="0"></td>-->
              <!--                    <td><input v-model="report.kit_plan" @focusout="update('kit_plan',report.kit_plan)" type="number" class="w-100" min="0"></td>-->
              <!--                    <td><input v-model="report.kit_fact" @focusout="update('kit_fact',report.kit_fact)" type="number" class="w-100" min="0"></td>-->
              <!--                  </tr>-->
              <!--                  <tr v-else>-->
              <!--                    <td>{{report.rnp_plan ? report.rnp_plan : '-'}}</td>-->
              <!--                    <td>{{report.rnp_fact ? report.rnp_fact : '-'}}</td>-->
              <!--                    <td>{{report.m15_plan ? report.m15_plan : '-'}}</td>-->
              <!--                    <td>{{report.m15_fact ? report.m15_fact : '-'}}</td>-->
              <!--                    <td>{{report.kit_plan ? report.kit_plan : '-'}}</td>-->
              <!--                    <td>{{report.kit_fact ? report.kit_fact : '-'}}</td>-->
              <!--                  </tr>-->
              <!--                  </tbody>-->

              <!--                </table>-->

              <!--              </div>-->
            </div>
          </div>


        </div>

        <Table v-for="(furnace, index) in report.tasks" :furnace="furnace" :key="furnace"/>

        <div class="row">
          <div class="col-3">

            <div class="daily-report__table table-responsive">
              <table class="table table-borderless table__transparent">
                <thead>
                <tr>
                  <th colspan="4" class="table__title">Время выхода на полку Гомо</th>
                </tr>
                <tr>
                  <th rowspan="2">№ печи</th>
                  <th rowspan="2">План</th>
                  <th class="t-border-bottom" colspan="2">Факт</th>
                </tr>
                <tr>
                  <th>Выход на полку</th>
                  <th>Полка</th>
                </tr>
                </thead>
                <tbody
                  v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')">
                <tr>
                  <td><strong>Гомо 1.1</strong></td>
                  <td><input v-model="report.gomo_1_1_plane" @focusout="update('gomo_1_1_plane',report.gomo_1_1_plane)"
                             type="number" class="w-100" min="0"></td>
                  <td><input v-model="report.gomo_1_1_output"
                             @focusout="update('gomo_1_1_output',report.gomo_1_1_output)" type="number" class="w-100"
                             min="0"></td>
                  <td><input v-model="report.gomo_1_1_shelf" @focusout="update('gomo_1_1_shelf',report.gomo_1_1_shelf)"
                             type="number" class="w-100" min="0"></td>
                </tr>
                <tr>
                  <td><strong>Гомо 1.2</strong></td>
                  <td><input v-model="report.gomo_1_2_plane" @focusout="update('gomo_1_2_plane',report.gomo_1_2_plane)"
                             type="number" class="w-100" min="0"></td>
                  <td><input v-model="report.gomo_1_2_output"
                             @focusout="update('gomo_1_2_output',report.gomo_1_2_output)" type="number" class="w-100"
                             min="0"></td>
                  <td><input v-model="report.gomo_1_2_shelf" @focusout="update('gomo_1_2_shelf',report.gomo_1_2_shelf)"
                             type="number" class="w-100" min="0"></td>
                </tr>
                <tr>
                  <td><strong>Гомо 2.1</strong></td>
                  <td><input v-model="report.gomo_2_1_plane" @focusout="update('gomo_2_1_plane',report.gomo_2_1_plane)"
                             type="number" class="w-100" min="0"></td>
                  <td><input v-model="report.gomo_2_1_output"
                             @focusout="update('gomo_2_1_output',report.gomo_2_1_output)" type="number" class="w-100"
                             min="0"></td>
                  <td><input v-model="report.gomo_2_1_shelf" @focusout="update('gomo_2_1_shelf',report.gomo_2_1_shelf)"
                             type="number" class="w-100" min="0"></td>
                </tr>
                <tr>
                  <td><strong>Гомо 2.2</strong></td>
                  <td><input v-model="report.gomo_2_2_plane" @focusout="update('gomo_2_2_plane',report.gomo_2_2_plane)"
                             type="number" class="w-100" min="0"></td>
                  <td><input v-model="report.gomo_2_2_output"
                             @focusout="update('gomo_2_2_output',report.gomo_2_2_output)"
                             type="number" class="w-100" min="0"></td>
                  <td><input v-model="report.gomo_2_2_shelf" @focusout="update('gomo_2_2_shelf',report.gomo_2_2_shelf)"
                             type="number" class="w-100" min="0"></td>
                </tr>
                </tbody>
                <tbody v-else>
                <tr>
                  <td><strong>Гомо 1.1</strong></td>
                  <td>{{ report.gomo_1_1_plane ? report.gomo_1_1_plane : '-' }}</td>
                  <td>{{ report.gomo_1_1_output ? report.gomo_1_1_output : '-' }}</td>
                  <td>{{ report.gomo_1_1_shelf ? report.gomo_1_1_shelf : '-' }}</td>
                </tr>
                <tr>
                  <td><strong>Гомо 1.2</strong></td>
                  <td>{{ report.gomo_1_2_plane ? report.gomo_1_2_plane : '-' }}</td>
                  <td>{{ report.gomo_1_2_output ? report.gomo_1_2_output : '-' }}</td>
                  <td>{{ report.gomo_1_2_shelf ? report.gomo_1_2_shelf : '-' }}</td>
                </tr>
                <tr>
                  <td><strong>Гомо 2.1</strong></td>
                  <td>{{ report.gomo_2_1_plane ? report.gomo_2_1_plane : '-' }}</td>
                  <td>{{ report.gomo_2_1_output ? report.gomo_2_1_output : '-' }}</td>
                  <td>{{ report.gomo_2_1_shelf ? report.gomo_2_1_shelf : '-' }}</td>
                </tr>
                <tr>
                  <td><strong>Гомо 2.2</strong></td>
                  <td>{{ report.gomo_2_2_plane ? report.gomo_2_2_plane : '-' }}</td>
                  <td>{{ report.gomo_2_2_output ? report.gomo_2_2_output : '-' }}</td>
                  <td>{{ report.gomo_2_2_shelf ? report.gomo_2_2_shelf : '-' }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-3">

            <div class="daily-report__table table-responsive">
              <table class="table table-borderless table__transparent">
                <thead>
                <tr>

                  <th colspan="4" class="table__title">Расход</th>
                </tr>
                <tr>
                  <th></th>
                  <th>Mg 90</th>
                  <th>Si</th>
                  <th>Cu</th>
                </tr>
                </thead>
                <tbody
                  v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')">
                <tr>
                  <td><strong>Столбы</strong></td>
                  <td><input class="w-100" v-model="report.consumptions_pillars_mg"
                             type="number"
                             step="0.01"
                             @focusout="update('consumptions_pillars_mg', report.consumptions_pillars_mg)"></td>
                  <td><input class="w-100" v-model="report.consumptions_pillars_si"
                             type="number"
                             step="0.01"
                             @focusout="update('consumptions_pillars_si', report.consumptions_pillars_si)"></td>
                  <td><input class="w-100" v-model="report.consumptions_pillars_cu"
                             type="number"
                             step="0.01"
                             @focusout="update('consumptions_pillars_cu', report.consumptions_pillars_cu)"></td>
                </tr>
                <tr>
                  <td><strong>Чушка</strong></td>
                  <td><input class="w-100" v-model="report.consumptions_ingots_mg"
                             type="number"
                             step="0.01"
                             @focusout="update('consumptions_ingots_mg', report.consumptions_ingots_mg)"></td>
                  <td><input class="w-100" v-model="report.consumptions_ingots_si"
                             type="number"
                             step="0.01"
                             @focusout="update('consumptions_ingots_si', report.consumptions_ingots_si)"></td>
                  <td><input class="w-100" v-model="report.consumptions_ingots_cu"
                             type="number"
                             step="0.01"
                             @focusout="update('consumptions_ingots_cu', report.consumptions_ingots_cu)"></td>
                </tr>

                </tbody>
                <tbody v-else>
                <tr>
                  <td><strong>Столбы</strong></td>
                  <td>{{ report.consumptions_pillars_mg ? report.consumptions_pillars_mg : '-' }}</td>
                  <td>{{ report.consumptions_pillars_si ? report.consumptions_pillars_si : '-' }}</td>
                  <td>{{ report.consumptions_pillars_cu ? report.consumptions_pillars_cu : '' }}</td>
                </tr>
                <tr>
                  <td><strong>Чушка</strong></td>
                  <td>{{ report.consumptions_ingots_mg ? report.consumptions_ingots_mg : '-' }}</td>
                  <td>{{ report.consumptions_ingots_si ? report.consumptions_ingots_si : '-' }}</td>
                  <td>{{ report.consumptions_ingots_cu ? report.consumptions_ingots_cu : '-' }}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-3">
            <div class="daily-report__table table-responsive">
              <table class="table table-borderless">
                <thead>
                <tr>
                  <th class="table__title" colspan="8">Весы, кг.</th>
                </tr>
                </thead>
                <tbody
                  v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')">
                <tr>
                  <td><strong>Фукс</strong></td>
                  <td><input v-model="report.fyks_weght" @focusout="update('fyks_weght',report.fyks_weght)"
                             type="number" class="w-100" min="0"></td>
                  <td><strong>РНП</strong></td>
                  <td><input v-model="report.rnp_weght" @focusout="update('rnp_weght',report.rnp_weght)" type="number"
                             class="w-100" min="0"></td>
                  <td><strong>Китай</strong></td>
                  <td><input v-model="report.china_weght" @focusout="update('china_weght',report.china_weght)"
                             type="number" class="w-100" min="0"></td>
                  <td><strong>Весовая</strong></td>
                  <td><input v-model="report.weight_weght" @focusout="update('weight_weght',report.weight_weght)"
                             type="number" class="w-100" min="0"></td>
                </tr>
                </tbody>
                <tbody v-else>
                <tr>
                  <td><strong>Фукс</strong></td>
                  <td>{{ report.fyks_weght ? report.fyks_weght : '-' }}</td>
                  <td><strong>РНП</strong></td>
                  <td>{{ report.rnp_weght ? report.rnp_weght : '-' }}</td>
                  <td><strong>Китай</strong></td>
                  <td>{{ report.china_weght ? report.china_weght : '-' }}</td>
                  <td><strong>Весовая</strong></td>
                  <td>{{ report.weight_weght ? report.weight_weght : '-' }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import HeaderComponent from "~/components/Header/HeaderComponent.vue";
import EventList from "~/components/Events/EventList.vue";
import Table from "~/components/DailyReport/Table.vue";

export default {
  name: 'DailyReport',
  components: {Table, EventList, HeaderComponent},
  middleware: 'auth',

  methods: {
    getDate() {
      let date = new Date(new Date().setDate(new Date().getDate()))
      this.date = date.getDate() + '.' + (date.getMonth() + 1) + '.' + date.getFullYear();
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/daily-report/' + this.report.id, data).then(response => {
        this.getDailyReport(this.report.date);
      }).catch(function (error) {
        console.error(error);
      });
    },
    download() {
      this.$axios.get('v1/daily-report/' + this.report.id + '/xls',
        {
          responseType: "blob"
        }).then(response => {
        const fileURL = window.URL.createObjectURL(new Blob([response.data]));
        const fileLink = document.createElement('a');

        fileLink.href = fileURL;
        fileLink.setAttribute('download', 'prodplan.xlsx');
        document.body.appendChild(fileLink);

        fileLink.click();
      }).catch(function (error) {
        console.error(error);
      });
    },
    getDailyReport(date) {
      this.$axios('/v1/daily-report', {
        method: 'GET',
        params: {
          date: date,
        }
      }).then((item) => {
        this.report = item.data.daily_report;
      }).catch((error) => {
        console.log(error);
      })
    }
  },
  created() {
    if (!this.$auth.user.user.roles.includes('admin') &&
      !this.$auth.user.user.roles.includes('master') &&
      !this.$auth.user.user.roles.includes('director') &&
      !this.$auth.user.user.roles.includes('technologist')) {
      this.$router.push('/')
    }

    this.getDate(0);
  },
  watch: {
    date(val) {
      this.getDailyReport(val)
    },
  },
  data() {
    return {
      date: null,
      report: {
        id: 0,
        rnp_plan: 0,
        rnp_fact: 0,
        m15_plan: 0,
        m15_fact: 0,
        kit_plan: 0,
        kit_fact: 0,
        fyks_weght: 0,
        rnp_weght: 0,
        china_weght: 0,
        weight_weght: 0,
        gomo_1_1_plane: 0,
        gomo_1_1_output: 0,
        gomo_1_1_shelf: 0,
        gomo_1_2_plane: 0,
        gomo_1_2_output: 0,
        gomo_1_2_shelf: 0,
        gomo_2_1_plane: 0,
        gomo_2_1_output: 0,
        gomo_2_1_shelf: 0,
        gomo_2_2_plane: 0,
        gomo_2_2_output: 0,
        gomo_2_2_shelf: 0,
        date: null,
        consumptions_pillars_mg: 0,
        consumptions_pillars_si: 0,
        consumptions_pillars_cu: 0,
        consumptions_ingots_mg: 0,
        consumptions_ingots_si: 0,
        consumptions_ingots_cu: 0,
      }
    }
  }
}
</script>
