<template>
  <div>
    <HeaderComponent/>
    <main class="event-log page">
      <div class="container-fluid">
        <div class="d-flex align-items-center page__top">
          <div class="d-flex align-items-center page__top__date">
            <div class="position-relative btn btn-light datepicker">
            <span class="position-absolute icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_30_3063)">
<path
  d="M0 12.6667C0.00105857 13.5505 0.352588 14.3977 0.97748 15.0226C1.60237 15.6475 2.4496 15.999 3.33333 16.0001H12.6667C13.5504 15.999 14.3976 15.6475 15.0225 15.0226C15.6474 14.3977 15.9989 13.5505 16 12.6667V6.66675H0V12.6667ZM11.3333 9.66675C11.5311 9.66675 11.7245 9.7254 11.8889 9.83528C12.0534 9.94516 12.1815 10.1013 12.2572 10.2841C12.3329 10.4668 12.3527 10.6679 12.3141 10.8618C12.2755 11.0558 12.1803 11.234 12.0404 11.3739C11.9006 11.5137 11.7224 11.6089 11.5284 11.6475C11.3344 11.6861 11.1334 11.6663 10.9507 11.5906C10.7679 11.5149 10.6117 11.3868 10.5019 11.2223C10.392 11.0579 10.3333 10.8645 10.3333 10.6667C10.3333 10.4015 10.4387 10.1472 10.6262 9.95964C10.8138 9.7721 11.0681 9.66675 11.3333 9.66675ZM8 9.66675C8.19778 9.66675 8.39112 9.7254 8.55557 9.83528C8.72002 9.94516 8.84819 10.1013 8.92388 10.2841C8.99957 10.4668 9.01937 10.6679 8.98079 10.8618C8.9422 11.0558 8.84696 11.234 8.70711 11.3739C8.56726 11.5137 8.38907 11.6089 8.19509 11.6475C8.00111 11.6861 7.80004 11.6663 7.61732 11.5906C7.43459 11.5149 7.27841 11.3868 7.16853 11.2223C7.05865 11.0579 7 10.8645 7 10.6667C7 10.4015 7.10536 10.1472 7.29289 9.95964C7.48043 9.7721 7.73478 9.66675 8 9.66675ZM4.66667 9.66675C4.86445 9.66675 5.05779 9.7254 5.22224 9.83528C5.38669 9.94516 5.51486 10.1013 5.59055 10.2841C5.66623 10.4668 5.68604 10.6679 5.64745 10.8618C5.60887 11.0558 5.51363 11.234 5.37377 11.3739C5.23392 11.5137 5.05574 11.6089 4.86176 11.6475C4.66778 11.6861 4.46671 11.6663 4.28398 11.5906C4.10126 11.5149 3.94508 11.3868 3.8352 11.2223C3.72532 11.0579 3.66667 10.8645 3.66667 10.6667C3.66667 10.4015 3.77202 10.1472 3.95956 9.95964C4.1471 9.7721 4.40145 9.66675 4.66667 9.66675Z"
  fill="#444BF6"></path>
<path
  d="M12.6667 1.33333H12V0.666667C12 0.489856 11.9298 0.320286 11.8047 0.195262C11.6797 0.0702379 11.5101 0 11.3333 0C11.1565 0 10.987 0.0702379 10.8619 0.195262C10.7369 0.320286 10.6667 0.489856 10.6667 0.666667V1.33333H5.33333V0.666667C5.33333 0.489856 5.2631 0.320286 5.13807 0.195262C5.01305 0.0702379 4.84348 0 4.66667 0C4.48986 0 4.32029 0.0702379 4.19526 0.195262C4.07024 0.320286 4 0.489856 4 0.666667V1.33333H3.33333C2.4496 1.33439 1.60237 1.68592 0.97748 2.31081C0.352588 2.93571 0.00105857 3.78294 0 4.66667L0 5.33333H16V4.66667C15.9989 3.78294 15.6474 2.93571 15.0225 2.31081C14.3976 1.68592 13.5504 1.33439 12.6667 1.33333Z"
  fill="#444BF6"></path>
</g>
<defs>
<clipPath id="clip0_30_3063">
<rect width="16" height="16" fill="white"></rect>
</clipPath>
</defs>
</svg>
</span>
              <client-only>
                <date-picker v-model="filters.date"
                             format="DD.MM.YYYY"
                             placeholder="Выбрать дату"
                             valueType="format"
                             @change="getEvents(1)"
                             input-class="datepicker__input position-relative btn btn-light"/>
              </client-only>
            </div>
          </div>
<!--          <div class="js-select select__wrapper select__with-search">-->
<!--            <input type="hidden" class="js-select-value">-->
<!--            <div class="d-flex align-items-center cursor-pointer js-select-box select__box">-->
<!--              <div class="flex-grow-1 js-select-text select__text text-center">Автор</div>-->
<!--              <div class="flex-center select__box__icon">-->
<!--                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path-->
<!--                    d="M9.81687 6.06687L8.38375 7.5L9.81687 8.93313C10.0612 9.1775 10.0612 9.5725 9.81687 9.81687C9.695 9.93875 9.535 10 9.375 10C9.215 10 9.055 9.93875 8.93313 9.81687L7.5 8.38375L6.06687 9.81687C5.945 9.93875 5.785 10 5.625 10C5.465 10 5.305 9.93875 5.18313 9.81687C4.93875 9.5725 4.93875 9.1775 5.18313 8.93313L6.61625 7.5L5.18313 6.06687C4.93875 5.8225 4.93875 5.4275 5.18313 5.18313C5.4275 4.93875 5.8225 4.93875 6.06687 5.18313L7.5 6.61625L8.93313 5.18313C9.1775 4.93875 9.5725 4.93875 9.81687 5.18313C10.0612 5.4275 10.0612 5.8225 9.81687 6.06687ZM15 7.5C15 11.6356 11.6356 15 7.5 15C3.36437 15 0 11.6356 0 7.5C0 3.36437 3.36437 0 7.5 0C11.6356 0 15 3.36437 15 7.5ZM13.75 7.5C13.75 4.05375 10.9462 1.25 7.5 1.25C4.05375 1.25 1.25 4.05375 1.25 7.5C1.25 10.9462 4.05375 13.75 7.5 13.75C10.9462 13.75 13.75 10.9462 13.75 7.5Z"-->
<!--                    fill="#EF1B1B"></path>-->
<!--                </svg>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="js-select-list select__list">-->
<!--              <div class="js-select-search select__list__search">-->
<!--                <input class="select__list__search__input w-100" type="text" placeholder="Поиск">-->
<!--              </div>-->
<!--              <div class="select__list__in">-->
<!--                <div class="js-select-option select__list__option" data-value="a-1">Старовойтов Евгений Сергеевич</div>-->
<!--                <div class="js-select-option select__list__option" data-value="a-2">Дубенко Николай Сергеевич</div>-->
<!--                <div class="js-select-option select__list__option" data-value="a-3">Дубенко Николай Сергеевич</div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--          <div class="js-select select__wrapper select__with-search select__card">-->
<!--            <input type="hidden" class="js-select-value">-->
<!--            <div class="d-flex align-items-center cursor-pointer js-select-box select__box">-->
<!--              <div class="flex-grow-1 js-select-text select__text text-center">Где</div>-->
<!--              <div class="flex-center select__box__icon">-->
<!--                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="#111112"></path>-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="black" fill-opacity="0.2"></path>-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="black" fill-opacity="0.2"></path>-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="black" fill-opacity="0.2"></path>-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="black" fill-opacity="0.2"></path>-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="black" fill-opacity="0.2"></path>-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="black" fill-opacity="0.2"></path>-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="black" fill-opacity="0.2"></path>-->
<!--                  <path-->
<!--                    d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"-->
<!--                    fill="black" fill-opacity="0.2"></path>-->
<!--                </svg>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <client-only>
          <pagination v-if="events.meta && events.meta.total > 30"
                      v-model="events.meta.current_page"
                      :records="events.meta.total"
                      :options="{
                            texts: {
                              count: ''
                            }
                        }"
                      @paginate="paginateEvents"/>
        </client-only>
        <EventTable :events="events"/>
      </div>
    </main>
  </div>
</template>

<script>
import HeaderComponent from "~/components/Header/HeaderComponent.vue";
import EventList from "~/components/Events/EventList.vue";
import EventTable from "~/components/EventLog/EventTable.vue";

export default {
  name: 'Events',
  components: {EventTable, EventList, HeaderComponent},
  middleware: 'auth',
  data() {
    return {
      filters: {
        date: null,
        user_id: null,
        melting_task_id: null,
        event_name: null,
      },
      events: {
        data: []
      },
    }
  },
  watch: {
    filters (val) {
      this.getEvents(1)
    }
  },
  methods: {
    paginateEvents(page) {
      this.getEvents(page)
    },
    getEvents(page) {
      return this.$axios('/v1/events?page=' + page, {
        params: this.filters,
        method: 'GET'
      }).then((items) => {
        this.events = items.data;
        console.log(items);
        return items;
      }).catch((error) => {
        console.log(error);
        return error
      })
    },
  },
  created() {
    this.getEvents(1)
  }
}
</script>
