<template>
  <div>
    <HeaderComponent/>
    <main class="page event-log">
    </main>
  </div>
</template>

<script>
import HeaderComponent from "~/components/Header/HeaderComponent.vue";
import EventList from "~/components/Events/EventList.vue";

export default {
  name: 'IndexPage',
  components: {EventList, HeaderComponent},
  middleware: 'auth',
  created() {
    if (this.$auth.user.user.roles.includes('admin') ||
      this.$auth.user.user.roles.includes('master') ||
      this.$auth.user.user.roles.includes('director') ||
      this.$auth.user.user.roles.includes('technologist')) {
      this.$router.push('/prodplan')
    } else if (this.$auth.user.user.roles.includes('laboratory')) {
      this.$router.push('/chemical')
    }
  }

}
</script>
