<template>
  <main class="page login-page">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="login-page__title">Войти</div>
          <form class="login-page__form was-validated">
            <div class="form-group">
              <label class="form-label" for="userName">Имя пользователя:</label>
              <input type="text" class="form-control" id="userName" required v-model="email">
              <div v-if="invalid" class="invalid-feedback">*логин не верный</div>
            </div>
            <div class="form-group">
              <label class="form-label" for="userPass">Пароль:</label>
              <input type="password" class="form-control" id="userPass" required v-model="password">
              <div v-if="invalid" class="invalid-feedback">*неверный пароль</div>
            </div>
            <button type="submit" class="btn btn-primary ml-auto" @click.prevent="login">Войти</button>
          </form>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  auth: 'guest',
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      invalid: false,
    }
  },
  methods: {
    login() {
      this.$auth.loginWith('laravelSanctum', {
        data: {
          email: this.email,
          password: this.password,
        }
      });

      if (!this.$auth.loggedIn) {
        this.invalid = true;
      }
    }
  },
}
</script>
