<script>
import List from "~/components/UI/Autocomplete/List.vue";

export default {
  name: "Autocomplete",
  components: {List},
  props: {
    uri: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    property: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    returnItemsCount: {
      type: Number,
      default: 5,
    },
    weight: {
      type: Number,
      default: 2,
    },
  },
  data() {
    return {
      query: '',
      items: [],
      visible: false,
    }
  },
  methods: {
    invise() {
      this.visible = false;
    }
  }
}
</script>

<template>
  <List :property="property"
        :name="name" :uri="uri"
        :props-visible="visible"
        :title="title"
        :return-items-count="returnItemsCount"
        :weight="weight"
        v-click-outside="invise"
        @onVisible="visible=true"/>
</template>

<style scoped>

</style>
