<script>
import * as string_decoder from "string_decoder";

export default {
  name: "List",
  computed: {
    string_decoder() {
      return string_decoder
    }
  },
  props: {
    uri: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    property: {
      type: String,
      required: true,
    },
    propsVisible: {
      type: Boolean,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    returnItemsCount: {
      type: Number,
      required: true,
    },
    weight: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      query: '',
      items: [],
      visible: false,
      selectedItem: false,
    }
  },
  methods: {
    toggleVisible() {
      this.visible = !this.visible;
    },
    getItems(query) {
      this.$axios.get(this.uri, {
        params: {
          value: query,
          per_page: 50,
        },
      }).then(response => {
        this.items = response.data.data;
      }).catch(function (error) {
        console.error(error);
      });
    }
  },
  watch: {
    propsVisible: function (val) {
      if (!val) this.visible = false
    },
    visible: function (val) {
      if (val) this.$emit('onVisible')
      else this.query = ''
    },
    query: function (val) {
      this.getItems(val)
    },
  },
  created() {
    this.getItems('')
  }
}
</script>

<template>
  <div class="select__wrapper select__with-search js-select col-5 pr-0 pl-0"
       v-bind:class="{'-is-open': visible,
                      'col-md-2': weight === 2,
                      'col-md-3': weight === 3,
                      'col-md-4': weight === 4,
                      'col-md-5': weight === 5,
                      'col-md-6': weight === 6,}">
    <input type="hidden" class="js-select-value">

    <div class="select__box d-flex align-items-center cursor-pointer js-select-box">
      <div class="select__text js-select-text flex-grow-1 text-center" @click="toggleVisible">
        <div v-if="!selectedItem">
          {{ title }}
        </div>
        <div v-else>
          {{ selectedItem[name] }}
        </div>
      </div>

      <div class="select__box__icon flex-center">
        <img v-if="selectedItem" src="@/assets/images/svg/close.svg" @click="selectedItem = false"/>
        <img v-else src="@/assets/images/svg/caret.svg" @click="toggleVisible"/>
      </div>
    </div>

    <div class="select__list js-select-list">
      <div class="select__list__search js-select-search ">
        <input class="select__list__search__input w-100" v-model="query" type="text" placeholder="Поиск">
      </div>

      <div class="select__list__in">
        <div v-for="item in items"
             class="select__list__option js-select-option"
             data-value="a-1"
             @click="selectedItem = item">
          {{ item.name }}
        </div>
      </div>
    </div>

  </div>
</template>

<style scoped>

</style>
