<script>
export default {
  name: "AdditionalMaterialConsumption",
  data() {
    return {
      canEdit: false,
      materials: [],
      total: 0,
      l: 0,
    }
  },
  props: {
    task: {
      required: true
    },
  },
  watch: {
    'task.additional_materials': function (val) {
      this.materials = val;
    },
  },
  methods: {
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.$route.params.id, data).then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
  },
  created() {
    this.checkCanEdit();
  },
}
</script>

<template>
  <table class="table table-borderless table__transparent melt-card__table-gray">
    <thead>
    <tr>
      <th colspan="3">
        <div class="d-flex align-items-center justify-content-between">
          <div>III. ДОП. РАСХОД МАТЕРИАЛОВ</div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody v-for="(work, key) in task.additional_materials">
    <tr>
      <th>Вид работ:</th>
      <th>{{ key }}</th>
      <th>Ед.изм.</th>
    </tr>
    <tr v-for="material in work">
      <td>{{ material.name }}</td>
      <td style="width: 150px" v-if="canEdit">
        <input class="form-control"
               type="number"
               step="0.01"
               v-model="material.value"
               @focusout="update('additional_materials', materials);"
        />
      </td>
      <td v-else>{{material.value}}</td>
      <td>{{ material.measure }}</td>
    </tr>
    </tbody>

  </table>
</template>

<style scoped>

</style>
