<script>
export default {
  name: "ChemicalCompositionLine",
  props: {
    test: {
      required: true,
    },
    porosity: {
      required: false,
    },
    index: {
      required: false,
    },
    length: {
      required: false,
    },
    cc: {
      required: true,
    }
  },
  methods: {
    checkValue(originalValue, value) {
      let values = String(originalValue).split('-');
      console.log(values);

      if (values.length === 1) {
        return value > values[0] || value < values[0];
      } else if (values.length === 2) {
        return value < values[0] || value > values[1];
      } else {
        return false;
      }
    }
  }
}
</script>

<template>
  <tr>
    <td>{{test.created_at}}</td>
<!--    <td>{{test.time}}</td>-->
    <td>
      <div class="d-flex justify-content-center">
        <div>{{test.test_type ? test.test_type.name : '-'}}</div>
      </div>
    </td>
    <td v-bind:class="{'bg-red': cc.al && checkValue(cc.al, test.al)}">{{test.al}}</td>
    <td v-bind:class="{'bg-red': cc.si && checkValue(cc.si, test.si)}">{{test.si}}</td>
    <td v-bind:class="{'bg-red': cc.fe && checkValue(cc.fe, test.fe)}">{{test.fe}}</td>
    <td v-bind:class="{'bg-red': cc.cu && checkValue(cc.cu, test.cu)}">{{test.cu}}</td>
    <td v-bind:class="{'bg-red': cc.mn && checkValue(cc.mn, test.mn)}">{{test.mn}}</td>
    <td v-bind:class="{'bg-red': cc.mg && checkValue(cc.mg, test.mg)}">{{test.mg}}</td>
    <td v-bind:class="{'bg-red': cc.zn && checkValue(cc.zn, test.zn)}">{{test.zn}}</td>
    <td v-bind:class="{'bg-red': cc.ti && checkValue(cc.ti, test.ti)}">{{test.ti}}</td>
    <td v-bind:class="{'bg-red': cc.ni && checkValue(cc.ni, test.ni)}">{{test.ni}}</td>
    <td v-bind:class="{'bg-red': cc.pb && checkValue(cc.pb, test.pb)}">{{test.pb}}</td>
    <td v-bind:class="{'bg-red': cc.sn && checkValue(cc.sn, test.sn)}">{{test.sn}}</td>
    <td v-bind:class="{'bg-red': cc.cr && checkValue(cc.cr, test.cr)}">{{test.cr}}</td>
    <td v-bind:class="{'bg-red': cc.cd && checkValue(cc.cd, test.cd)}">{{test.cd}}</td>
    <td>{{test.proportions}}</td>
    <td>{{test.alloy_grade ? test.alloy_grade.name : '-'}}</td>
    <td v-if="index === 0" :rowspan="length">{{porosity}}</td>
    <td>{{test.description}}</td>
  </tr>
</template>

<style scoped>

</style>
