<script>
import ChemicalCompositionLine from "~/components/MeltingCard/ChemicalCompositionLine.vue";

export default {
  name: "ChemicalCompositions",
  components: {ChemicalCompositionLine},
  props: {
    task: {
      required: true
    },
  },
}
</script>

<template>
  <div class="melt-card__chem">
    <table class="table table-borderless">
      <thead>
      <tr class="t-head">
        <th>Дата</th>
        <!--        <th>Время пробы</th>-->
        <th class="melt-number">Тип теста</th>
        <th v-bind:class="{'bg-yellow': task.al_l}">Al</th>
        <th v-bind:class="{'bg-yellow': task.si_l}">Si</th>
        <th v-bind:class="{'bg-yellow': task.fe_l}">Fe</th>
        <th v-bind:class="{'bg-yellow': task.cu_l}">Cu</th>
        <th v-bind:class="{'bg-yellow': task.mn_l}">Mn</th>
        <th v-bind:class="{'bg-yellow': task.mg_l}">Mg</th>
        <th v-bind:class="{'bg-yellow': task.zn_l}">Zn</th>
        <th v-bind:class="{'bg-yellow': task.ti_l}">Ti</th>
        <th v-bind:class="{'bg-yellow': task.ni_l}">Ni</th>
        <th v-bind:class="{'bg-yellow': task.pb_l}">Pb</th>
        <th v-bind:class="{'bg-yellow': task.sn_l}">Sn</th>
        <th v-bind:class="{'bg-yellow': task.cr_l}">Cr</th>
        <th v-bind:class="{'bg-yellow': task.cd_l}">Cd</th>
        <th v-bind:class="{'bg-yellow': task.proportions_l}">Mg/Si</th>
        <th>МАРКА</th>
        <th>Балл пористости</th>
        <!--        <th>брак</th>-->
        <!--        <th>1С</th>-->
        <th>Примечание</th>
      </tr>
      </thead>
      <tbody>
      <ChemicalCompositionLine v-for="(test, index) in task.tests" :cc="task.chemical_composition" :test="test"
                               :key="test.id" :porosity="task.porosity" :index="index" :length="task.tests.length"/>
      <tr>
        <td colspan="2" class="t-border-left-0 t-border-bottom-0 caption">Хим. состав по умолчанию</td>
        <td>{{ task.chemical_composition.al }}</td>
        <td>{{ task.chemical_composition.si }}</td>
        <td>{{ task.chemical_composition.fe }}</td>
        <td>{{ task.chemical_composition.cu }}</td>
        <td>{{ task.chemical_composition.mn }}</td>
        <td>{{ task.chemical_composition.mg }}</td>
        <td>{{ task.chemical_composition.zn }}</td>
        <td>{{ task.chemical_composition.ti }}</td>
        <td>{{ task.chemical_composition.ni }}</td>
        <td>{{ task.chemical_composition.pb }}</td>
        <td>{{ task.chemical_composition.sn }}</td>
        <td>{{ task.chemical_composition.cr }}</td>
        <td>{{ task.chemical_composition.cd }}</td>
        <td>{{ task.chemical_composition.proportions }}</td>
        <td>{{ task.chemical_composition.alloy_grade ? task.chemical_composition.alloy_grade.name : '-' }}</td>
        <!--        <td></td>-->
        <!--        <td></td>-->
        <td></td>
        <td>{{ task.chemical_composition.description }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
