<script>
export default {
  name: "EnergyConsumption",
  data() {
    return {
      canEdit: false,
      materials: [],
      total: 0,
      l: 0,
    }
  },
  props: {
    task: {
      required: true
    },
  },
  watch: {
    'task.energy_parameters': function (val) {
      this.materials = val;
    },
  },
  methods: {
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.$route.params.id, data).then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
  },
  created() {
    this.checkCanEdit();
  },
}
</script>

<template>
  <table class="table table-borderless table__transparent melt-card__table-gray">
    <thead>
    <tr>
      <th colspan="4">
        <div class="d-flex align-items-center justify-content-between">
          <div>IV. РАСХОД ЭЛ/ГАЗ - ЭНЕРГИИ</div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th rowspan="2">Наименование</th>
      <th colspan="3">Показания счетчика</th>
    </tr>
    <tr>
      <td class="t-border-left-0"><strong>на начало</strong></td>
      <td><strong>на конец</strong></td>
      <td><strong>Разница, м3</strong></td>
    </tr>
    <tr v-for="parameter in task.energy_parameters">
      <td>{{ parameter.name }}</td>
      <td style="width: 100px" v-if="canEdit">
        <input class="form-control"
               v-model="parameter.start_value"
               type="number"
               step="0.01"
               @focusout="update('energy_parameters', materials);"
        />
      </td>
      <td v-else>{{ parameter.start_value }}</td>
      <td style="width: 100px" v-if="canEdit">
        <input class="form-control"
               v-model="parameter.end_value"
               type="number"
               step="0.01"
               @focusout="update('energy_parameters', materials);"
        />
      </td>
      <td v-else>{{parameter.end_value}}</td>
      <td>{{ parameter.difference }}</td>
    </tr>

    <tr>
      <th v-if="" colspan="4">Итого</th>
    </tr>
    <tr v-for="(differency, key) in task.energy_differences">
      <th colspan="2">{{ key }}</th>
      <td colspan="2">{{ differency }}</td>
    </tr>
    </tbody>
  </table>
</template>

<style scoped>

</style>
