<script>
export default {
  name: "MaterialConsumption",
  data() {
    return {
      canEdit: false,
      materials: [],
      total: 0,
      l: 0,
    }
  },
  props: {
    task: {
      required: true
    },
  },
  watch: {
    'task.materials.data': function (val) {
      this.materials = val;
    },
  },
  methods: {
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.$route.params.id, data).then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
    getChargeSum() {
      let sum = 0;

      if (this.task.charges.length > 0) {
        this.task.batches.forEach(batch => {
          if (batch.loads.length > 0) {
            batch.loads.forEach(load => {
              sum += load.weight;
            })
          }
        })
      }

      return Number(sum);
    }
  },
  created() {
    this.checkCanEdit();
  },
}
</script>

<template>
  <div class="col-3">
    <table class="table table-borderless table__transparent melt-card__table-gray">
      <thead>
      <tr>
        <th colspan="3">
          <div class="d-flex align-items-center justify-content-between">
            <div>II. РАСХОД МАТЕРИАЛОВ</div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Наименование</th>
        <th>Кол-во</th>
        <th>Ед.изм.</th>
      </tr>
      <tr v-for="material in task.materials.data" :key="material.id">
        <td>{{ material.name }}</td>
        <td style="width: 150px" v-if="canEdit">
          <input class="form-control"
                 v-model="material.value"
                 type="number"
                 step="0.01"
                 @focusout="update('materials', materials);"/>
        </td>
        <td v-else>{{material.value}}</td>
        <td>{{ material.measure }}</td>
      </tr>
      <tr>
        <th rowspan="2">ИТОГО</th>
        <th>{{ (task.materials.total).toFixed(2) }}</th>
        <td>кг</td>
      </tr>
      <tr>
        <th class="t-border-left-0">{{ (task.materials.l ? task.materials.l :0).toFixed(2) }}</th>
        <td>л</td>
      </tr>
      <tr>
        <th>ВСЕГО</th>
        <th>{{ ((this.getChargeSum() + this.task.materials.total - this.task.materials.l) ? (this.getChargeSum() + this.task.materials.total - this.task.materials.l) : 0).toFixed(2) }}</th>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
