<script>
import ProdPlanModal from "~/components/Prodplan/ProdPlanModal.vue";
import AutocompletePP from "~/components/Prodplan/Autocomplete/AutocompletePP.vue";
import SelectFromApi from "~/components/UI/SelectFromApi.vue";
import AutocompleteUser from "~/components/Prodplan/Autocomplete/AutocompleteUser.vue";

export default {
  name: "MeltingPeoples",
  components: {AutocompleteUser, SelectFromApi, AutocompletePP, ProdPlanModal},
  data() {
    return {
      canEdit: false,
      users: [],
      roles: [],
    }
  },
  props: {
    task: {
      required: true
    },
  },
  methods: {
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.task.id, data).then(response => {
        this.$router.push('/prodplan/' + this.$route.params.id)
      }).catch(function (error) {
        console.error(error);
      });
    },
    updateUsers() {
      this.update('users', this.users);
      this.$emit('update')
    },
    setUserId(id, index) {
      this.users[index]['user_id'] = id;
      this.update('users', this.users);
    },
    deleteUser(index) {
      this.users.splice(index, 1);
      this.updateUsers();
    },
    getRoles() {
      this.$axios.get('v1/role').then(response => {
        this.roles = response.data.data;
      }).catch(function (error) {
        console.error(error);
      });
    },
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
  },
  watch: {
    'task.users': function (val) {
      this.users = val;
    },
    // users: function (val) {
    //   if (val !== this.task.users) {
    //     this.update('users', val);
    //   }
    // },
  },
  created() {
    this.checkCanEdit();
    this.getRoles();
  }
}
</script>

<template>
  <div class="col-2">
    <div class="melt-card__info">
      <table class="table table-borderless table__transparent font-md">
        <tbody>
        <tr class="tr-first">
          <td>Мастер</td>
          <td colspan="2">{{ task.master ? task.master.fio : null }}</td>
        </tr>
        <tr v-for="(user, index) in users">
          <td v-if="canEdit">
            <select class="form-control" v-model="user.role" @change="updateUsers">
              <option v-for="role in roles" :value="role.id">{{ role.name }}</option>
            </select>
          </td>
          <td v-else>{{user.role}}</td>
          <!--          <td>{{ user.role ? user.role : '' }}</td>-->
          <td v-if="canEdit">
            <AutocompleteUser
              property="id"
              name="fio"
              :uri="'/v1/user?role='+user.role"
              title="Пользователь"
              :userIndex="index"
              :selectedItem="user"
              @selectId="setUserId"/>
          </td>
          <td v-else>{{user ? user.fio : ''}}</td>
          <td v-if="canEdit">
            <img style="cursor: pointer" src="@/assets/images/svg/close.svg" @click="deleteUser(index)"/>
          </td>
          <td v-else></td>
          <!--          <td>{{ user.user ? user.user.fio : '' }}</td>-->
        </tr>
        <tr v-if="canEdit">
          <td colspan="2" class="bg-transparent">
            <button class="add-link" @click="users.push(
              {
                role: roles[0] ? roles[0].id : null,
                fio: null,
              }
            );">Добавить
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<style scoped>

</style>
