<script>
import MeltingInfo from "~/components/MeltingCard/MeltingInfo.vue";
import TaskInfo from "~/components/MeltingCard/TaskInfo.vue";
import MeltingPeoples from "~/components/MeltingCard/MeltingPeoples.vue";
import Output from "~/components/MeltingCard/Output.vue";

export default {
  name: "MeltingTaskCard",
  components: {Output, MeltingPeoples, TaskInfo, MeltingInfo},
  props: {
    task: {
      required:true
    },
  }
}
</script>

<template>
  <div class="row">
    <TaskInfo :task="task" @update="$emit('update')"/>
    <MeltingInfo :task="task"/>
    <MeltingPeoples :task="task" @update="$emit('update')"/>
  </div>
</template>

<style scoped>

</style>
