<script>
export default {
  name: "MeltingInfo",
  props: {
    task: {}
  }
}
</script>

<template>
  <div class="col-2">
    <div class="melt-card__info">
      <table class="table table-borderless table__transparent font-md">
        <tbody>
        <tr class="tr-first">
          <td>Номер карты плавки</td>
          <td>{{ task.number }}</td>
        </tr>
        <tr>
          <td>Плановая <br>дата плавки</td>
          <td>{{task.planned_melting_date ? task.planned_melting_date : '-'}}</td>
        </tr>
        <tr>
          <td>Дата начала плавки</td>
          <td>{{task.melting_start_date ? task.melting_start_date : '-'}}</td>
        </tr>
        <tr>
          <td>Дата завершения плавки</td>
          <td>{{task.melting_done_date ? task.melting_done_date : '-'}}</td>
        </tr>
        <tr>
          <td>id задания</td>
          <td>{{ task.id }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</template>

<style scoped>

</style>
