<script>
export default {
  name: "MeltingCardHeader",
  data() {
    return {
      number: null,
      canEdit: false,
    }
  },
  props: {
    task: {
      required: true
    },
  },
  methods: {
    download() {
      this.$axios.get('v1/melting-task/melt-card/' + this.$route.params.id + '/xls',
        {
          responseType: "blob"
        }).then(response => {
        const fileURL = window.URL.createObjectURL(new Blob([response.data]));
        const fileLink = document.createElement('a');

        fileLink.href = fileURL;
        fileLink.setAttribute('download', 'melt_card' + this.$route.params.id + '.xlsx');
        document.body.appendChild(fileLink);

        fileLink.click();
      }).catch(function (error) {
        console.error(error);
      });
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.$route.params.id, data).then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
    goToNumber() {
      this.$axios.get('v1/melting-task/number/' + this.number).then(response => {
        this.$router.push('/prodplan/' + response.data)
      }).catch(function (error) {
        console.error(error);
      });
    },
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    }
  },
  created() {
    this.checkCanEdit();
  }
}
</script>

<template>
  <div class="d-flex align-items-center justify-content-between page__top">
    <div class="d-flex align-items-center page__top__date">
      <div class="page__top__date__caption">Карта плавки {{ task.number }}</div>
      <button v-if="task.prev_card" class="btn btn-light" @click="$router.push('/prodplan/'+task.prev_card)">
        № назад
      </button>
      <button v-if="task.next_card" class="btn btn-light" @click="$router.push('/prodplan/'+task.next_card)">
        № вперед
      </button>
      <div class="position-relative form__wrapper">
            <span class="position-absolute icon"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="#111112" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path
  d="M8.75 16.1346C12.8921 16.1346 16.25 12.8026 16.25 8.69231C16.25 4.58204 12.8921 1.25 8.75 1.25C4.60786 1.25 1.25 4.58204 1.25 8.69231C1.25 12.8026 4.60786 16.1346 8.75 16.1346Z"
  stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="#111112" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
<path d="M18.125 17.9952L14.0469 13.9485" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"></path>
</svg>
</span>
        <input class="form-control" type="text" placeholder="Введите №" v-model="number" @keyup.enter="goToNumber">
      </div>
    </div>
    <div class="d-flex align-items-center melt-card__options">
      <button v-if="!task.melting_start_at && canEdit" class="btn btn-light bg-green"
              @click="update('status', 'started')">Начать
        плавку
      </button>
      <button v-else disabled class="btn btn-light bg-green">Начать плавку</button>
      <div class="d-flex align-items-center melt-card__options__info">
        <div class="caption w-fit">Начало плавки</div>
        <div class="time">{{ task.melting_start_at }}</div>
      </div>
      <button v-if="task.melting_start_at && !task.overflow_start_at && canEdit" class="btn btn-light bg-yellow"
              @click="update('status', 'overflow')">Начать
        перелив
      </button>
      <button v-else class="btn btn-light bg-yellow" disabled>Начать перелив</button>
      <div class="d-flex align-items-center melt-card__options__info">
        <div class="caption w-fit">Перелив</div>
        <div class="time">{{ task.overflow_start_at }}</div>
      </div>
      <button v-if="task.overflow_start_at && !task.melting_done_at && canEdit" class="btn btn-light bg-red"
              @click="update('status', 'completed')">Плавка
        завершена
      </button>
      <button v-else class="btn btn-light bg-red" disabled>Плавка завершена</button>
      <div class="d-flex align-items-center melt-card__options__info">
        <div class="caption w-fit">Плавка завершена</div>
        <!--        <div class="time">{{ task.melting_done_at }}</div>-->
        <div>
          <client-only>
            <date-picker v-model="task.melting_done_at"
                         :clearable="false"
                         v-if="task.melting_done_at && canEdit"
                         @close="update('done_time', task.melting_done_at)"
                         @pick="update('done_time', task.melting_done_at)"
                         type="datetime"
                         placeholder="Выбрать дату"
                         input-class="form-control text-black-50 time"
                         valueType="format"
                         format="DD.MM.YYYY HH:mm"/>
            <date-picker v-model="task.melting_done_at"
                         :clearable="false"
                         v-else
                         :disabled="true"
                         type="datetime"
                         placeholder="Выбрать дату"
                         input-class="form-control text-black-50 time"
                         valueType="format"
                         format="DD.MM.YYYY HH:mm"/>
          </client-only>
          <!--          <client-only>-->
          <!--            <vue-timepicker @input="update('done_time', task.melting_done_at)"-->
          <!--                            class="time"-->
          <!--                            -->
          <!--                            auto-scroll hide-clear-button format="HH:mm"-->
          <!--                            v-model="task.melting_done_at"></vue-timepicker>-->
          <!--            <vue-timepicker class="time" v-else hide-clear-button disabled format="HH:mm"-->
          <!--                            v-model="task.melting_done_at"></vue-timepicker>-->
          <!--          </client-only>-->
        </div>
      </div>

    </div>
    <div class="d-flex align-items-center page__top__buttons">
      <!--      <a class="btn btn-light" href="#">Импорт</a>-->
      <!--      <a class="btn btn-light" href="#">Печать</a>-->
      <button class="btn btn-light" @click="download">Скачать</button>
    </div>
  </div>
</template>

<style scoped>

</style>
