<script>
import SelectFromApi from "~/components/UI/SelectFromApi.vue";
import AutocompleteAG from "~/components/Prodplan/Autocomplete/AutocompleteAG.vue";

export default {
  name: "Output",
  components: {AutocompleteAG, SelectFromApi},
  data() {
    return {
      canEdit: false,
      output: {
        output_weight: null,
        brand: null,
        series: null,
        output_alloy_grade_id: null,
      },
      alloyGrades: [],
    }
  },
  props: {
    task: {
      required: true
    }
  },
  watch: {
    'task.output_weight': function (val) {
      this.output.output_weight = val;
    },
    'task.brand': function (val) {
      this.output.brand = val;
    },
    'task.series': function (val) {
      this.output.series = val;
    },
    'task.output_alloy_grade_id': function (val) {
      this.output.output_alloy_grade_id = val;
    },
    'output.output_alloy_grade_id': function (val) {
      if (val !== this.output_alloy_grade_id) {
        this.update('output_alloy_grade_id', val);
      }
    },
  },
  methods: {
    selectAlloyGradeId(id) {
      this.update('output_alloy_grade_id', id)
      this.$emit('update');
    },
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.$route.params.id, data).then(response => {
        this.$router.push('/prodplan/' + this.$route.params.id)
      }).catch(function (error) {
        console.error(error);
      });
    },
  },
  created() {
    this.checkCanEdit();
  },
}
</script>

<template>
  <div class="melt-card__output">
    <table class="table table-borderless table__transparent font-md">
      <tbody>
      <tr class="tr-first">
        <th class="bg-gray">Выход</th>
        <td><strong>Марка сплава (полученного)</strong></td>
        <td>Вес ГП, тн</td>
        <td>Разница МВГ %</td>
        <td>Клеймо</td>
        <td>Серия</td>
      </tr>
      <tr>
        <td class="t-border-left-0 t-border-bottom-0"></td>
        <td v-if="canEdit" style="width: 180px;">
          <AutocompleteAG
            property="id"
            name="name"
            uri="/v1/alloy_grade"
            title="Марка сплава"
            :selected-item="task.output_alloy_grade"
            @selectId="selectAlloyGradeId"/>
        </td>
        <td v-else>{{task.output_alloy_grade ? task.output_alloy_grade.name : ''}}</td>
        <td>{{output.output_weight / 1000}}</td>
        <td>{{task.difference_mvg}}</td>
        <td v-if="canEdit"><input class="form-control" v-model="output.brand" @focusout="update('brand', output.brand)" placeholder="Клеймо"></td>
        <td v-else>{{output.brand}}</td>
        <td v-if="canEdit"><input class="form-control" v-model="output.series" @focusout="update('series', output.series)" placeholder="Серия"></td>
        <td v-else>{{output.series}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
