<script>
export default {
  name: "ProductOutput",
  data() {
    return {
      canEdit: false,
      totalWeigh: null,
      totalPercent: null,
      output: {
        output_weight: null,
        output_trim_weight: null,
        output_reject1_weight: null,
        output_cut_weight: null,
        output_reject2_weight: null,
        output_shavings_weight: null,
        output_cut_count: null,
      },
      notes: {
        note_black: null,
        note_white: null,
        note_fe: null,
      }
    }
  },
  props: {
    task: {
      required: true
    },
  },
  watch: {
    'task.note_black': function (val) {
      this.notes.note_black = val;
    },
    'task.note_white': function (val) {
      this.notes.note_white = val;
    },
    'task.note_fe': function (val) {
      this.notes.note_fe = val;
    },
    'task.output_weight': function (val) {
      this.output.output_weight = val;
    },
    'task.output_cut_count': function (val) {
      this.output.output_cut_count = val;
    },
    'task.output_trim_weight': function (val) {
      this.output.output_trim_weight = val;
    },
    'task.output_reject1_weight': function (val) {
      this.output.output_reject1_weight = val;
    },
    'task.output_cut_weight': function (val) {
      this.output.output_cut_weight = val;
    },
    'task.output_reject2_weight': function (val) {
      this.output.output_reject2_weight = val;
    },
    'task.output_shavings_weight': function (val) {
      this.output.output_shavings_weight = val;
    },
  },
  methods: {
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
    recalcTotals() {
      this.totalWeigh = Number(output.output_weight) + Number(output.output_trim_weight)
        + Number(output.output_reject1_weight) + Number(output.output_shavings_weight)
        + Number(output.output_cut_weight) + Number(output.output_reject2_weight);
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.$route.params.id, data).then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
  },
  created() {
    this.checkCanEdit();
  },
}
</script>

<template>
  <div class="col-3">
    <div class="melt-card__table-gray__title">“Продукция”</div>
    <table class="table table-borderless table__transparent melt-card__table-gray">
      <thead>
      <tr>
        <th colspan="3">
          <div class="d-flex align-items-center justify-content-between">
            <div>V. ВЫХОД</div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Наименование</th>
        <th>Кол-во, кг</th>
        <th>%</th>
      </tr>
      <tr>
        <td>{{ task.output_alloy_grade ? task.output_alloy_grade.name : '-' }}</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                 type="number"
                 step="0.01"
                 v-model="output.output_weight"
                 @focusout="update('output_weight', output.output_weight)"
                 placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_weight}}</td>
        <td class="w-25">{{ task.output_alloy_grade_percent }}</td>
      </tr>
      <tr>
        <td>Обрезь (плавка)</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   type="number"
                   step="0.01"
                   v-model="output.output_trim_weight"
                   @focusout="update('output_trim_weight', output.output_trim_weight)"
                   placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_trim_weight}}</td>
        <td class="w-25">{{ task.output_trim_percent }}</td>
      </tr>
      <tr>
        <td>Литейн. брак (плавка)</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   type="number"
                   step="0.01"
                   v-model="output.output_reject1_weight"
                   @focusout="update('output_reject1_weight', output.output_reject1_weight)"
                   placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_reject1_weight}}</td>
        <td class="w-25">{{ task.output_reject1_percent }}</td>
      </tr>
      <tr>
        <td>Стружка (плавка)</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   type="number"
                   step="0.01"
                   v-model="output.output_shavings_weight"
                   @focusout="update('output_shavings_weight', output.output_shavings_weight)"
                   placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_shavings_weight}}</td>
        <td class="w-25">{{ task.output_shavings_percent }}</td>
      </tr>
      <tr>
        <td>Шт. порезано</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   type="number"
                   step="0.01"
                   v-model="output.output_cut_count"
                   @focusout="update('output_cut_count', output.output_cut_count)"
                   placeholder="Укажите количество"
          />
        </td>
        <td v-else>{{output.output_cut_count}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Вес порезаного</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   type="number"
                   step="0.01"
                   v-model="output.output_cut_weight"
                   @focusout="update('output_cut_weight', output.output_cut_weight)"
                   placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_cut_weight}}</td>
        <td class="w-25">{{ task.output_cut_percent }}</td>
      </tr>
      <tr>
        <td>Литейный брак (ротор)</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   type="number"
                   step="0.01"
                   v-model="output.output_reject2_weight"
                   @focusout="update('output_reject2_weight', output.output_reject2_weight)"
                   placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_reject2_weight}}</td>
        <td class="w-25">{{ task.output_reject2_percent }}</td>
      </tr>
      <tr>
        <th>Итого получено:</th>
        <td>{{(Number(output.output_weight) + Number(output.output_trim_weight)
        + Number(output.output_reject1_weight) + Number(output.output_shavings_weight)
        + Number(output.output_cut_weight) + Number(output.output_reject2_weight)).toFixed(2)}} кг</td>
        <td class="w-25">{{(Number(task.output_alloy_grade_percent) + Number(task.output_trim_percent)
        + Number(task.output_reject1_percent) + Number(task.output_shavings_percent)
        + Number(task.output_cut_percent) + Number(task.output_reject2_percent)).toFixed(2)}} %</td>
      </tr>
      <tr class="t-separator">
        <td class="py-2" colspan="3"></td>
      </tr>
      <tr class="tr-first">
        <th class="text-left" colspan="3">Примечание:</th>
      </tr>
      <tr>
        <td>ШЛАК черный</td>
        <td colspan="2" v-if="canEdit">
          <input class="form-control w-100"
                               type="text"
                               v-model="notes.note_black"
                               @focusout="update('note_black', notes.note_black)"
                               placeholder="Примечание"
          />
        </td>
        <td colspan="2vv" v-else>{{notes.note_black}}</td>
      </tr>
      <tr>
        <td>ШЛАК белый АД</td>
        <td colspan="2" v-if="canEdit">
          <input class="form-control w-100"
                               type="text"
                               v-model="notes.note_white"
                               @focusout="update('note_white', notes.note_white)"
                               placeholder="Примечание"
          />
        </td>
        <td colspan="2" v-else>{{notes.note_white}}</td>
      </tr>
      <tr>
        <td>Fe</td>
        <td colspan="2" v-if="canEdit">
          <input class="form-control w-100"
                               type="text"
                               v-model="notes.note_fe"
                               @focusout="update('note_fe', notes.note_fe)"
                               placeholder="Примечание"
          />
        </td>
        <td colspan="2" v-else>{{notes.note_fe}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
