<script>

export default {
  name: "Result",
  data() {
    return {
      canEdit: false,
      output: {
        output_black_weight: null,
        output_white_weight: null,
        output_trash_weight: null,
        output_irrevocably_weight: null,
      },
    }
  },
  props: {
    task: {
      required: true
    },
  },
  watch: {
    'task.output_black_weight': function (val) {
      this.output.output_black_weight = val;
    },
    'task.output_white_weight': function (val) {
      this.output.output_white_weight = val;
    },
    'task.output_trash_weight': function (val) {
      this.output.output_trash_weight = val;
    },
    'task.output_irrevocably_weight': function (val) {
      this.output.output_irrevocably_weight = val;
    },
  },
  methods: {
    checkCanEdit() {
      this.canEdit = this.$auth.user.user.roles.includes('admin') || this.$auth.user.user.roles.includes('master') || this.$auth.user.user.roles.includes('technologist');
    },
    update(column, value) {
      let data = {};
      data[column] = value;

      this.$axios.patch('v1/melting-task/' + this.$route.params.id, data).then(response => {
        this.$emit('update');
      }).catch(function (error) {
        console.error(error);
      });
    },
  },
  created() {
    this.checkCanEdit();
  },
}
</script>

<template>
  <div class="col-3">
    <table class="table table-borderless table__transparent melt-card__table-gray">

      <tbody>
      <tr class="tr-first">
        <th>Наименование</th>
        <th>Кол-во, кг</th>
        <th>%</th>
      </tr>
      <tr>
        <td>ШЛАК черный</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   v-model="output.output_black_weight"
                   @focusout="update('output_black_weight', output.output_black_weight)"
                   type="number"
                   step="0.01"
                   placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_black_weight}}</td>
        <td class="w-25">{{ task.output_black_percent }}</td>
      </tr>
      <tr>
        <td>ШЛАК белый АД</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   v-model="output.output_white_weight"
                   @focusout="update('output_white_weight', output.output_white_weight)"
                   type="number"
                   step="0.01"
                   placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_white_weight}}</td>
        <td class="w-25">{{ task.output_white_percent }}</td>
      </tr>
      <tr>
        <td>Мусор</td>
        <td v-if="canEdit">
          <input class="form-control w-100"
                   v-model="output.output_trash_weight"
                   @focusout="update('output_trash_weight', output.output_trash_weight)"
                   type="number"
                   step="0.01"
                   placeholder="Укажите вес"
          />
        </td>
        <td v-else>{{output.output_trash_weight}}</td>
        <td class="w-25">{{ task.output_trash_percent }}</td>
      </tr>
      <tr>
        <td>Безвозврат</td>
        <td>{{(output.output_irrevocably_weight ? output.output_irrevocably_weight : 0).toFixed(2)}}</td>
        <td class="w-25">{{ task.output_irrevocably_percent }}</td>
      </tr>

      <tr>
        <th>Итого потерь</th>
        <td>{{ ((task.loss_sum_weight + task.output_irrevocably_weight) ? (task.loss_sum_weight + task.output_irrevocably_weight) : 0).toFixed(2) }}</td>
        <td>{{ (task.loss_sum_percent + task.output_irrevocably_percent).toFixed(4) }}</td>
      </tr>
      <tr class="t-separator">
        <td class="py-2" colspan="3"></td>
      </tr>
      <tr class="tr-first">
        <th>Общий итог, кг</th>
        <td>{{ task.overall_result }}</td>
        <td></td>
      </tr>
      <tr>
        <th>расчетные %</th>
        <td>{{ task.planned_mvg }}</td>
        <td>{{ task.difference_mvg *-1 }}</td>
      </tr>
      <tr>
        <th class="t-border-left-0 t-border-bottom-0"></th>
        <td>КГ</td>
        <td>{{ task.loss_sum *-1 }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
