<script>
import Output from "~/components/MeltingCard/Output.vue";

export default {
  name: "TaskInfo",
  components: {Output},
  props: {
    task: {
      required: true
    }
  }
}
</script>

<template>
  <div class="col-8">
    <div class="melt-card__task">
      <table class="table table-borderless table__transparent font-md">
        <tbody>
        <tr class="tr-first">
          <th class="bg-primary">Задание</th>
          <td>Марка сплава (сорт)</td>
          <td>Тип изделия</td>
          <td>Диаметр столба</td>
          <td>Гост / ТУ</td>
          <td>Маркировка</td>
          <td>Фильтр</td>
          <td>Вес ГП, тн (плановый)</td>
        </tr>
        <tr>
          <td class="t-border-left-0 t-border-bottom-0"></td>
          <td>{{ task.chemical_composition.alloy_grade.name }}</td>
          <td>{{ task.product_type.name }}</td>
          <td>{{ task.diameter ? task.diameter.name : '-' }}</td>
          <td>{{ task.chemical_composition.technical_condition.name }}</td>
          <td>{{ task.mark.name }}</td>
          <td>{{ task.filter ? 'Да' : 'Нет' }}</td>
          <td>{{ task.weight }} кг</td>
        </tr>
        </tbody>
      </table>
    </div>
    <Output :task="task" @update="$emit('update')"/>

  </div>
</template>

<style scoped>

</style>
