<template>
  <div>
    <HeaderComponent/>
    <main class="page melt-card">
      <div class="container-fluid">
        <MeltingCardHeader :task="task" @update="getTask($route.params.id)"/>
        <MeltingTaskCard :task="task" @update="getTask($route.params.id)"/>
        <PlaneCharge :task="task"/>
        <ChargeHeader :task="task" @update="getTask($route.params.id)"/>
        <Charges :task="task" @update="getTask($route.params.id)"/>
        <ChemicalCompositions :task="task"/>
        <div class="row">
          <MaterialConsumption :task="task" @update="getTask($route.params.id)"/>
          <div class="col-3">
            <AdditionalMaterialConsumption :task="task" @update="getTask($route.params.id)"/>
            <EnergyConsumption :task="task" @update="getTask($route.params.id)"/>
          </div>
          <ProductOutput :task="task" @update="getTask($route.params.id)"/>
          <Result :task="task" @update="getTask($route.params.id)"/>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import HeaderComponent from "~/components/Header/HeaderComponent.vue";
import EventList from "~/components/Events/EventList.vue";
import Output from "~/components/MeltingCard/Output.vue";
import PlaneCharge from "~/components/MeltingCard/Charges/PlaneCharge.vue";
import ChargeHeader from "~/components/MeltingCard/Charges/ChargeHeader.vue";
import Charges from "~/components/MeltingCard/Charges/Charges.vue";
import ChemicalCompositions from "~/components/MeltingCard/ChemicalCompositions.vue";
import MaterialConsumption from "~/components/MeltingCard/MaterialConsumption.vue";
import AdditionalMaterialConsumption from "~/components/MeltingCard/AdditionalMaterialConsumption.vue";
import EnergyConsumption from "~/components/MeltingCard/EnergyConsumption.vue";
import ProductOutput from "~/components/MeltingCard/ProductOutput.vue";
import Result from "~/components/MeltingCard/Result.vue";
import MeltingCardHeader from "~/components/MeltingCard/MeltingCardHeader.vue";
import MeltingTaskCard from "~/components/MeltingCard/MeltingTaskCard.vue";

export default {
  name: 'meltCardPage',
  data() {
    return {
      task: {
        chemical_composition: {
          alloy_grade: {
            name: null,
          },
          diameter: {
            name: null,
          },
          technical_condition: {
            name: null,
          },
          batches: [],
        },
        product_type: {
          name: null,
        },
        users: [],
        master: {
          fio: null,
        },
        mark: {
          name: null,
        },
        filter: null,
        output_alloy_grade: {
          name: null
        },
        weight: null,
        additional_materials: [],
        energy_parameters: [],
        energy_differences: [],
        daily_melting_number: null,
        planned_melting_date: null,
        melting_date: null,
        id: null,
        charges: [],
        materials: {
          data: [],
          total: 0,
          l: 0,
        },
      },
    }
  },
  methods: {
    getTask(id) {
      this.$axios('/v1/melting-task/melt-card/' + id + '?create_card=1', {
        method: 'GET'
      }).then((item) => {
        this.task = item.data.melting_task;
        return item;
      }).catch((error) => {
        console.log(error);
        return error
      })
    }
  },
  components: {
    MeltingTaskCard,
    MeltingCardHeader,
    Result,
    ProductOutput,
    EnergyConsumption,
    AdditionalMaterialConsumption,
    MaterialConsumption,
    ChemicalCompositions, Charges, ChargeHeader, PlaneCharge, Output, EventList, HeaderComponent
  },
  created() {
    if (!this.$auth.user.user.roles.includes('admin') &&
      !this.$auth.user.user.roles.includes('master') &&
      !this.$auth.user.user.roles.includes('director') &&
      !this.$auth.user.user.roles.includes('laboratory') &&
      !this.$auth.user.user.roles.includes('technologist')) {
      this.$router.push('/')
    }

    this.getTask(this.$route.params.id);
  }
}
</script>
