<template>
  <div>
    <HeaderComponent/>
    <main class="page prod-plan">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between page__top">
          <div class="d-flex align-items-center page__top__date">
            <div class="page__top__date__caption">Дата</div>
            <button class="btn btn-light" @click="getDate(0)">Сегодня</button>
            <button class="btn btn-light" @click="getDate(-1)">Вчера</button>
            <client-only>
              <date-picker v-model="filters.date"
                           class="w-25"
                           format="DD.MM.YYYY"
                           placeholder="Другая дата"
                           valueType="format"
                           input-class="datepicker__input position-relative btn btn-light"/>
            </client-only>
            <span class="easepick-wrapper" style="position: absolute; pointer-events: none;"></span>
            <!--                        </div>-->
            <button @click="modal = true"
                    v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('technologist')"
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal">
              Создать задание
            </button>

            <button @click="modal = true"
                    v-else
                    disabled
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal">
              Создать задание
            </button>
          </div>
          <!--          <div class="d-flex align-items-center page__top__buttons">
                      <a class="btn btn-primary" data-toggle="modal" data-target="#setField" href="#">Настройка отображения
                        полей</a>
                      <a class="btn btn-light" href="#">Импорт</a>
                      <a class="btn btn-light" href="#">Печать</a>
                      <a class="btn btn-light" href="#">Скачать</a>
                    </div>-->
          <div class="d-flex align-items-center page__top__buttons">
            <button class="btn btn-light" @click="download">Скачать</button>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between prod-plan__top">
          <div v-show="!onIndex" class="bg-red prod-plan__table__caption">Просроченные</div>
          <div v-show="onIndex" class="prod-plan__table__caption"></div>
          <div class="d-flex align-items-center prod-plan__filter align" v-click-outside="hideSortList">
            <Filterselector :data="$store.state.melting_tasks.filters.furnaces" title="Печь" @selected="selectFurnace"/>
            <Filterselector :data="$store.state.melting_tasks.filters.statuses" title="Статус"
                            @selected="selectStatus"/>
            <Filterselector :data="$store.state.melting_tasks.filters.product_types" title="Тип изделия"
                            @selected="selectProductType"/>
            <Filterselector :data="$store.state.melting_tasks.filters.alloy_grades" title="Марка сплава"
                            @selected="selectAlloyGrade"/>

            <div class="js-select select__wrapper" v-bind:class="{'-is-open': viewSortList}" style="width: 200px;">
              <input type="hidden" class="js-select-value">
              <div class="d-flex align-items-center cursor-pointer js-select-box select__box"
                   @click="viewSortList = !viewSortList">
                <div class="flex-grow-1 js-select-text select__text text-center">
                  {{ filters.order_by ? sorts[filters.order_by] : sorts['default'] }}
                </div>
                <div class="flex-center select__box__icon ml-2">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="#111112"/>
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 7H1C0.447719 7 0 7.44772 0 8C0 8.55228 0.447719 9 1 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="#111112"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M1 4.33325H15C15.5523 4.33325 16 3.88553 16 3.33325C16 2.78097 15.5523 2.33325 15 2.33325H1C0.447719 2.33325 0 2.78097 0 3.33325C0 3.88553 0.447719 4.33325 1 4.33325Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="#111112"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="black" fill-opacity="0.2"/>
                    <path
                      d="M15 11.6665H1C0.447719 11.6665 0 12.1142 0 12.6665C0 13.2188 0.447719 13.6665 1 13.6665H15C15.5523 13.6665 16 13.2188 16 12.6665C16 12.1142 15.5523 11.6665 15 11.6665Z"
                      fill="black" fill-opacity="0.2"/>
                  </svg>
                </div>
              </div>
              <div class="js-select-list select__list">
                <div class="js-select-option select__list__option" @click="selectSort(null)">По умолчанию</div>
                <!--                <div class="js-select-option select__list__option" @click="selectSort('furnace_id')">По печи</div>-->
                <div class="js-select-option select__list__option" @click="selectSort('planned_melting_date')">По дате
                </div>
                <div class="js-select-option select__list__option" @click="selectSort('product_type_id')">По типу
                  изделия
                </div>
                <div class="js-select-option select__list__option"
                     @click="selectSort('chemical_composition.alloy_grade_id')">По марке сплава
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-show="!onIndex">

          <ProdPlanTable :list="$store.state.melting_tasks.overdue" style="padding-left: 80px" @update="update"/>

          <div class="prod-plan__table__caption mb-2 bg-orange">В работе</div>
          <ProdPlanTable :list="$store.state.melting_tasks.working" style="padding-left: 80px" @update="update"/>

          <div class="prod-plan__table__caption mb-2 bg-blue">Запланированные</div>
          <!--          <ProdPlanTable :list="$store.state.melting_tasks.planned"/>-->
          <ProdPlanTablePlanned v-for="(tasks, date) in $store.state.melting_tasks.planned"
                                :key="date"
                                :list="tasks"
                                :date="date"
                                @update="update"/>

          <div class="prod-plan__table__caption mb-2 bg-gray">Без даты</div>
          <ProdPlanTable :list="$store.state.melting_tasks.withoutDate" style="padding-left: 80px" @update="update"/>

          <!--          <ProdPlanTableDone :list="$store.state.melting_tasks.done"/>-->

          <div class="d-flex align-items-center justify-content-between">
            <div class="prod-plan__table__caption mb-2 bg-primary">Завершенные</div>

            <client-only>
              <pagination v-if="done.meta"
                          v-model="done.meta.current_page"
                          :records="done.meta.total"
                          :options="{
                            texts: {
                              count: ''
                            }
                        }"
                          @paginate="paginate"/>
            </client-only>
          </div>
          <ProdPlanSubTableDone :tasks="done.data" @update="update"/>
        </div>

        <div v-show="onIndex">
          <client-only>
            <pagination v-if="index.meta"
                        v-model="index.meta.current_page"
                        :records="index.meta.total"
                        :options="{
                            texts: {
                              count: ''
                            }
                        }"
                        @paginate="paginateIndex"/>
          </client-only>
          <ProdPlanTableIndex :list="index.data" @update="getIndex(index.meta.current_page)"/>
        </div>

      </div>
      <ProdPlanModal v-if="modal" @close="modal = false" @update-prod-plan="update"/>

    </main>
  </div>
</template>

<script>
import HeaderComponent from "~/components/Header/HeaderComponent.vue";
import EventList from "~/components/Events/EventList.vue";
import ProdPlanTable from "~/components/Prodplan/ProdPlanTable.vue";
import ProdPlanModal from "~/components/Prodplan/ProdPlanModal.vue";
import {state} from "~/store/melting_tasks";
import {mapActions, mapMutations} from 'vuex';
import {ru} from 'vuejs-datepicker/dist/locale'
import Filterselector from "~/components/Prodplan/Filterselector.vue";
import ProdPlanTablePlanned from "~/components/Prodplan/ProdPlanTablePlanned.vue";
import ProdPlanTableIndex from "~/components/Prodplan/ProdPlanTableIndex.vue";
import ProdPlanTableDone from "~/components/Prodplan/ProdPlanTableDone.vue";
import ProdPlanSubTableDone from "~/components/Prodplan/ProdPlanSubTableDone.vue";
import ProdPlanSubTableEmpty from "~/components/Prodplan/ProdPlanSubTableEmpty.vue";
import StatusSelector from "~/components/Prodplan/StatusSelector.vue";

export default {
  name: 'ProdPlanPage',
  components: {
    StatusSelector,
    ProdPlanSubTableEmpty, ProdPlanSubTableDone,
    ProdPlanTableDone,
    ProdPlanTableIndex,
    ProdPlanTablePlanned, Filterselector, ProdPlanModal, ProdPlanTable, EventList, HeaderComponent
  },
  data() {
    return {
      index: {
        meta: {
          current_page: 1,
          total: 0,
        }
      },
      done: {
        meta: {
          current_page: 1,
          total: 0,
        }
      },
      page: 1,
      sorts: {
        'default': 'По умолчанию',
        'furnace_id': 'По печи',
        'planned_melting_date': 'По дате',
        'product_type_id': 'По типу изделия',
        'chemical_composition.alloy_grade_id': 'По марке сплава',
      },
      ru: ru,
      viewSortList: false,
      filters: {
        date: null,
        furnace_id: null,
        status: null,
        product_type_id: null,
        alloy_grade_id: null,
        order_by: null,
      },
      filterList: [],
      onIndex: false,
      modal: false,
    }
  },
  methods: {
    paginate(page) {
      this.getDone(page)
    },
    paginateIndex(page) {
      this.getIndex(page)
    },
    selectSort(type) {
      this.filters.order_by = type;
      this.hideSortList();
    },
    hideSortList() {
      if (this.viewSortList) {
        this.viewSortList = false;
      }
    },
    state,
    ...mapActions({
      getOverdue: 'melting_tasks/GET_OVERDUE',
      getPlanned: 'melting_tasks/GET_PLANNED',
      getWorking: 'melting_tasks/GET_WORKING',
      getWithoutDate: 'melting_tasks/GET_WITHOUT_DATE',
      getFilters: 'melting_tasks/GET_FILTERS',
    }),
    update() {
      this.getOverdue();
      this.getDone(this.done.meta.current_page);
      this.getPlanned();
      this.getWorking();
      this.getWithoutDate();
      this.modal = false;
    },
    getIndex(page) {
      return this.$axios('/v1/melting-task?page=' + page, {
        params: this.filters,
        method: 'GET'
      }).then((items) => {
        this.index = items.data;
        return items;
      }).catch((error) => {
        console.log(error);
        return error
      })
    },
    updateIndex() {
      if (this.filters.date == null && this.filters.furnace_id == null
        && this.filters.status == null && this.filters.product_type_id == null
        && this.filters.alloy_grade_id == null && this.filters.order_by == null) {

        this.update();
        this.onIndex = false;
      } else {
        this.getIndex(this.index.meta.current_page);
        this.onIndex = true;
      }
    },
    selectFurnace(id) {
      this.filters.furnace_id = id;
    },
    selectStatus(id) {
      this.filters.status = id;
    },
    selectProductType(id) {
      this.filters.product_type_id = id;
    },
    selectAlloyGrade(id) {
      this.filters.alloy_grade_id = id;
    },
    getDate(index) {
      let date = new Date(new Date().setDate(new Date().getDate() + index))
      this.filters.date = date.getDate() + '.' + (date.getMonth() + 1) + '.' + date.getFullYear();
    },
    download() {
      this.$axios.get('v1/melting-task/prodplan/xls',
        {
          responseType: "blob"
        }).then(response => {
        const fileURL = window.URL.createObjectURL(new Blob([response.data]));
        const fileLink = document.createElement('a');

        fileLink.href = fileURL;
        fileLink.setAttribute('download', 'prodplan.xlsx');
        document.body.appendChild(fileLink);

        fileLink.click();
      }).catch(function (error) {
        console.error(error);
      });
    },
    getDone(page) {
      return this.$axios('/v1/melting-task/done?page=' + page, {
        method: 'GET'
      }).then((items) => {
        this.done = items.data;
        return items;
      }).catch((error) => {
        console.log(error);
        return error
      })
    }
  },
  mounted() {
    if (!this.$auth.user.user.roles.includes('admin') &&
      !this.$auth.user.user.roles.includes('master') &&
      !this.$auth.user.user.roles.includes('director') &&
      !this.$auth.user.user.roles.includes('laboratory') &&
      !this.$auth.user.user.roles.includes('technologist')) {
      this.$router.push('/')
    }

    this.getFilters();
    this.update();
  },
  watch: {
    'filters.date'(newValue, oldValue) {
      this.updateIndex();
    },
    'filters.status'(newValue, oldValue) {
      this.updateIndex();
    },
    'filters.alloy_grade_id'(newValue, oldValue) {
      this.updateIndex();

    },
    'filters.product_type_id'(newValue, oldValue) {
      this.updateIndex();
    },
    'filters.furnace_id'(newValue, oldValue) {
      this.updateIndex();
    },
    'filters.order_by'(newValue, oldValue) {
      this.updateIndex();
    },
  },
}
</script>
