<script>
import ProdPlanModal from "~/components/Prodplan/ProdPlanModal.vue";
import MassDateModal from "~/components/Prodplan/MassDateModal.vue";

export default {
  name: "Editor2",
  components: {MassDateModal, ProdPlanModal},
  data() {
    return {
      visible: false,
      modal: false,
    }
  },
  props: {
    editId: 0,
  },
  methods: {
    massDate(value) {
      this.$emit('mass-date', value);
      this.hide();
      this.modal = false;
    },
    hide() {
      if (this.visible) {
        this.visible = false;
      }
    },
    edit() {
      this.modal = true;
      this.$emit('edit');
    }
  }
}
</script>

<template>
  <div v-click-outside="hide">
    <a type="button" class="edit__open" @click="visible = !visible">
      <svg width="35" height="21" viewBox="0 0 35 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.3451 7.5H29.6551C29.8198 7.50004 29.9809 7.54893 30.1179 7.6405C30.2549 7.73207 30.3617 7.8622 30.4248 8.01445C30.4878 8.1667 30.5043 8.33423 30.4722 8.49586C30.4401 8.65748 30.3607 8.80595 30.2442 8.9225L25.5892 13.5775C25.433 13.7337 25.221 13.8215 25.0001 13.8215C24.7791 13.8215 24.5672 13.7337 24.4109 13.5775L19.7559 8.9225C19.6394 8.80595 19.56 8.65748 19.5279 8.49586C19.4958 8.33423 19.5123 8.1667 19.5753 8.01445C19.6384 7.8622 19.7452 7.73207 19.8822 7.6405C20.0192 7.54893 20.1803 7.50004 20.3451 7.5Z"
          fill="white"></path>
        <g clip-path="url(#clip0_80_1986)">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.5273 2.99255C10.1383 2.39381 10.9609 2.06038 11.8163 2.06474C12.6717 2.0691 13.4908 2.4109 14.0957 3.01583C14.7005 3.62077 15.0422 4.43998 15.0464 5.29541C15.0506 6.15084 14.717 6.97336 14.1182 7.58422L7.7898 13.9125C7.43313 14.2692 7.2148 14.4875 6.97313 14.6768C6.68697 14.8996 6.37737 15.0909 6.0498 15.2467C5.77147 15.3792 5.47897 15.4768 5.00063 15.6359L2.77397 16.3784L2.23897 16.5567C2.00427 16.6351 1.75236 16.6466 1.5115 16.5899C1.27063 16.5331 1.05037 16.4103 0.875387 16.2353C0.70041 16.0603 0.577647 15.8401 0.520874 15.5992C0.4641 15.3583 0.47556 15.1064 0.553968 14.8717L1.4748 12.1101C1.63397 11.6317 1.73147 11.3392 1.86397 11.0609C2.02017 10.7336 2.21158 10.4242 2.4348 10.1384C2.62397 9.89588 2.84147 9.67755 3.19813 9.32172L9.5273 2.99255ZM2.74397 15.0701L2.04063 14.3659L2.6473 12.5451C2.82397 12.015 2.8973 11.7992 2.9923 11.5992C3.10897 11.3534 3.25313 11.1217 3.4198 10.9075C3.55647 10.7325 3.71647 10.5709 4.11147 10.1751L9.02063 5.26672C9.27572 5.90401 9.65826 6.48249 10.1448 6.96672C10.6291 7.45296 11.2076 7.83522 11.8448 8.09005L6.93563 12.9984C6.5398 13.3942 6.37897 13.5542 6.20397 13.6901C5.98942 13.8572 5.75755 14.0007 5.5123 14.1184C5.3123 14.2134 5.09563 14.2867 4.56563 14.4634L2.7448 15.0709L2.74397 15.0701ZM12.8406 7.09338C12.7123 7.06502 12.5856 7.02912 12.4615 6.98588C11.9215 6.79711 11.4314 6.48824 11.0281 6.08255C10.6226 5.67917 10.3137 5.18912 10.1248 4.64922C10.0813 4.52506 10.0451 4.39845 10.0165 4.27005L10.4106 3.87672C10.7871 3.51241 11.2916 3.31065 11.8155 3.31494C12.3394 3.31924 12.8405 3.52925 13.211 3.89968C13.5814 4.27012 13.7914 4.77131 13.7957 5.29517C13.8001 5.81903 13.5983 6.3236 13.234 6.70005L12.8406 7.09338ZM0.485635 19.3334C0.485635 19.1676 0.551484 19.0086 0.668694 18.8914C0.785904 18.7742 0.944875 18.7084 1.11063 18.7084H14.444V19.9584H1.11063C0.944875 19.9584 0.785904 19.8925 0.668694 19.7753C0.551484 19.6581 0.485635 19.4992 0.485635 19.3334Z"
                fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_80_1986">
            <rect width="15.5556" height="20" fill="white" transform="translate(0 1)"></rect>
          </clipPath>
        </defs>
      </svg>

    </a>
    <div v-show="visible" class="position-absolute edit__list" style="z-index: 1000000">
      <a type="button" class="edit__link" @click="$emit('double')">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.9443 0.0134277V4.16676H18.9943L14.9443 0.0134277Z" fill="#667C8A"></path>
          <path
            d="M13.277 5.83333V0H9.11035C8.44731 0 7.81143 0.263392 7.34258 0.732233C6.87374 1.20107 6.61035 1.83696 6.61035 2.5V15.8333H19.1104V5.83333H13.277Z"
            fill="#667C8A"></path>
          <path
            d="M4.94434 17.4999V3.33325C4.28129 3.33325 3.64541 3.59664 3.17657 4.06549C2.70773 4.53433 2.44434 5.17021 2.44434 5.83325V19.9999H15.7777V17.4999H4.94434Z"
            fill="#667C8A"></path>
        </svg>

        <span class="edit__link__tooltip">Дублировать</span>
      </a>
<!--      <a @click="edit"
        type="button"
        class="edit__link"
        data-toggle="modal"
        :data-target="'#prodPlanModalEdit'+editId">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_44_5364)">
            <path
              d="M15.7773 15.8333V19.75C16.3655 19.5484 16.9007 19.2168 17.3432 18.78L19.5565 16.565C19.9938 16.1231 20.3257 15.5881 20.5273 15H16.6107C16.3897 15 16.1777 15.0878 16.0214 15.2441C15.8651 15.4004 15.7773 15.6123 15.7773 15.8333Z"
              fill="#667C8A"></path>
            <path
              d="M6.75401 11.5234C6.44436 11.833 6.19873 12.2005 6.03115 12.605C5.86357 13.0095 5.77733 13.4431 5.77734 13.8809V15.0001H6.89651C7.33436 15.0001 7.76791 14.9139 8.17242 14.7463C8.57693 14.5787 8.94445 14.3331 9.25401 14.0234L18.694 4.58344C19.0255 4.25192 19.2118 3.80228 19.2118 3.33344C19.2118 2.8646 19.0255 2.41496 18.694 2.08344C18.3625 1.75192 17.9129 1.56567 17.444 1.56567C16.9752 1.56567 16.5255 1.75192 16.194 2.08344L6.75401 11.5234Z"
              fill="#667C8A"></path>
            <path
              d="M20.7773 4.12667C20.6354 4.74484 20.3237 5.3111 19.8773 5.76167L10.4323 15.2025C9.96906 15.6682 9.41801 16.0374 8.81109 16.2888C8.20416 16.5401 7.55341 16.6685 6.89651 16.6667H5.77734C5.33532 16.6667 4.91139 16.4911 4.59883 16.1785C4.28627 15.8659 4.11068 15.442 4.11068 15V13.8808C4.10885 13.224 4.2374 12.5733 4.48888 11.9665C4.74036 11.3597 5.10976 10.8088 5.57568 10.3458L15.0157 0.905C15.4629 0.457949 16.0259 0.144533 16.6415 0C16.6307 0 16.6215 0 16.6107 0H4.94401C3.83935 0.00132321 2.78031 0.440735 1.99919 1.22185C1.21808 2.00296 0.778667 3.062 0.777344 4.16667L0.777344 15.8333C0.778667 16.938 1.21808 17.997 1.99919 18.7782C2.78031 19.5593 3.83935 19.9987 4.94401 20H14.1107V15.8333C14.1107 15.1703 14.3741 14.5344 14.8429 14.0656C15.3118 13.5967 15.9476 13.3333 16.6107 13.3333H20.7773V4.16667C20.7773 4.15333 20.7773 4.14083 20.7773 4.12667Z"
              fill="#667C8A"></path>
          </g>
          <defs>
            <clipPath id="clip0_44_5364">
              <rect width="20" height="20" fill="white" transform="translate(0.777344)"></rect>
            </clipPath>
          </defs>
        </svg>
        <span class="edit__link__tooltip">Изменить</span>


      </a>-->
      <a @click="modal = true"
         type="button"
         class="edit__link"
         data-toggle="modal"
         data-target="#massDateModal">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_44_5373)">
            <path
              d="M0.777344 15.8333C0.778667 16.9379 1.21808 17.997 1.99919 18.7781C2.78031 19.5592 3.83935 19.9986 4.94401 19.9999H16.6107C17.7153 19.9986 18.7744 19.5592 19.5555 18.7781C20.3366 17.997 20.776 16.9379 20.7773 15.8333V8.33325H0.777344V15.8333ZM14.944 12.0833C15.1912 12.0833 15.4329 12.1566 15.6385 12.2939C15.844 12.4313 16.0042 12.6265 16.0989 12.8549C16.1935 13.0833 16.2182 13.3346 16.17 13.5771C16.1218 13.8196 16.0027 14.0423 15.8279 14.2171C15.6531 14.392 15.4303 14.511 15.1879 14.5592C14.9454 14.6075 14.6941 14.5827 14.4657 14.4881C14.2372 14.3935 14.042 14.2333 13.9047 14.0277C13.7673 13.8222 13.694 13.5805 13.694 13.3333C13.694 13.0017 13.8257 12.6838 14.0601 12.4494C14.2945 12.2149 14.6125 12.0833 14.944 12.0833ZM10.7773 12.0833C11.0246 12.0833 11.2662 12.1566 11.4718 12.2939C11.6774 12.4313 11.8376 12.6265 11.9322 12.8549C12.0268 13.0833 12.0516 13.3346 12.0033 13.5771C11.9551 13.8196 11.836 14.0423 11.6612 14.2171C11.4864 14.392 11.2637 14.511 11.0212 14.5592C10.7787 14.6075 10.5274 14.5827 10.299 14.4881C10.0706 14.3935 9.87536 14.2333 9.73801 14.0277C9.60065 13.8222 9.52734 13.5805 9.52734 13.3333C9.52734 13.0017 9.65904 12.6838 9.89346 12.4494C10.1279 12.2149 10.4458 12.0833 10.7773 12.0833ZM6.61068 12.0833C6.8579 12.0833 7.09958 12.1566 7.30514 12.2939C7.5107 12.4313 7.67092 12.6265 7.76553 12.8549C7.86014 13.0833 7.88489 13.3346 7.83666 13.5771C7.78843 13.8196 7.66938 14.0423 7.49456 14.2171C7.31975 14.392 7.09702 14.511 6.85454 14.5592C6.61206 14.6075 6.36073 14.5827 6.13232 14.4881C5.90391 14.3935 5.70869 14.2333 5.57134 14.0277C5.43399 13.8222 5.36068 13.5805 5.36068 13.3333C5.36068 13.0017 5.49237 12.6838 5.72679 12.4494C5.96121 12.2149 6.27916 12.0833 6.61068 12.0833Z"
              fill="#667C8A"></path>
            <path
              d="M16.6107 1.66667H15.7773V0.833333C15.7773 0.61232 15.6895 0.400358 15.5333 0.244078C15.377 0.0877974 15.165 0 14.944 0C14.723 0 14.511 0.0877974 14.3548 0.244078C14.1985 0.400358 14.1107 0.61232 14.1107 0.833333V1.66667H7.44401V0.833333C7.44401 0.61232 7.35621 0.400358 7.19993 0.244078C7.04365 0.0877974 6.83169 0 6.61068 0C6.38966 0 6.1777 0.0877974 6.02142 0.244078C5.86514 0.400358 5.77734 0.61232 5.77734 0.833333V1.66667H4.94401C3.83935 1.66799 2.78031 2.1074 1.99919 2.88852C1.21808 3.66963 0.778667 4.72867 0.777344 5.83333L0.777344 6.66667H20.7773V5.83333C20.776 4.72867 20.3366 3.66963 19.5555 2.88852C18.7744 2.1074 17.7153 1.66799 16.6107 1.66667Z"
              fill="#667C8A"></path>
          </g>
          <defs>
            <clipPath id="clip0_44_5373">
              <rect width="20" height="20" fill="white" transform="translate(0.777344)"></rect>
            </clipPath>
          </defs>
        </svg>

        <span class="edit__link__tooltip">Изменить дату</span>
      </a>

      <a type="button" class="edit__link" @click="$emit('delete')">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.2777 3.33332H15.6943C15.2956 1.39465 13.5902 0.0025 11.611 0H9.9443C7.96504 0.0025 6.25965 1.39465 5.86098 3.33332H3.27766C2.81742 3.33332 2.44434 3.70641 2.44434 4.16664C2.44434 4.62687 2.81742 5 3.27766 5H4.11098V15.8333C4.11375 18.1334 5.97762 19.9973 8.27766 20H13.2777C15.5777 19.9973 17.4416 18.1334 17.4443 15.8333V5H18.2777C18.7379 5 19.111 4.62691 19.111 4.16668C19.111 3.70645 18.7379 3.33332 18.2777 3.33332ZM9.94434 14.1667C9.94434 14.6269 9.57125 15 9.11102 15C8.65074 15 8.27766 14.6269 8.27766 14.1667V9.16668C8.27766 8.70645 8.65074 8.33336 9.11098 8.33336C9.57121 8.33336 9.9443 8.70645 9.9443 9.16668V14.1667H9.94434ZM13.2777 14.1667C13.2777 14.6269 12.9046 15 12.4443 15C11.9841 15 11.611 14.6269 11.611 14.1667V9.16668C11.611 8.70645 11.9841 8.33336 12.4443 8.33336C12.9046 8.33336 13.2777 8.70645 13.2777 9.16668V14.1667ZM7.58684 3.33332C7.94129 2.33523 8.8852 1.66793 9.94434 1.66664H11.611C12.6702 1.66793 13.6141 2.33523 13.9685 3.33332H7.58684Z"
            fill="#667C8A"></path>
        </svg>

        <span class="edit__link__tooltip">Удалить</span>
      </a>
      <!--      <a type="button" class="edit__link" @click="$emit('createCard')">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.6227 4.16667H14.9443V0.488333L18.6227 4.16667ZM19.111 5.83333V20H2.44434V2.5C2.44434 1.83696 2.70773 1.20107 3.17657 0.732233C3.64541 0.263392 4.28129 0 4.94434 0L13.2777 0V5.83333H19.111ZM14.111 11.6667H11.611V9.16667H9.94434V11.6667H7.44434V13.3333H9.94434V15.8333H11.611V13.3333H14.111V11.6667Z"
                  fill="#667C8A"></path>
              </svg>

              <span class="edit__link__tooltip">Создать карту плавки</span>
            </a>-->
    </div>

    <MassDateModal v-if="modal" @close="modal = false" @mass-date="massDate"/>
  </div>
</template>

<style scoped>

</style>
