<script>
import {mapActions} from "vuex";

export default {
  name: "Filterselector",
  data() {
    return {
      visible: false,
      selected: null,
    }
  },
  props: {
    data: {
      required: true,
    },
    title: {
      required: true,
      type: String
    },
  },
  methods: {
    changeVisible() {
      if (this.visible) {
        this.visible = false;
      }
    },
    select(item) {
      this.selected = item.name
      this.$emit('selected', item.id)
      this.visible = false;
    },
    clear() {
      this.visible = false;
      this.selected = null;
      this.$emit('selected', null)
    }
  }
}
</script>

<template>
  <div class="js-select select__wrapper" v-bind:class="{'-is-open':visible}" v-click-outside="changeVisible">
    <input type="hidden" class="js-select-value">
    <div class="d-flex align-items-center cursor-pointer js-select-box select__box" style="width: 180px;">
      <div class="flex-grow-1 js-select-text select__text text-center" @click="visible = !visible">{{ selected ? selected : title}}</div>
      <div class="flex-center select__box__icon">
        <svg v-show="selected != null" @click="clear" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.81687 6.06687L8.38375 7.5L9.81687 8.93313C10.0612 9.1775 10.0612 9.5725 9.81687 9.81687C9.695 9.93875 9.535 10 9.375 10C9.215 10 9.055 9.93875 8.93313 9.81687L7.5 8.38375L6.06687 9.81687C5.945 9.93875 5.785 10 5.625 10C5.465 10 5.305 9.93875 5.18313 9.81687C4.93875 9.5725 4.93875 9.1775 5.18313 8.93313L6.61625 7.5L5.18313 6.06687C4.93875 5.8225 4.93875 5.4275 5.18313 5.18313C5.4275 4.93875 5.8225 4.93875 6.06687 5.18313L7.5 6.61625L8.93313 5.18313C9.1775 4.93875 9.5725 4.93875 9.81687 5.18313C10.0612 5.4275 10.0612 5.8225 9.81687 6.06687ZM15 7.5C15 11.6356 11.6356 15 7.5 15C3.36437 15 0 11.6356 0 7.5C0 3.36437 3.36437 0 7.5 0C11.6356 0 15 3.36437 15 7.5ZM13.75 7.5C13.75 4.05375 10.9462 1.25 7.5 1.25C4.05375 1.25 1.25 4.05375 1.25 7.5C1.25 10.9462 4.05375 13.75 7.5 13.75C10.9462 13.75 13.75 10.9462 13.75 7.5Z" fill="#000"></path>
      </svg>
        <svg v-show="selected == null" @click="visible = !visible" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="#111112"></path> <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="black" fill-opacity="0.2"></path> <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="black" fill-opacity="0.2"></path> <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="black" fill-opacity="0.2"></path> <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="black" fill-opacity="0.2"></path> <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="black" fill-opacity="0.2"></path> <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="black" fill-opacity="0.2"></path> <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="black" fill-opacity="0.2"></path> <path d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z" fill="black" fill-opacity="0.2"></path></svg>
      </div>
    </div>
    <div class="js-select-list select__list">
      <div class="js-select-option select__list__option"  @click="select(item)" v-for="item in data" >{{ item.name}}</div>
    </div>
  </div>
</template>

<style scoped>

</style>
