<script>
import ProdPlanSubTableEmpty from "~/components/Prodplan/ProdPlanSubTableEmpty.vue";
import ProdPlanSubTableDone from "~/components/Prodplan/ProdPlanSubTableDone.vue";


export default {
  name: "ProdPlanTableDone",
  components: {ProdPlanSubTableEmpty, ProdPlanSubTableDone},
  props: {
    list: {
      required: true,
    },
  },
}
</script>

<template>
  <div class="d-flex prod-plan__table-block">
    <div class="prod-plan__table-block__content">
      <div class="prod-plan__table">
        <ProdPlanSubTableDone v-for="furnace in list"
                          v-show="list.length > 0"
                          :key="furnace.furnace_name"
                          :tasks="furnace.tasks"
                          :furnace-name="furnace.furnace_name"/>
        <ProdPlanSubTableEmpty v-show="list.length === 0"/>

      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
