<script>
import ChemicalComposition from "~/components/Prodplan/ChemicalComposition.vue";
import StatusSelector from "~/components/Prodplan/StatusSelector.vue";
import Editor from "~/components/Prodplan/Editor.vue";
import {mapActions} from "vuex";
import ProdPlanModal from "~/components/Prodplan/ProdPlanModal.vue";
import ProdPlanModalEdit from "~/components/Prodplan/ProdPlanModalEdit.vue";
import Editor2 from "~/components/Prodplan/Editor2.vue";
import EditorDisabled from "~/components/Prodplan/EditorDisabled.vue";

export default {
  name: "ProdPlanSubTableDone",
  components: {EditorDisabled, Editor2, ProdPlanModalEdit, ProdPlanModal, Editor, StatusSelector, ChemicalComposition},
  data() {
    return {
      selectedIds: [],
      modalEdit: false,
      editItem: null,
      editId: null,
    }
  },
  props: {
    tasks: {
      required: true,
    },
    furnaceName: {
      type: String,
      required: false,
    },
  },
  methods: {
    double() {
      this.$axios.post('v1/melting-task/mass-double', {
        ids: this.selectedIds
      }).then(response => {
        this.update();
      }).catch(function (error) {
        console.error(error);
      });
    },
    massDate(date) {
      this.$axios.post('v1/melting-task/mass-date', {
        ids: this.selectedIds,
        date: date
      }).then(response => {
        this.update();
      }).catch(function (error) {
        console.error(error);
      });
    },
    deleting() {
      this.$axios.post('v1/melting-task/mass-delete', {
        ids: this.selectedIds
      }).then(response => {
        this.update();
      }).catch(function (error) {
        console.error(error);
      });
    },
    card() {
      if (this.selectedIds.length > 0) {
        this.selectedIds.forEach((value, key) => {
          if (value) {
            this.$router.push('/prodplan/' + key)
          }
        })
      }
    },
    manySelected() {
      let selected = 0;
      this.selectedIds.forEach((value, key) => {
        if (value) {
          selected++;
        }
      })
      return selected;
    },
    editPlan() {
      if (this.selectedIds.length > 0) {
        this.selectedIds.forEach((value, key) => {
          if (value) {
            this.editId = key;
            this.modalEdit = true;
          }
        })
      }
    },
    update() {
      this.getOverdue();
      this.getDone();
      this.getPlanned();
      this.getWorking();
      this.getWithoutDate();
    },
    ...mapActions({
      getOverdue: 'melting_tasks/GET_OVERDUE',
      getDone: 'melting_tasks/GET_DONE',
      getPlanned: 'melting_tasks/GET_PLANNED',
      getWorking: 'melting_tasks/GET_WORKING',
      getWithoutDate: 'melting_tasks/GET_WITHOUT_DATE',
    }),
  }
}
</script>

<template>
  <div class="d-flex prod-plan__table-block">
    <div class="prod-plan__table-block__content">
      <div class="prod-plan__table">
        <table class="table table-borderless">
          <tr class="t-head">

            <th class="t-border-right-0">Дата выполнения</th>
            <th class="t-border-right-0"
                v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('technologist')">
              Выделить
            </th>
            <th class="position-relative tc-edit"
                v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('technologist')">
              <Editor v-if="manySelected() === 1"
                      @double="double"
                      @delete="deleting"
                      @mass-date="massDate"
                      @edit="editPlan"
                      @createCard="card"
                      :editId="editId"/>
              <Editor2 v-else-if="manySelected() > 1"
                       @double="double"
                       @delete="deleting"
                       @mass-date="massDate"
                       @edit="editPlan"
                       @createCard="card"
                       :editId="editId"/>
              <EditorDisabled v-else
                              @double="double"
                              @delete="deleting"
                              @mass-date="massDate"
                              @edit="editPlan"
                              @createCard="card"
                              :editId="editId"/>
            </th>
            <th>№ пл.</th>
            <th>ПЕЧЬ</th>
            <th>id Задания</th>
            <th class="status">Статус</th>
            <th>№ Карта пл.</th>
            <th>Плановая дата плавки</th>
            <th>Тип изделия</th>
            <th>Марка сплава</th>
            <th>Диметр</th>
            <th>ГОСТ / ТУ</th>
            <th>Маркировка</th>
            <th>Фильтр</th>
            <th>Вес ГП, кг</th>
            <th>Шихта</th>
            <th>Хим. состав</th>
          </tr>
          <tr v-for="task in tasks" class="t-body" :key="task.id">
            <td>{{ task.melting_done_date }}</td>
            <td class="t-border-left-0 t-border-right-0"
                v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('technologist')">
              <label :for="'choose'+task.id" class="checkbox">
                <input v-model="selectedIds[task.id]" type="checkbox" :id="'choose'+task.id" name="">
                <span class="checkbox__text"></span>
              </label>
            </td>
            <td
              v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('technologist')">
            </td>
            <td>{{ task.daily_melting_number }}</td>
            <td>{{ task.furnace.name }}</td>
            <td>{{ task.id }}</td>
            <td
              v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')">
              <status-selector :value="task.status_for_interface" :data="task.statuses_for_interface"
                               :change-uri="'/v1/melting-task/'+ task.id" @update-status="$emit('update')"/>
            </td>
            <td v-else>{{ task.status_for_interface }}</td>
            <td
              v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')">
              <router-link :to="'/prodplan/' + task.id">{{
                  task.card_created ? task.number : 'Создать карту плавки'
                }}
              </router-link>
            </td>
            <td v-else-if="task.card_created">
              <router-link :to="'/prodplan/' + task.id">{{
                  task.card_created ? task.number : 'Создать карту плавки'
                }}
              </router-link>
            </td>
            <td v-else>
              Карта плавки не создана
            </td>
            <td>{{ task.planned_melting_date }}</td>
            <td>{{ task.product_type.name }}</td>
            <td>{{ task.chemical_composition.alloy_grade.name }}</td>
            <td>{{ task.diameter ? task.diameter.name : '-' }}</td>
            <td>{{ task.chemical_composition.technical_condition.name }}</td>
            <td>{{ task.mark.name }}</td>
            <td>{{ task.filter ? 'Да' : 'Нет' }}</td>
            <td>{{ task.weight }}</td>
            <td>
              <div v-for="charge in task.charges">{{ charge.name }} - {{ charge.weight }} кг</div>
            </td>
            <td class="position-relative">
              <ChemicalComposition :chemical-composition="task.chemical_composition"/>
            </td>
          </tr>
          <ProdPlanModalEdit v-if="modalEdit && editId" @close="modalEdit = false" @update-prod-plan="update"
                             :id="editId"/>
        </table>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
