<script>
import ProdPlanSubTable from "~/components/Prodplan/ProdPlanSubTable.vue";
import ProdPlanSubTableEmpty from "~/components/Prodplan/ProdPlanSubTableEmpty.vue";
import ProdPlanSubTableIndex from "~/components/Prodplan/ProdPlanSubTableIndex.vue";


export default {
  name: "ProdPlanTableIndex",
  components: {ProdPlanSubTableIndex, ProdPlanSubTableEmpty, ProdPlanSubTable},
  props: {
    list: {
      required: true,
    },
  },
}
</script>

<template>
  <div class="d-flex prod-plan__table-block">
    <div class="prod-plan__table-block__content">
      <div class="prod-plan__table">
        <ProdPlanSubTableIndex :tasks="list" @update="$emit('update')"/>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
