<script>
import ProdPlanSubTable from "~/components/Prodplan/ProdPlanSubTable.vue";
import ProdPlanSubTableEmpty from "~/components/Prodplan/ProdPlanSubTableEmpty.vue";


export default {
  name: "ProdPlanTablePlanned",
  components: {ProdPlanSubTableEmpty, ProdPlanSubTable},
  props: {
    list: {
      required: true,
    },
    date: {
      required: true,
    },
  },
}
</script>

<template>
  <div>
  <div class="d-flex prod-plan__table-block" v-if="list.length">
    <div class="prod-plan__table-block__date">
      <div class="prod-plan__table-block__date__in">
        <div class="prod-plan__table-block__date__title">Дата</div>
        <div class="prod-plan__table-block__date__value">{{date}}</div>
      </div>
    </div>
    <div class="prod-plan__table-block__content">
      <div class="prod-plan__table">
        <ProdPlanSubTable v-for="furnace in list"
                          :key="furnace.furnace_name"
                          :tasks="furnace.tasks"
                          :furnace-name="furnace.furnace_name"
                          @update="$emit('update')"/>
      </div>
    </div>
  </div>
    <div class="d-flex prod-plan__table-block" v-else>
      <div class="prod-plan__table-block__content">
        <div class="prod-plan__table">
          <ProdPlanSubTableEmpty :date="date"/>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
