<script>
import ChemicalComposition from "~/components/Prodplan/ChemicalComposition.vue";
import StatusSelector from "~/components/Prodplan/StatusSelector.vue";
import Editor from "~/components/Prodplan/Editor.vue";
import {mapActions} from "vuex";

export default {
  name: "ProdPlanSubTableEmpty",
  components: {Editor, StatusSelector, ChemicalComposition},
  props: {
    date: null,
  }
}
</script>

<template>
  <table class="table table-borderless">
    <tr class="t-head">
<!--      <th class="table__title" colspan="17">{{ furnaceName }}</th>-->
    </tr>
    <tr class="t-head">

      <th style="width: 80px" v-if="date">Дата</th>
      <th>Выделить</th>
      <th>№ пл.</th>
      <th>ПЕЧЬ</th>
      <th>id Задания</th>
      <th class="status">Статус</th>
      <th>№ Карта пл.</th>
      <th>Дата плавки</th>
      <th>Тип изделия</th>
      <th>Марка сплава</th>
      <th>Диметр</th>
      <th>ГОСТ / ТУ</th>
      <th>Маркировка</th>
      <th>Фильтр</th>
      <th>Вес ГП, кг</th>
      <th>Шихта</th>
      <th>Хим. состав</th>
    </tr>
    <tr class="t-body">
      <td v-if="date">{{date}}</td>
      <td class="t-border-left-0" colspan="16">
        <br>
        <h1>Задания на производство отсутствуют</h1>
      </td>
    </tr>
  </table>

</template>

<style scoped>

</style>
