<script>
import ProdPlanSubTable from "~/components/Prodplan/ProdPlanSubTable.vue";
import ProdPlanSubTableEmpty from "~/components/Prodplan/ProdPlanSubTableEmpty.vue";


export default {
  name: "ProdPlanTable",
  components: {ProdPlanSubTableEmpty, ProdPlanSubTable},
  props: {
    list: {
      required: true,
    },
  },
}
</script>

<template>
  <div class="d-flex prod-plan__table-block">
    <div class="prod-plan__table-block__content">
      <div class="prod-plan__table">
        <ProdPlanSubTable v-for="furnace in list"
                          v-show="list.length > 0"
                          :key="furnace.furnace_name"
                          :tasks="furnace.tasks"
                          :furnace-name="furnace.furnace_name"
                          @update="$emit('update')"/>
        <ProdPlanSubTableEmpty v-show="list.length === 0"/>

      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
