<script>
import ChemicalComposition from "~/components/Prodplan/ChemicalComposition.vue";
import StatusSelector from "~/components/Prodplan/StatusSelector.vue";
import Editor from "~/components/Prodplan/Editor.vue";
import {mapActions} from "vuex";
import ProdPlanModal from "~/components/Prodplan/ProdPlanModal.vue";
import ProdPlanModalEdit from "~/components/Prodplan/ProdPlanModalEdit.vue";

export default {
  name: "ProdPlanSubTableIndex",
  components: {ProdPlanModalEdit, ProdPlanModal, Editor, StatusSelector, ChemicalComposition},
  data() {
    return {
      selectedIds: [],
      modalEdit: false,
      editItem: null,
      editId: null,
    }
  },
  props: {
    tasks: {
      required: true,
    },
  },
  methods: {
    double() {
      this.$axios.post('v1/melting-task/mass-double', {
        ids: this.selectedIds
      }).then(response => {
        this.update();
      }).catch(function (error) {
        console.error(error);
      });
    },
    massDate(date) {
      this.$axios.post('v1/melting-task/mass-date', {
        ids: this.selectedIds,
        date:date
      }).then(response => {
        this.update();
      }).catch(function (error) {
        console.error(error);
      });
    },
    deleting() {
      this.$axios.post('v1/melting-task/mass-delete', {
        ids: this.selectedIds
      }).then(response => {
        this.update();
      }).catch(function (error) {
        console.error(error);
      });
    },
    editPlan() {
      if (this.selectedIds.length > 0) {
        this.selectedIds.forEach((value, key) => {
          if (value) {
            this.editId = key;
            this.modalEdit = true;
          }
        })
      }
    },
    update() {
      this.getOverdue();
      this.getPlanned();
      this.getWorking();
      this.getWithoutDate();
    },
    ...mapActions({
      getOverdue: 'melting_tasks/GET_OVERDUE',
      getPlanned: 'melting_tasks/GET_PLANNED',
      getWorking: 'melting_tasks/GET_WORKING',
      getWithoutDate: 'melting_tasks/GET_WITHOUT_DATE',
    }),
  }
}
</script>

<template>
  <table class="table table-borderless">
    <tr class="t-head">

      <th>№ пл.</th>
      <th>ПЕЧЬ</th>
      <th>id Задания</th>
      <th class="status">Статус</th>
      <th>№ Карта пл.</th>
      <th>Дата плавки</th>
      <th>Тип изделия</th>
      <th>Марка сплава</th>
      <th>Диметр</th>
      <th>ГОСТ / ТУ</th>
      <th>Маркировка</th>
      <th>Фильтр</th>
      <th>Вес ГП, кг</th>
      <th>Шихта</th>
      <th>Хим. состав</th>
    </tr>
    <tr v-for="task in tasks" class="t-body" :key="task.id">
      <td>{{ task.daily_melting_number }}</td>
      <td>{{ task.furnace.name }}</td>
      <td>{{ task.id }}</td>
      <td v-if="$auth.user.user.roles.includes('admin') || $auth.user.user.roles.includes('master') || $auth.user.user.roles.includes('technologist')">
        <status-selector :value="task.status_for_interface" :data="task.statuses_for_interface"
                         :change-uri="'/v1/melting-task/'+ task.id" @update-status="$emit('update')"/>
      </td>
      <td v-else>{{task.status_for_interface}}</td>
      <td>{{ task.number }}</td>
      <td>{{ task.planned_melting_date }}</td>
      <td>{{ task.product_type.name }}</td>
      <td>{{ task.chemical_composition.alloy_grade.name }}</td>
      <td>{{ task.chemical_composition.diameter ? task.chemical_composition.diameter.name : '-' }}</td>
      <td>{{ task.chemical_composition.technical_condition.name }}</td>
      <td>{{ task.mark.name }}</td>
      <td>{{ task.filter ? 'Да' : 'Нет' }}</td>
      <td>{{ task.weight }}</td>
      <td><div v-for="charge in task.charges">{{charge.name}} - {{charge.weight}} кг</div></td>
      <td class="position-relative">
        <ChemicalComposition :chemical-composition="task.chemical_composition"/>
      </td>
    </tr>
  </table>

</template>

<style scoped>

</style>
