<script>
import {mapActions} from "vuex";

export default {
  name: "StatusSelector",
  data() {
    return {
      visible: false,
    }
  },
  props: {
    data: {
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    changeUri: {
      type: String,
      required: true,
    },
  },
  methods: {
    changeVisible() {
      if (this.visible) {
        this.visible = false;
      }
    },
    ...mapActions({
      getOverdue: 'melting_tasks/GET_OVERDUE',
      getDone: 'melting_tasks/GET_DONE',
      getPlanned: 'melting_tasks/GET_PLANNED',
      getWorking: 'melting_tasks/GET_WORKING',
      getWithoutDate: 'melting_tasks/GET_WITHOUT_DATE',
    }),
    updateStatus(key) {
      this.$axios.patch(this.changeUri, {
        'status': key,
      }).then(response => {
        this.$emit('update-status')
      }).catch(function (error) {
        console.log(error);
      });
      this.update();
    },
    update() {
      this.getOverdue();
      this.getDone();
      this.getPlanned();
      this.getWorking();
      this.getWithoutDate();
    }
  }
}
</script>

<template>
  <div v-bind:class="{'-is-open': visible}" class="js-select select__wrapper" @click="visible = !visible"
       v-click-outside="changeVisible">
    <input type="hidden" class="js-select-value">
    <div class="d-flex align-items-center cursor-pointer js-select-box select__box">
      <div class="flex-grow-1 js-select-text select__text text-center">{{ value }}</div>
      <div class="flex-center select__box__icon">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="#111112"/>
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="black" fill-opacity="0.2"/>
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="black" fill-opacity="0.2"/>
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="black" fill-opacity="0.2"/>
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="black" fill-opacity="0.2"/>
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="black" fill-opacity="0.2"/>
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="black" fill-opacity="0.2"/>
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="black" fill-opacity="0.2"/>
          <path
            d="M5.34487 7.5H14.6549C14.8197 7.50004 14.9807 7.54893 15.1178 7.6405C15.2548 7.73207 15.3615 7.8622 15.4246 8.01445C15.4877 8.1667 15.5042 8.33423 15.472 8.49586C15.4399 8.65748 15.3605 8.80595 15.244 8.9225L10.589 13.5775C10.4328 13.7337 10.2208 13.8215 9.99987 13.8215C9.7789 13.8215 9.56698 13.7337 9.41071 13.5775L4.75571 8.9225C4.6392 8.80595 4.55986 8.65748 4.52772 8.49586C4.49558 8.33423 4.51208 8.1667 4.57514 8.01445C4.6382 7.8622 4.74498 7.73207 4.88199 7.6405C5.019 7.54893 5.18008 7.50004 5.34487 7.5Z"
            fill="black" fill-opacity="0.2"/>
        </svg>
      </div>
    </div>
    <div class="js-select-list select__list">
      <div v-for="(status, key) in data" class="js-select-option select__list__option" @click="updateStatus(key)">
        {{ status }}
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
